<%= content_tag(:div, flash[:notice], :class => 'notice') if flash[:notice] %>
<%= content_tag(:div, flash[:error], :class => 'error') if flash[:error] %>
<% if current_user && @page.has_permission_for?('edit', current_user, 'website') %>
  <%= link_to_function image_tag('icons/pencil.png', :style => "border: 0px;"), "page_body(); show_or_hide_body_edit('block','none'); " %>
  <%# onclick="Effect.SwitchOff('show');Effect.Appear('edit', { queue: 'end' });%>
  <%= link_to 'Back', '/' %>
  <div id="body_edit" style="display:none;overflow:auto;padding-bottom: 20px;">
    <% form_for :page, :url => '', :builder => BlankFormBuilder  do |f| -%>
        <%#= f.advanced_editor :body, {:label => "", :width => "#{@website.body_size.split('x')[0]}px",:height => "#{@website.body_size.split('x')[1]}px"} %>
        <div class="advancedEditor"><textarea ajax="false" cols="40" id="page_body" name="page[body]" rows="20"><%= @page.body %></textarea></div>

      <button type="submit" class="submit_button"><%= I18n.t('general.button.update') %></button>
      <button type="button" class="submit_button" onclick="show_or_hide_body_edit('none','block')"><%= I18n.t('general.button.cancel') %></button>
    <% end %>
  </div>
<% end %>

<div id="page_body_show" style="display:block;">
  <%#= translate_text(@page.body) %>
  <%= @page.body %>
  <br /><br />
</div>
<%= render :partial => @partial_to_render %>
<% if  current_user && @page.has_permission_for?('edit', current_user, 'website') %>
<%
if !@current_website.body_size.to_s.blank?
  width, height = @current_website.body_size.split('x')[0], @current_website.body_size.split('x')[1]
else
  width, height = '730', '350'
end
css_files = []
  Dir["public/website_files/#{@current_website.title}/stylesheets/*.css"].collect do |uploaded_css|
    css_files << "#{uploaded_css.split("public")[1]}"
  end
#    css_files = '/fckeditor/css/test_fck.css' if css_files.empty?
css_files = '/stylesheets/fckeditor.css' if css_files.empty?
%>
<script type="text/javascript" src="/fckeditor/fckeditor.js"></script>

<br /><br />

<script>
  function show_or_hide_body_edit(edit_body,show_body){
    document.getElementById('body_edit').style.display = edit_body;
    document.getElementById('page_body_show').style.display = show_body;
  }
  function page_body(){
    //<![CDATA[
    var oFCKeditor = new FCKeditor('page_body', "<%=width%>px", "<%=height%>px") ;
    oFCKeditor.Config['EditorAreaCSS'] = "<%=css_files%>" ;
    oFCKeditor.BasePath = "/fckeditor/" ;
    oFCKeditor.Config['ImageUploadURL'] = "/fckuploads?item_type=Page&id=<%= @page.id %>&type=Image";
    oFCKeditor.Config['FlashUploadURL'] = "/fckuploads?item_type=Page&id=<%= @page.id %>&type=Video";
    oFCKeditor.Config['LinkUploadURL'] = "/fckuploads?item_type=Page&id=<%= @page.id %>&type=Link";
    oFCKeditor.Config['DefaultLanguage'] = '<%= I18n.locale.split('-')[0] %>' ;
    oFCKeditor.ReplaceTextarea() ;

    //]]>

  }
</script>
<% end %>
