<div id="form_new">
	<% form_for @current_object, :html => {:multipart => true}, :builder => LabelFormBuilder do |f| -%>
		
		<%= f.text_field :title, :label => "Titre :" %>
		
		<%= f.tags_field :string_tags, :label => "Tags (séparés par des espaces):" %>
		
		<p>
			<%= f.label :file_path, 'Fichier :' %>
			<%= error_message_on :artic_file, :file_path %><br/>
			<%= File.basename(@current_object.file_path) + '<br />' if @current_object.file_path %>
			<%= file_column_field 'audio', 'file_path' %>
		</p>
		
		<%= f.text_area :description, :label => 'Description :' %>
		<script type="text/javascript">
			bkLib.onDomLoaded(function() {
				new nicEditor({iconsPath : '/images/nicEditorIcons.gif'}).panelInstance('audio_description');
			});
		</script>
		
		<%= item_status_fields(f, @current_object) %>
	
		<%= f.submit current_object.new_record? ? 'Créer ce fichier' : 'Mettre à jour' %>
	
	<% end -%>
</div>
