<% item_show( :title => I18n.t('general.audio'),  :object => @current_object ) do %>
	<h2><%=I18n.t('general.audio')%></h2>
        <div id ="progress">
            <% if @current_object.state=="encoded" %>
              <%= render :partial => "player" %>
            <% elsif @current_object.state=="encoding"%>
              <%= render :partial => "status" %>
            <% else %>
               <%= @current_object.state.capitalize %>
           <% end %>
          </div>
	<br /><br /><%= link_to I18n.t('general.download'), @current_object.audio.url.split("?")[0] %><br />
<% end %>