<!--<h1>Log In</h1>

<% form_tag session_path do -%>
<p><label for="login">Login</label><br/>
<%= text_field_tag 'login', @login %></p>

<p><label for="password">Password</label><br/>
<%= password_field_tag 'password', nil %></p>

 Uncomment this if you want this functionality
<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
<%= link_to 'password forgotten', forgot_password_path %>
<% end %>
-->

<html>
	<head>
		<%= stylesheet_link_tag "application.css" %>
		<%= stylesheet_link_tag "login.css" %>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>BLANK - Login</title>
	</head>
	<body>
		<div id="content_login">
			<% @logo = Picture.find_by_name('logo') %>
			<% if (@logo.picture_path) %>
				<%= image_tag(url_for_file_column(@logo, 'picture_path', 'thumb')) %>
			<% else %> 
				<img src="images/logo_intranet_login.png" alt="BLANK">
			<% end %>
    	<% form_tag session_path do -%>
                <p style="color:red"><%=flash[:error]%></p>
				<label><%=I18n.t('login.login')%><br>
				<%= text_field_tag 'login', @login %></label>
				<br>
				<p>
					<label><%=I18n.t('login.password')%><br>
    			<%= password_field_tag 'password' %></label>
				</p>
				<div id="area_BUTTONS" class="buttons">
	        <button type="submit" class="positive">
	        <img src="images/tick.png" alt=""/><%=I18n.t('login.connexion')%></button>
	      </div>
          <label for="remember_me"><%=I18n.t('login.remember_me')%>:</label>
          <%= check_box_tag 'remember_me', '1', @remember_me %><br />
          <%= link_to I18n.t('login.password_forgotten'), forgot_password_path %>
			<% end %>
		</div>
	</body>
</html>