<!--<h1>Log In</h1>

<% form_tag session_path do -%>
<p><label for="login">Login</label><br/>
<%= text_field_tag 'login', @login %></p>

<p><label for="password">Password</label><br/>
<%= password_field_tag 'password', nil %></p>

 Uncomment this if you want this functionality
<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
<%= link_to 'password forgotten', forgot_password_path %>
<% end %>
-->

<html>
	<head>
		<%= stylesheet_link_tag "application.css" %>
		<%= stylesheet_link_tag "login.css" %>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <% @logo = Picture.find_by_name('logo') %>
    <link rel="shortcut icon" href="<%= @logo.favicon.url(:thumb) %>"/>
		<title>BLANK - Login</title>
	</head>
	<body>
		<div id="content_login">
			<% if @logo.picture_file_name %>
				<%= image_tag(@logo.picture.url(:medium)) %>
			<% else %> 
				<img src="images/login_logo.png" alt="BlankLogin">
			<% end %>
    	<% form_tag session_path do -%>
                <p style="color:red"><%=flash[:error]%></p>
				<label><%=I18n.t('user.session.login_label')%><br>
				<%= text_field_tag 'login', @login %></label>
				<br>
				<p>
					<label><%=I18n.t('user.session.password_label')%><br>
    			<%= password_field_tag 'password' %></label>
				</p>

           <button type="submit" class="submit_button"><%=I18n.t('user.session.login_button')%></button><br />
          <label for="remember_me"><%=I18n.t('user.session.remember_me')%>:</label>
          <%= check_box_tag 'remember_me', '1', @remember_me %><br />
          <%= link_to I18n.t('user.session.password_forgotten'), forgot_password_path %>
		


			<% end %>
		</div>
	</body>
</html>