<!--<h1>Log In</h1>

<% form_tag session_path do -%>
<p><label for="login">Login</label><br/>
<%= text_field_tag 'login', @login %></p>

<p><label for="password">Password</label><br/>
<%= password_field_tag 'password', nil %></p>

 Uncomment this if you want this functionality
<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
<% end %>
-->

<html>
	<head>
		<%= stylesheet_link_tag "application.css" %>
		<%= stylesheet_link_tag "login.css" %>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>ARTIC - Login</title>
	</head>
	<body>
		<div id="content_login">
			<% @logo = Picture.find_by_name('logo') %>
			<% if !(@logo.picture_path.nil? || @logo.picture_path.blank?) %>
				<%= image_tag(url_for_file_column(@logo, 'picture_path', 'thumb')) %>
			<% else %> 
				<img src="images/logo_intranet_login.png" alt="ARTIC" width="168" height="80">
			<% end %>
    	<% form_tag session_path do -%>
                                <p style="color:red"><%=flash[:error]%></p>
				<label>Identifiant<br>
				<%= text_field_tag 'login', @login %></label>
				<br>
				<p>
					<label>Mot de passe<br>
    			<%= password_field_tag 'password' %></label>
				</p>
				<div id="area_BUTTONS" class="buttons">
	        <button type="submit" class="positive">
	        <img src="images/tick.png" alt=""/>Connexion</button>          
	      </div>
			<% end %>
		</div>
	</body>
</html>