<%= image_tag('/images/icons/action_mailer_setting.png') %>
<h1><%= "Action Mailer Settings" %></h1>
<br />

<% form_for :mailer_config, @mailer_config, :url => updating_superadmin_action_mailer_settings_path,
  :html => {:method => :put, :multipart => true, :class => "fieldsetSimulation"} do |f| -%>
  <label>Address:</label>
  <div class="formElement"><%= f.text_field :sa_mailer_address %></div>

  <label>Domain Name :</label>
  <div class="formElement"><%= f.text_field :sa_mailer_domain %></div>

  <label>Port :</label>
  <div class="formElement"><%= f.text_field :sa_mailer_port %></div>

  <label>Username</label>
  <div class="formElement">
    <div class="formElement"><%= f.text_field :sa_mailer_user_name %></div>
  </div>

  <label>Password</label>
  <div class="formElement">
    <div class="formElement"><%= f.password_field :sa_mailer_password %></div>
  </div>

  <label>Authentication</label>
  <div class="formElement">
    <%= f.select :sa_mailer_authentication, ['none', 'plain', 'login', 'cram_md5'],{},{} %>
  </div>


  <div class="centerButton"><button type="submit" class="submit_button"><%=I18n.t('general.button.update')%></button></div>



<% end %>