<fieldset>
  <legend><%= I18n.t('people.new.title') %></legend>

  <% form_for @person,:builder => BlankFormBuilder, :html => {:multipart=> true} do |f| -%>
    <%= f.text_field :email, :label => I18n.t('people.field.email_label') +" * : " %>
    <%= f.text_field :first_name, :label => I18n.t('people.field.first_name_label') +" : " %>
    <%= f.text_field :last_name, :label => I18n.t('people.field.last_name_label') +" : " %>
    <%= f.select :gender, %w(Male Female), :label => I18n.t('people.field.gender_label') +" : " %>
    
    <%= f.text_field :primary_phone, :label => I18n.t('people.field.primary_phone_label') +" : " %>
    <%= f.text_field :mobile_phone, :label => I18n.t('people.field.mobile_phone_label') +" : " %>
    <%= f.text_field :fax, :label => I18n.t('people.field.fax_label') +" : " %>
    <%= f.text_field :street, :label => I18n.t('people.field.street_label') +" : " %>
    <%= f.text_field :city, :label => I18n.t('people.field.city_label') +" : " %>
    <%= f.text_field :postal_code, :label => I18n.t('people.field.postal_code_label') +" : " %>
    <%= f.country_select :country,:label => I18n.t('people.field.country_label') +" : " %>
    <%= f.text_field :company, :label => I18n.t('people.field.company_label') +" : " %>
    <%= f.text_field :job_title, :label => I18n.t('people.field.job_title_label') +" : " %>
    <%= f.text_field :web_page, :label => I18n.t('people.field.web_page_label') +" : " %>
    <%= f.text_area :notes, :size => "40x6", :label => I18n.t('people.field.notes_label') +" : "%>
    <%= f.check_box :newsletter ,:label => I18n.t('people.field.newsletter_lable')+" : "%>
	<% button_text = current_object.new_record? ? I18n.t('general.button.create') : I18n.t('general.button.update') %>
    <button type="submit" class="submit_button"><%= button_text%></button>
  <% end %>

</fieldset>
