<h1><%= I18n.t('people.index.title') %></h1>
<%= image_tag ("/images/icons/add.png", :width => "30")%><%= link_to I18n.t('people.index.add_new_person'), new_person_path %>
<%= image_tag ("/images/icons/spreadsheet.png", :width => "20")%><%= link_to I18n.t('people.index.import_people_from_csv'), import_people_people_path %> 

<div id="people_list">
  <%= render :partial => 'person' %>
</div>

<h2><%= I18n.t('people.index.export_people_to_csv') %> </h2>
<% form_for :type, :url=>{:controller=>"people", :action=>"export_people"} do |f| -%>
        <%= f.check_box :creation , :class => "checkboxes"%> Created from back <br />
        <%= f.check_box :imported_from_csv, :class => "checkboxes" %> Imported from CSV <br /><br />
       <%= submit_tag "Export" %>
<% end %>