
<h2> <%= I18n.t('people.index.title') %> </h2> <%= link_to I18n.t('people.index.add_new_person'), new_person_path %> | <%= link_to I18n.t('people.index.import_people_from_csv'), import_people_path  %> | <%= link_to I18n.t('people.index.export_people_to_csv') , export_people_path %>
<br /><br />
<table  cellspacing="5">
  <tr>
    <th> <%= I18n.t('people.field.email_label') %> </th>
    <th><%= I18n.t('people.index.name') %></th>
    <th><%= I18n.t('people.index.subscribed_on') %></th>,
    <th> </th>
  </tr>

  <% @current_objects.each do |person| %>
  <tr>
    <td> <%= person.email %></td>
    <td><%=person.first_name%> <%= person.last_name%></td>
    <td> <%= I18n.l person.created_at, :format => :long %> </td>
    <td align="right"> | <%= link_to I18n.t('general.link.display'), person_path(person) %> | <%= link_to I18n.t('general.link.edit'), edit_person_path(person) %> | <%= link_to I18n.t('general.link.delete'), person_path(person), :method => :delete, :confirm => I18n.t('people.index.delete_confirm') %> | </td>
  </tr>
  <% end %>
</table>
	
	
	
	<%#= will_paginate @current_objects %>

</ul>