<% form_for_item @current_object, title do |f| -%>

  <% is_copyright = (@current_object.state == 'copyright') ? true : false %>

  <%= f.text_field :link, :label => I18n.t('publication.field.link_label') +" : " , :readonly => is_copyright%>
  <%#= f.text_field :authors, :label => I18n.t('publication.field.author_label').pluralize + " : ", :readonly => is_copyright %>
  <% if is_copyright %>
    <%= f.datetime_select :date_published, :label => I18n.t('publication.field.published_date_label') + " :", :readonly => is_copyright %>
    <%= f.datetime_select :last_updated, :label =>  I18n.t('publication.field.last_updated_label') + " :", :readonly => is_copyright %>
  <% else %>
    <div>(<%= I18n.t('publication.new.automatic_date_field') %>)</div>
  <% end %>
  <%= f.text_field :categories, :label =>  I18n.t('publication.field.categories_label').pluralize + " : ", :readonly => is_copyright %>
  <%= f.text_field :copyright, :label =>  I18n.t('publication.field.copyright_label') + " : ", :readonly => is_copyright %>

  <% f.field :file_path, :label =>  I18n.t('publication.field.ssosiated_file_label') + ' :' do %>
    <%= file_column_field 'publication', 'file_path' %>
  <% end %>
  
<% end %>
