<% form_for_item @current_object do |f| -%>
	<%= f.text_area :body, :label => 'Corps :' %>
	<%= advanced_editor_on(@current_object, :body) %>
	
	<h2>Fichiers associés:</h2>
	<div id="files">
		<% @current_object.article_files.each do |af| %>
			<div id="file<%= af.id.to_s %>">
				<%= af.file_path.split('/').last %>
				<%= link_to "Télécharger", url_for_file_column(af, :file_path) %> 
				<%= link_to_remote "Supprimer", :url => { :action => "removeFile", :id => af.id }, :success => "$(file#{af.id.to_s}.remove())" %>
			</div>
		<% end %>
	</div>

	<%= link_to_new_file 'Joindre un nouveau fichier' %>
<% end -%>
