<% form_for_item @current_object, title do |f| -%>

  <%= f.advanced_editor(:body, :label => I18n.t('article.field.article_label')+ ' * :', :hint => I18n.t('article.field.article_hint')) %>

  <% f.field :article_files, :label => I18n.t('article.field.assosiated_file_label')+ ' :' do %>
    <div id="files">
      <% @current_object.article_files.each do |af| %>
        <div id="file<%= af.id.to_s %>">
          <%= af.articlefile.url.split('/').last.split("?")[0] %>
          <%= link_to I18n.t('general.button.download'), af.articlefile.url.split("?")[0] %>
          <%= link_to_remote I18n.t('general.button.delete'), :url => { :action => "removeFile", :id => af.id }, :success => "$(file#{af.id.to_s}.remove())" %>
        </div>
      <% end %>
    </div>
    <%= link_to_new_file I18n.t('article.field.add_new_file') %><br />
  <% end %>
<% end -%>

