<h1>Fichier</h1>

<p>
	Titre : <%= @current_object.title %><br />
	Description : <%= @current_object.description %><br />
	Introduction : <%= @current_object.introduction %><br />
	Conclusion : <%= @current_object.conclusion %><br />
	Corps : <%= @current_object.body %><br />
	Etat : <%= @current_object.private ? 'Privé' : 'Public' %><br />
	Fichiers joints :<br />
	<% @current_object.article_files.each do |af| %>
		<%= af.file_path.split('/').last %><%= link_to "Télécharger", url_for_file_column(af, :file_path) %><br />
	<% end %>
</p>

<%= link_to "Mise à jour", edit_object_path %>