<script type='text/javascript'>

function translate_it(lang){
 if (window.location.href.indexOf('?') > 1 ) {
        window.location.href = window.location.href.split('?')[0] + "?sl=" + lang  ;
    }else{
        window.location.href = window.location.href + "?sl=" + lang ;
    }
}

</script>

<% item_show( :title => 'Article',  :object => @current_object ) do %>

  <%#= @current_object.body %>
  <%= select "translate", "lang", ['en','fr','es'],{:include_blank => true, :selected => params[:sl]}, {:onchange => "translate_it(this.value)"}%>
  <%= translate_text(@current_object.body)%>
  <% if @current_object.article_files.size > 0 %>
    <h2><%= image_tag 'icons/attach.png'%><%=I18n.t('article.field.assosiated_file_label')%></h2>
  <div id="attachement">
    <ul>
      <% @current_object.article_files.each do |af| %>
        <li>
          <% if af.articlefile.file? %>
            <%= af.articlefile.url.split('/').last.split("?")[0] %>
            <%= link_to  I18n.t('general.button.download'), af.articlefile.url.split("?")[0] %>
          <% else %>
             <%=I18n.t('item.common_word.corrupted_file')%>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <% end %>
<% end %>

