<% item_show( :title => 'Article',  :object => @current_object ) do %>
  <h2> <%=I18n.t('general.article')%></h2>
  
  <%= @current_object.body %>
  
  <% if @current_object.article_files.size > 0 %>
    <h2> <%=I18n.t('general.associated_file')%></h2>
    <ul>
      <% @current_object.article_files.each do |af| %>
        <li>
          <% if af.file_path %>
            <%= af.file_path.split('/').last %>
            <%= link_to  I18n.t('general.download'), url_for_file_column(af, :file_path) %>
          <% else %>
             <%=I18n.t('file.corrupted_file')%>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>