<% item_show( :title => 'Article',  :object => @current_object ) do %>
  <%= @current_object.body %>
  
  <% if @current_object.article_files.size > 0 %>
  <div id="attachement">
    <h2><%= image_tag 'icons/attach.png'%><%=I18n.t('general.associated_file')%></h2>
    <ul style="list-style-type:none;">
      <% @current_object.article_files.each do |af| %>
        <li>
          <% if af.articlefile.file? %>
            <%= af.articlefile.url.split('/').last.split("?")[0] %>
            <%= link_to  I18n.t('general.download'), af.articlefile.url.split("?")[0] %>
          <% else %>
             <%=I18n.t('file.corrupted_file')%>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <% end %>
<% end %>