<div class="area_WS" style="margin-bottom:20px;">
  <fieldset>
    <% form_for @workspace, :builder => BlankFormBuilder ,:html => { :multipart => true } do |f| -%>
      <% f.field :logo, :label => I18n.t('workspace.field.logo_label') + " :" do %>
        <%= File.basename(@workspace.logo_file_name) + '<br />' if @workspace.logo_file_name %>
        <%= file_field 'workspace', 'logo' %>
      <% end %>
      <%= f.text_field :title, :label => I18n.t('workspace.field.title_label')+" * : " %>
      <%= f.advanced_editor :description, :label => I18n.t('workspace.field.description_label') +' : ' %>
      <% if @workspace.state != 'private' %>
        <%= f.select :state, get_sa_config['sa_ws_types'].map{ |e| [I18n.t('workspace.type.'+e), e] }, :label => I18n.t('workspace.field.state_label')+' :' %>
      <% else %>
        <%= f.select :state, [I18n.t('workspace.type.private'), 'private'], :label => I18n.t('workspace.field.state_label')+' :', :disabled => (@workspace.state == 'private') %>
      <% end %>
      <br /><br />
      <% if @current_object.new_record? || check=@current_object.accepts_administration_for?(@current_user) %>
          <%= f.label I18n.t('workspace.edit.workspace_configuration')+" : " %><br />
          <% if @sa_conf["sa_items"].size > 0 %>
            <%= I18n.t('workspace.edit.available_items') %> :<br />
            <%= checkboxes_from_list(@sa_conf["sa_items"], "items", @current_object, "ws_") %>
            <br />
          <% end %>
          <% if @sa_conf["sa_item_categories"].size > 0 %>
            <%= I18n.t('workspace.edit.available_item_categories')+" : " %><br />
            <%= checkboxes_from_list(@sa_conf["sa_item_categories"], "item_categories", @current_object, "ws_") %>
            <br />
          <% end %>
      <% end %>

      <h4><%=I18n.t 'workspace.edit.associated_user'%></h4>
      <% if !@current_object.new_record? %>
        <% if check %>
          <div id="users">
            <% @current_object.users_workspaces.each do |object| %>
              <%= render :partial => 'user', :object => object %>
            <% end %>
          </div>
        <% else %>
          <div id="users">
            <% @current_object.roles.uniq.each do |r| %>
              <%= I18n.t('general.role.'+r.name)%> :
              <% @current_object.users_by_role(r.name).each do |u| %>
                <%= link_to u.full_name+', ', user_path(u.id) %>
              <% end %><br />
            <% end %>
          </div>
        <% end %>
      <div class="clear"></div>
      <% else %>
        <h4><%=I18n.t 'workspace.edit.associated_user'%></h4>
        <%=I18n.t 'workspace.new.add_user_text'%>
      <% end %>
      
      <br /><br />
      
      <% text_button = (current_object.new_record? ?  I18n.t('general.button.create_a_new_workspace') : I18n.t('general.button.save') )%>
      <button type="submit" class="submit_button"><%= text_button %></button>
      
      <div class="clear"></div>
      
    <% end -%>
  </fieldset>
</div>

<% if !@current_object.new_record? %>
<% if @current_object.accepts_administration_for?(@current_user) %>
<div id="newuser">
  <fieldset>
  <legend><%= I18n.t('workspace.add_user.title') %></legend><br>
    
    <% form_for :user,  :builder => BlankFormBuilder do |f| %>
    
      <%= f.text_field :login, :ajax => false, :label => I18n.t('workspace.add_user.name')+' :' %>
      <div id="autocomplete_choices" class="autocomplete"></div>
      <script>
        new Ajax.Autocompleter("user_login", "autocomplete_choices","/users/index",{
          method: 'post', paramName: 'login'
        });
      </script>
  
      <%= f.select(I18n.t('workspace.add_user.role'), @roles.collect { |r| [I18n.t('general.role.'+r.name), r.id]}) %>
    
      <%= button_to_function I18n.t('general.button.add'), %{
            new Ajax.Request("#{add_new_user_workspace_path(params[:id])}", {
              parameters: {
                user_login: $('user_login').value,
                user_role: $('user_Role').value
              },
              method: 'get',
              asynchronous:true,
              evalScripts:true
            })
          } %>
      
    <% end %>
  </fieldset>
</div>
<% end %>
<% end %>
