<% form_for @workspace, :builder => LabelFormBuilder do |f| -%>
		
	<%= f.text_field :name, :label => "Nom de l'espace de travail" %>

	<h2>Utilisateurs associés:</h2>
	<div id="users">
		<% @current_object.users_workspaces.each do |object| %>
			<%= render :partial => 'user', :object => object %>
                        
		<% end %>
	</div>
	
	<br /><br />
	<%= f.submit(current_object.new_record? ?  "Créer cet espace de travail" : "Sauvegarder") %>

<% end -%>


<div id="newuser">
<%= text_field_tag :user_login %>
<%= content_tag :div, nil, :class => "autocomplete" %>
<%=select_tag(:user_role, options_from_collection_for_select(Role.find(:all), "id", "name"))%>
<%= button_to_function "Greeting", "new Ajax.Request('/add_new_user?user_login='+$('user_login').value+'&user_role='+$('user_role').value, {method:'get', asynchronous:true, evalScripts:true})" %>
</div>

