<div class="area_WS" style="margin-bottom:20px;">
  <fieldset>
    <% form_for @workspace, :builder => ArticFormBuilder do |f| -%>
      <%= f.text_field :title, :label => "Nom de l'espace de travail : " %>
      <%= f.advanced_editor :description, :label => 'Description : ' %>
      
      <br /><br />
      
      <h4><%=I18n.t 'workspace.associated_users'%></h4>
      <div id="users">
        <% @current_object.users_workspaces.each do |object| %>
        <%= render :partial => 'user', :object => object %>
        <% end %>
      </div>
      <div class="clear"></div>
      <br /><br />
      
      <% text_button = (current_object.new_record? ?  I18n.t('workspace.create_a_new_workspace') : I18n.t('workspace.save') )%>
      <div class="buttons">
        <button type="submit" class="positive alone"><img src="/images/tick.png" alt=""/><%= text_button %></button>
      </div>
      
      <div class="clear"></div>
      
    <% end -%>
  </fieldset>
</div>

<div id="newuser">
  <fieldset>
  <legend><%=I18n.t('workspace.add_new_user')%></legend><br>
    
    <% form_for :user,  :builder => ArticFormBuilder do |f| %>
    
      <%= f.text_field :login, :ajax => false, :label => 'Nom :' %>
      <div id="autocomplete_choices" class="autocomplete"></div>
      <script>
        new Ajax.Autocompleter("user_login", "autocomplete_choices","/users/index",{
          method: 'post', paramName: 'login'
        });
      </script>
  
      <%= f.select(:role, Role.find(:all).collect { |r| [r.name, r.id]}) %>
    
      <%= button_to_function "Add", %{
            new Ajax.Request("#{add_new_user_workspace_path(params[:id])}", {
              parameters: {
                user_login: $('user_login').value,
                user_role: $('user_role').value
              },
              method: 'get',
              asynchronous:true,
              evalScripts:true
            })
          } %>
      
    <% end %>
  </fieldset>
</div>

