
    <% form_for @workspace, :builder => BlankFormBuilder ,:html => { :multipart => true } do |f| -%>
	  <%= File.basename(@workspace.logo_file_name) + '<br />' if @workspace.logo_file_name %>	
	  <%= f.text_field :title, :label => I18n.t('workspace.field.title_label')+" * : " %>	
      <% f.field :logo, :label => I18n.t('workspace.field.logo_label') + " :" do %>
        <%= file_field 'workspace', 'logo' %>
      <% end %>
      <%= f.advanced_editor :description, :label => I18n.t('workspace.field.description_label') +' : ' %>
      <% if (list=@workspace.ws_available_types.split(',')).size > 1 %>
        <%= f.select :state, list.map{ |e| [I18n.t('workspace.type.'+e), e] }, :label => I18n.t('workspace.field.state_label')+' :' %>
      <% end %>
      <% if @current_object.new_record? || check=@current_object.accepts_administrate_for?(@current_user) %>
          <h2><%= I18n.t('workspace.edit.workspace_configuration') %></h2>
          <% if @configuration["sa_items"].size > 0 %>
            <label><%= I18n.t('workspace.edit.available_items') %> :</label>
            <div class="formElement"><%= checkboxes_from_list(@configuration["sa_items"], "ws_items", @current_object, 'workspace') %></div>
          <% end %>
          <% if @configuration["sa_item_categories"].size > 0 %>
            <label><%= I18n.t('workspace.edit.available_item_categories')+" : " %></label>
            <div class="formElement"><%= checkboxes_from_list(@configuration["sa_item_categories"], "ws_item_categories", @current_object, 'workspace') %></div>
            
          <% end %>
          <% if @workspace.state != 'private' %>
            <% if @configuration["sa_ws_types"].size > 0 %>
              <label><%= I18n.t('workspace.edit.available_ws_types')+" : " %></label>
              <div class="formElement"><%= checkboxes_from_list(@configuration["sa_ws_types"], "ws_available_types", @current_object, 'workspace') %></div>
            <% end %>
          <% end %>
      <% end %>
	<br/>
	  <h2><%=I18n.t 'workspace.edit.associated_user'%></h2>
      <% if !@current_object.new_record? %>
        <% if check %>
          <div id="users">
            <% @current_object.users_workspaces.each do |object| %>
              <%= render :partial => 'user', :object => object %>
            <% end %>
          </div>
        <% else %>
          <div id="users">
            <% @current_object.roles.uniq.each do |r| %>
              <%= I18n.t('general.role.'+r.name)%> :
              <% @current_object.users_by_role(r.name).each do |u| %>
                <%= link_to u.full_name+', ', user_path(u.id) %>
              <% end %><br />
            <% end %>
          </div>
        <% end %>
      <% else %>
		  <div class="CommonMessageFull"><%=I18n.t 'workspace.new.add_user_text'%></div>
      <% end %>
      
      <% text_button = (current_object.new_record? ?  I18n.t('general.button.create_a_new_workspace') : I18n.t('general.button.save') )%>
      <button type="submit" class="submit_button"><%= text_button %></button>
    <% end -%>

<% if !@current_object.new_record? %>
<% if @current_object.accepts_administrate_for?(@current_user) %>
 	<h2><%= I18n.t('workspace.add_user.title') %></h2>
    
    <% form_for :user,  :builder => BlankFormBuilder do |f| %>
      <%= f.text_field :login, :ajax => false, :label => I18n.t('workspace.add_user.name')+' :' %>
      <div id="autocomplete_choices" class="autocomplete"></div>
      <script>
        new Ajax.Autocompleter("user_login", "autocomplete_choices","/users/autocomplete_on",{
          method: 'post', paramName: 'login'
        });
      </script>

     <%= f.select :role, @roles.collect { |r| [I18n.t('general.role.'+r.name), r.id]}, :label => 'Role :' %> 
     <div class="smallSubmitContainer"><%= button_to_function I18n.t('general.button.add'), %{
            if($('user_login').value != 0){
            new Ajax.Request("#{add_new_user_workspace_path(params[:id])}", {
              parameters: {
                user_login: $('user_login').value,
                user_role: $('user_role').value
              },
              method: 'get',
              asynchronous:true,
              evalScripts:true,
              onSuccess:function(request){ $('user_login').value = '';}
            })
          }}, :class => "smallSubmit"%>

	 </div>  
    <% end %>
<% end %>
<% end %>