<% form_for @workspace, :builder => LabelFormBuilder do |f| -%>
	
	<%= f.hidden_field :creator, :value => self.current_user.id %>
	
	<%= f.text_field :name, :label => "Nom de l'espace de travail" %>

	<h2>Utilisateurs associés:</h2>
	<div id="users">
		<% @current_object.users_workspaces.each do |object| %>
			<%= new_user(object) %>
		<% end %>
	</div>
		
	<%= link_to_new_user 'Ajouter un utilisateur' %>
	
	<br /><br />
	<%= f.submit(current_object.new_record? ?  "Créer cet espace de travail" : "Sauvegarder") %>

<% end -%>