		<% GenericItem.from_workspace(@workspace.id).latest.each do |item| %>
			<li class="clear">
				<div>
					<%= image_tag(item.icon, :align => 'left', :width => '20') %>
					<a href="<%=item_path(item)%>" id="<%= item.class.to_s %>_<%=item.id%>"><%=item.title%></a>
				</div>
				<div id="tip_<%= item.class.to_s %>_<%=item.id%>" style="display:none;">
					<div class="tooltip_infos">
						<p class="title_tip"><%= item.title%></p>
						<p><%= link_to_user(item.user) %></p>
						<p><%= I18n.l item.created_at, :format => :long %></p>
						<p>
							<%= item.comments_number%>
						  	<%= item.comments_number > 1 ? I18n.t("item.common_word.comment").pluralize : I18n.t("item.common_word.comment")%>
						</p>
						<p><%= item_rate_locked(item) %></p>
						<p class="description_tip"><%= item.description%></p>
					</div>
					<div class="tooltip_actions">
						<%= link_to image_tag('icons/comments.png'), item_path(item) + "#new_comment_form_box" %>
						<% if @current_object.accepts_edit_for?(@current_user)  %>
							<%= link_to image_tag('icons/pencil.png'), edit_item_path(item)%>
					    <% end %>
					</div>
				</div>

				<script type='text/javascript'>
					//<![CDATA[
						new Tip('<%= item.class.to_s %>_<%= item.id%>', $('tip_<%= item.class.to_s %>_<%=item.id%>'),
								{ target:  $('tip_<%= item.class.to_s %>_<%=item.id%>').up('div'),
								  effect: 'appear',
						 		  duration: 0.2,
								  delay:0,
								  hook: { target: 'rightTop', tip: 'leftMiddle' },
								  hideOn: { element: 'tip', event: 'mouseout' },
								  hideOthers: 'true',
								  hideAfter: 3,
								  offset:{ x: 0, y: 0 },
								  width: 300
								});
					//]]>
				</script>
			</li>
		<% end %>