<% if @workspace && !@workspace.new_record? %>

<h1><%= @workspace.name %></h1>

<%= link_to 'Articles',		workspace_articles_url(@workspace.id) %>	<br />
<%= link_to 'Images',		workspace_images_url(@workspace.id) %> 	<br />
<%= link_to 'Audios',		workspace_audios_url(@workspace.id) %><br />
<%= link_to 'Videos',		workspace_videos_url(@workspace.id) %><br />
<%= link_to 'Fichiers',		workspace_artic_files_url(@workspace.id) %><br />
Publications

<% end %>