<%
	if current_workspace
		items = GenericItem.from_workspace(current_workspace.id)
        feed_items = FeedItem.from_workspace(current_workspace.id)
	else
		items = GenericItem.consultable_by(current_user.id)
        feed_items = FeedItem.consultable_by(current_user.id)
	end
 %>
 
<h2><%=I18n.t('home.index.top_five_item')%></h2>
 <ul id="top_five_tabs">  
	<li class="top_tabs" id="last">
		<%= image_tag('/images/icons/last.png')%>
		<a href="#one"><%=I18n.t('workspace.show.last_five_item')%></a>
	</li>
    <li class="top_tabs" id="rated">
    	<%= image_tag('/images/icons/rate.png', :width => '24')%>
    	<a href="#two"><%=I18n.t('home.index.best_rated')%></a>
	</li>
    <li class="top_tabs" id="feed">
    	<%= image_tag('/images/item_icons/feed_source.png', :width => '24')%>
    	<a href="#three"><%=I18n.t('home.index.feed_item')%></a>
	</li>
	<li class="top_tabs" id="commented">
		<%= image_tag('/images/icons/comments.png', :width => '24')%>
		<a href="#four"><%=I18n.t('home.index.most_commented')%></a>
	</li>
</ul>
<div id="top_five_content">
  <div id="one">
    <ul>
	  	<%= render 	:partial => "workspaces/latest" -%>
  	</ul>
  </div>
  <div id="two">
    <ul>
  	<%= render 	:partial => "items/item_in_top_box",
				:locals =>{:type_of_list => 'rated'},
  				:collection => items.best_rated.to_a -%>
  	</ul>
  </div>
  <div id="four">
    <ul>
  	<%= render 	:partial => "items/item_in_top_box",
  				:collection => items.most_commented.to_a, 
				:locals => {:type_of_list => 'comments'} -%>
  	</ul>
  </div>
  <div id="three">
    <ul>
    <% if feed_items.latest.size > 0 -%>	
  	<%= render 	:partial => "items/feed_item_in_top_box",
  				:collection => feed_items.latest.to_a -%>
	<% else -%>
		<li><%=I18n.t('workspace.show.no_feed_items')%></li>
	<% end -%>
  	</ul>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
	new Control.Tabs('top_five_tabs'); 
</script>