<div class="user">
	<% new_or_existing = user.new_record? ? 'new' : 'existing' %> 
	<% prefix = "workspace[#{new_or_existing}_user_attributes][]" %>

	<% fields_for prefix, user do |user_form| -%>

		<%= error_message_on user, :user, "L'utilisateur ", '<br />' %>
    <%= label_tag :role_id, object.user.login, :class => "user_role" %>
    <%= user_form.hidden_field :user_id, :value => object.user.id %>
		<%= user_form.select :role_id, Role.find(:all, :conditions => { :type_role => 'workspace'}).collect { |r| [I18n.t('general.role.'+r.name), r.id] } %>
                
	<% end %>
	
	<%= link_to_function I18n.t('general.button.delete'), "$(this).parentNode.remove()" %>

	<br/>
</div>