    <h4>
		<%= object.title %>
   		<%= link_to image_tag("/images/icons/play.png", :width => "20"), workspace_path(object.id) %>
    	<% if object.has_permission_for?('edit', @current_user) %>
      		<%= link_to image_tag("/images/icons/pencil.png", :width => "20"), edit_workspace_path(object.id) %>
    	<% end %>
    	<% if object.has_permission_for?('destroy', @current_user) %>
      		<%= link_to image_tag("/images/icons/delete.png", :width => "20"), workspace_path(object.id), :method => :delete, :confirm =>  I18n.t('item.destroy.delete_conform')%>
    	<% end %>
	</h4>
	<ul>
    <% object.roles.uniq.each do |r| %>
		<li>
      		<%= I18n.t('general.role.'+r.name)%> :
      		<% object.users_by_role(r.name).each do |u| %>
        		<%= link_to u.full_name+', ', user_path(u.id) %>
      		<% end %>
		</li>
  	<% end %>
    </ul>