<div id="area_TITLE">
	<h1>
		<%=I18n.t('general.workspace')%> <%= @current_object.title %>
	</h1>
	<span class="txt_80_666"><%= @current_object.description %></span>
</div>

<div class="area_LEFT">
	<h2><%=I18n.t('workspace.last_five_items')%></h2>
	<ul class="top-box">
	<% GenericItem.from_workspace(@current_object.id).latest.each do |item| %>
		<li>
			<%= image_tag(item.icon) %>&nbsp;
			<%= link_to_item(item) %></br>
			<%=I18n.t('general.by')%> 
			<%= link_to_user(item.user) %>
			<%=I18n.t('general.on1')%> 
			<%= I18n.l item.created_at, :format => :long %> - </br>
			<%= item.comments.count %> <%=I18n.t('general.comment').pluralize%> -
			<%= item_rate_locked(item) %>
		</li>
	<% end -%>
	</ul>
</div>
<div class="area_RIGHT">
  <%= render :partial => "items/top_box" %>
</div>
<div class="clear"></div>
<div class="area_BOTH" style="margin-top: 20px;">
  <%= render :partial => "items/tab_list" %>
</div>
