<div id="area_TITLE">
	<h1>
		<%=I18n.t('workspace.show.title')%> <%= @current_object.title %>
	</h1>
	<span class="txt_80_666"><%= @current_object.description %></span>

	<% if @workspace.creator == self.current_user %>
      <%= I18n.t('workspace.other.administrator_of_workspace') %>, <%= I18n.t('general.common_word.click') %> <%= link_to I18n.t('general.common_word.here'), edit_workspace_path(@workspace.id) %> <%= I18n.t('workspace.other.to_manage_it') %>.<br/>
    <% else %>
    <% if false %>
      <h2> <%= I18n.t('workspace.show.your_subscription')%> </h2>
      <%= I18n.t('workspace.other.subscription_txt1')%> <%= user.role %>.<br />
      <%= I18n.t('workspace.other.subscription_txt2')%>.<br />
      <%= link_to I18n.t('workspace.show.unsubscription'), unsubscription_workspace_path(@workspace.id) %><br />
    <% else %>
      <% if @current_object.state == 'Public' %>
        <h2> <%= I18n.t('workspace.show.public_workspace')%></h2>
        <%= I18n.t('workspace.other.public_workspace_txt1')%>.<br />
        <%= link_to I18n.t('workspace.show.subscription_as_reader'), subscription_workspace_path(@workspace.id) %><br />
        <%= I18n.t('workspace.other.public_workspace_txt2')%>.<br />
      <% end %>
    <% end %>
    <br />
    <% if @current_object.state == 'Public' || @current_object.state == 'mi_public' %>
      <h2><%= I18n.t('workspace.other.request_to_workspace_administrator')%> </h2>
      <%= I18n.t('workspace.other.request_to_workspace_administrator_txt1')%>.<br />
      <% form_for :question, :url => question_workspace_path(@workspace.id) do |f| %>
        <%= f.select :type, [I18n.t('workspace.other.request_to_workspace_administrator_option1'), I18n.t('workspace.other.request_to_workspace_administrator_option2')] %><br />
        <%= f.text_area :msg, :size => '50x5' %><br />
        <%= f.submit I18n.t('general.button.send_request') %><br />
      <% end %>
    <% end %>
    <% end %>
</div>
 <div class="area_LEFT">
  <%= render :partial => "workspaces/latest" %>
</div>
<div class="area_RIGHT">
  <%= render :partial => "items/top_box" %>
</div>
<div class="area_BOTH" onmouseover="javascript:Tips.hideAll()">
  <%= render :partial => "items/tab_list" %>
</div>
