<div id="area_TITLE">
	<% if @workspace.creator == self.current_user %>
		<h1><%= link_to @current_object.title, edit_workspace_path(@workspace.id) %></h1>
	<%else%>
		<h1><%= @current_object.title %></h1>
	<%end%>
	<span class="txt_80_666"><%= @current_object.description %></span>
</div>
 <div class="area_LEFT">
	<h2><%=I18n.t('workspace.last_five_items')%></h2>
	<ul>
		<% GenericItem.from_workspace(@current_object.id).latest.each do |item| %>
			<p>
				<div>
					<%= image_tag(item.icon, :align => 'left') %>
					<%= link_to_item(item) %>
				</div>
				<div>
					par
					<%= link_to_user(item.user) %>
					le
					<%= I18n.l item.created_at, :format => :long %>
				</div>
				<div style="float:left">
					<%= item.comments.count %>
					<%=I18n.t('general.comment')%> -
				</div>
				<div style="float:left"><%= item_rate_locked(item) %></div>
				<div style="clear:both">
				</div>
			</p>
		<% end %>
	</ul>
</div>
<div class="area_RIGHT">
  <%= render :partial => "items/top_box" %>
</div>
<div class="clear"></div>
<div class="area_BOTH">
  <%= render :partial => "items/tab_list" %>
</div>
