<div id="area_TITLE">
	<h1>
		<%=I18n.t('general.workspace')%> <%= @current_object.title %>
	</h1>
	<span class="txt_80_666"><%= @current_object.description %></span>
</div>

<div class="area_LEFT">
	<h2><%=I18n.t('workspace.last_five_elements')%></h2>
	<ul>
		<% GenericItem.from_workspace(@current_object.id).latest.each do |item| %>
			<p>
				<div>
					<%= image_tag(item.icon) %>
					<%= link_to_item(item) %>
				</div>
				<div>
					par
					<%= link_to_user(item.user) %>
					le
					<%= I18n.l item.created_at, :format => :long %>
				</div>
				<div style="float:left">
					<%= item.comments.count %>
					<%=I18n.t('general.comments')%> -
				</div>
				<div style="float:left"><%= item_rate_locked(item) %></div>
				<div style="clear:both">
				</div>
			</p>
		<% end %>
	</ul>
</div>
<div class="area_RIGHT">
  <%= render :partial => "items/top_box" %>
</div>
<div class="clear"></div>
<div class="area_BOTH" style="margin-top: 20px;">
  <%= render :partial => "items/tab_list" %>
</div>
