<h1>Espace <%= @current_object.name %></h1>

<h2>Utilisateurs associés:</h2>

<% @current_object.users_workspaces.each do |uw| %>
	<%= uw.user_login %>: <%= Role.find(uw.role_id).name %> <br />
<% end %>

<%= item_list :workspace_id => @current_object.id %>

<br /><br />

<% if permit?("admin") %>
	<%= link_to "Mettre à jour", edit_object_path(@current_object) %>
<% end %>

<br /><br />

<%= link_to "Retour sur le profil", user_path(@current_user) %>