<div id="content_bis">
	<div id="area_TITLE">
		<h1>
			Espace <%= @current_object.name %>
		</h1>
		<span class="txt_80_666"><%= @current_object.description %></span>
	</div>
	
	<h2>5 derniers éléments</h2>
	<ul>
		<% GenericItem.from_workspace(@current_object).latest.each do |item| %>
			<li>
				<%= item.title %>
			</li>
		<% end %>
	</ul>
	
	<%= render :partial => "items/top_box" %>
	
	<%= render :partial => "items/tab_list" %>
	<div class="clear"></div>
</div>