<% item_show( :title => 'Newsletter',  :object => @current_object ) do %>

  <%= @current_object.body %>

  <fieldset id="send_newsletter_form">
  	<form id="send_newsletter" class="new_comment" method="post" action="<%= current_workspace ? workspace_path(current_workspace.id)+send_to_a_group_newsletter_path(@current_object) : send_to_a_group_newsletter_path(@current_object) %>">
      <label><%= I18n.t('newsletter.send_newsletter.send_newsletter_to_user_list') %></label>
      <input type="hidden" name="newsletter_id" value="<%= @current_object.id %>">
	  <div class="formElement">
	      <select name="group_id" id="group_id">
	        <option value="0">--------------</option>
	        <%for group in @groups %>
	          <option value="<%=group.id%>"> <%=group.title%> </option>
	        <% end %>
	      </select>
	  </div>
      <button type="submit" class="submit_button" onclick="if($('group_id').value == 0){return false;}" > <%= I18n.t('newsletter.send_newsletter.send_newsletter') %></button>
    </form>
	<div id="sent_to">
	<% if @current_object.groups_newsletters.size > 0 -%>
	  
	    <h2><%= I18n.t('newsletter.send_newsletter.sent_to') %></h2>
	    <% for g_n in @current_object.groups_newsletters %>
          <% if g_n.group %>
            <%= link_to g_n.group.title, workspace_group_path(g_n.group.workspace.id, g_n.group_id) %> <%= I18n.t('general.common_word.on1') %> <%= I18n.l g_n.sent_on, :format => :long %> <br />
          <% end %>
	    <% end %>
	  
	<% else -%>
		<%= I18n.t('newsletter.show.not_already_sent') %>
    <% end-%>
	</div>
  </fieldset>
<% end %>
