<h1>Administration</h1>

ADMINISTRATION GLOBALE :<br />
<% if current_user.system_role == "Admin" %>
	<li><%= link_to 'Ajouter un utilisateur', new_user_path %></li>
<% end %>

<br />
_________________________________
<br />

ADMINISTRATION DES WORKSPACES :<br />
<% @workspaces.each do |w| %>
	<%= w.name %>														<br />
	Administrateur de l'espace : 	<%= link_to_user(w.creator) %>		<br />
	Modérateurs : 					<%= user_list_of(w, :moderators) %>	<br />
	Rédacteurs : 					<%= user_list_of(w, :writters) %>	<br />
	Lecteurs : 						<%= user_list_of(w, :readers) %>	<br />
	<br />
	<%= link_to "Gérer les droits et utilisateurs de cet espace", edit_workspace_path(w.id) %>
	<br /><br />
<% end %>

_________________________________
<br />

<div id="new_workspace">
	<%= render :partial => "workspaces/new" %>
</div>




