<%= superadmin_tabs_generator() %>

<div class="objectList">
	<div class="blockCornerLeft"></div><div class="blockElementHeader sevH">
		<span id="item_count">Mailer Settings</span>
	</div><div class="blockCornerRight"></div>

	<div class="contentList superadmin">
		<% form_for :mailer_config, 
					@mailer_config, 
					:url => updating_superadmin_mailer_settings_path,
					:html => {:method => :put, :multipart => true} do |f| -%>
		  
		
			<label>Address:</label>
		  	<div class="formElement"><%= f.text_field :sa_mailer_address %></div>

		  	<label>Domain Name:</label>
		  	<div class="formElement"><%= f.text_field :sa_mailer_domain %></div>

		  	<label>Port:</label>
		  	<div class="formElement"><%= f.text_field :sa_mailer_port %></div>

		  	<label>Username:</label>
		  	<div class="formElement"><%= f.text_field :sa_mailer_user_name %></div>

		  	<label>Password:</label>
		  	<div class="formElement"><%= f.password_field :sa_mailer_password %></div>

		  	<label>Authentication:</label>
		  	<div class="formElement">
		    	<%= f.select :sa_mailer_authentication, ['none', 'plain', 'login', 'cram_md5'],{},{} %>
		  	</div>

		  	<button type="submit" class="submitButton"><span><%=I18n.t('general.button.update')%></span></button>
		<% end %>
	</div>
</div>