<% if @current_object.new_record? %>
  <fieldset>
    <legend><img src="/images/item_icons/<%= @current_object.class.to_s %>_add.png"/><%= title  %></legend>
    <% form_for @current_object, :builder => BlankFormBuilder, :html => {:method => :post} do |f| %>
      <%= f.text_field :url, :label => I18n.t('feed_source.field.url_label')+" : " ,:hint => I18n.t('feed_source.field.url_hint') %>
      <div id="loading" style="display:none;float:right">
        <img src="/images/loading.gif">
      </div>
      <%= button_to_function(I18n.t("feed_source.what_to_do.new_rss_feed_check"), :onclick =>"check_feed()" ,:class => 'smallSubmit leftAlign') %>
      <%= item_workspaces_checkboxes(f, @current_object) %>
      <%= error_message_on :current_object, :items %>
      <%= submit_tag I18n.t('general.button.create'), :class => "submit_button", :disabled => true, :id => "submit_button" %>
    <% end %>
  </fieldset>
<% else %>
  <% form_for_item @current_object, title do |f| %>

    <% is_copyright = (@current_object.state == 'copyright') ? true : false %>
    <div id="add_keyword">
      <%= f.text_field :url, :label => I18n.t('feed_source.field.url_label')+" : " ,:readonly => true %>
      <div id="loading" style="display:none;float:right">
        <img src="/images/loading.gif">
      </div>
      <%#= button_to_function(I18n.t("feed_source.what_to_do.new_rss_feed_check"), :onclick =>"check_feed()" ,:class => 'smallSubmit leftAlign') %>
    </div>
    <%#= f.text_field :authors, :label => I18n.t('feed_source.field.author_label')+" : ", :readonly => is_copyright %>
    <%= f.text_field :copyright, :label => I18n.t('feed_source.field.copyright_label')+" : ", :readonly => is_copyright %>
    <% if is_copyright %>
      <%= f.datetime_select :last_updated, :label => I18n.t('feed_source.field.last_updated_label')+" :", :readonly => is_copyright %>
    <% else %>
      <div class="CommonMessage"><%=I18n.t('feed_source.new.automatic_date_field')%></div>
    <% end %>
  <% end  %>
<% end %>
