<div class="itemInList">
	<div class="itemInListDate">
		<%= I18n.l item.date_published, :format => :verb %>
	</div>
	<div class="itemInListBody">
		<div class="itemInListTitle feed">
			<%= link_to item.title, item.link, :popup=>['new_window'] %>
		</div>
		<div class="itemInListActions">
			<%= link_to I18n.t('feed_source.show.add_bookmark'), new_admin_bookmark_path(:feed_item_id => item.id) %>
		</div>
		<div class="feedDescription"><%= item.description %></div>
		<div class="itemInListTags"><%= object.categories %></div>
	</div>
</div>