<% form_for ['admin',current_object], :builder => BlankFormBuilder, :html => {:method => :post} do |f| %>

<div class="itemShowLeft">
	<div class="itemShowLeftDate">
		<%= I18n.l Time.now, :format =>:verb %>
	</div>
	<div class="itemShowLeftBody">
		<h1><%= title  %></h1>
		
		<%= f.text_field 	:url, 
							:label => I18n.t('feed_source.field.url_label')+" : " ,
							:hint => I18n.t('feed_source.field.url_hint') %>

		<button id="submit_button" class="submitButton" type="submit">
		   	<span><%= I18n.t('general.button.create')%></span>
		</button>
				
		
	</div>
</div>

<div class="rightBlocks">
  <% CONTAINERS.each do |container| %>
	  <div class="itemShowRightBlock">
		  <div class="blockCornerLeft"></div><div class="blockElementHeader twoH">
			  <%= I18n.t("item.show.associated_#{container}") %>
		  </div><div class="blockCornerRight"></div>
		  <div class="blockElementBody">
			  <%= item_containers_checkboxes(f, current_object, container) %>
		  </div>
      </div>
  <% end %>
</div>
<% end %>

     
