<div id="classify_bar">
  <% if !params[:item_type].nil? && (current_workspace ? @current_user.has_workspace_permission(current_workspace.id, params[:item_type].singularize, 'new') : @current_user.has_system_permission(params[:item_type].singularize, 'new')) %>
		<a href="<%= new_item_path(params[:item_type].downcase.singularize)%>"><%= I18n.t('layout.application.add_content')%><span><img src='/images/ddownDownArrow.gif'></span></a>
  <% end %>


  	<% if @paginated_objects.first && ordering_fields_list -%>
		<a class="filter" onclick="javascript:dropdown();">Filter<span><img src='/images/ddownDownArrow.gif'></span></a>
		<ul id="ddown" style="display:none;">
			<% params[:by] ||= 'created_at-desc' %>
			<% ordering_fields_list.each do |filter| -%>
				<% if params[:by].split('-').first == filter -%>
					<% if (params[:by].split('-').last == 'asc') -%>
						<li class="currentUp"><%= link_to_function I18n.t('layout.search.filter_'+filter),
			               "new Ajax.Updater('#{refreshed_div}', '#{safe_url(ajax_url, ["by=#{filter}-desc"])}', {method:'get', asynchronous:true, evalScripts:true})" %>
					<%else -%>
						<li class="currentDown"><%= link_to_function I18n.t('layout.search.filter_'+filter),
		               "new Ajax.Updater('#{refreshed_div}', '#{safe_url(ajax_url, ["by=#{filter}-asc"])}', {method:'get', asynchronous:true, evalScripts:true})" %>					
					<% end -%>

				<% else -%>
					<li><%= link_to_function I18n.t('layout.search.filter_'+filter),
		               "new Ajax.Updater('#{refreshed_div}', '#{safe_url(ajax_url, ["by=#{filter}-desc"])}', {method:'get', asynchronous:true, evalScripts:true})" %>
				<%end -%>
				</li>
			<% end -%>
		</ul>
	<% end -%>
</div>
