<div id="classify_bar">
	<div class="filterDrop">
		<a class="filter"><%= I18n.t('layout.application.add_content')%><span><img src='/images/ddownDownArrow.gif'></span></a>
		<ul class="ddown" style='display:none;'>
		<% ITEMS.each do |item|	-%>
			<li>
				<a href="<%= new_item_path(item.downcase.singularize)%>">
					<%= item.capitalize%>
				</a>
			</li>
		<% end -%>
		</ul>
	</div>

  	<% if @paginated_objects.first && ordering_fields_list -%>
	<div class="filterDrop">
		<a class="filter">Filter<span><img src='/images/ddownDownArrow.gif'></span></a>
		<ul class="ddown" style='display:none;'>
			<% params[:by] ||= 'created_at-desc' %>
			<% ordering_fields_list.each do |filter| -%>
				<% if params[:by].split('-').first == filter -%>
					<% if (params[:by].split('-').last == 'asc') -%>
						<% url = safe_url(ajax_url, ["by=#{filter}-desc"]) %>
						<li class="currentUp"><%= link_to_function I18n.t('layout.search.filter_'+filter), :onclick => "classify_bar('##{refreshed_div}','#{url}')"
			                %>
					<%else -%>
						<%  url = safe_url(ajax_url, ["by=#{filter}-asc"]) %>
						<li class="currentDown"><%= link_to_function I18n.t('layout.search.filter_'+filter), :onclick => "classify_bar('##{refreshed_div}','#{url}')" %>					
					<% end -%>

				<% else -%>
					<% url = safe_url(ajax_url, ["by=#{filter}-desc"]) %>
					<li><%= link_to_function I18n.t('layout.search.filter_'+filter), :onclick => "classify_bar('##{refreshed_div}','#{url}')" %>
				<%end -%>
				</li>
			<% end -%>
		</ul>
	</div>
	<% end -%>
</div>
