<%= display_tabs_objects_list(  :default_tab => params[:item_type],
    :tabs_list => get_allowed_item_types(current_container),
    :url_base => 'ajax_items_path') %>

<div class="objectListWithTab">
    <div class="blockCornerLeft"></div><div class="blockElementHeader sevH">
		<div class="filter">Filter : <input id="filter" /></div>
        <div id="itemsNumber">showing&nbsp;<span id="number_of_item"><%= @total_objects_count%></span>&nbsp;of <%= @total_objects_count%> items</div>
        <div id="classify_bar">
            <%= render :partial => 'admin/blank_lists/classify_bar' %>

        </div>
    </div><div class="blockCornerRight"></div>

    <div class="contentList filtered" >
		<ul id="pure_item_list">
			<% if @paginated_objects.first %>
				<%= render :partial => '/admin/blank_lists/pure_item_list'%>
			<% else %>
		    	<%= I18n.t('item.common_word.list_empty') %>
			<% end %>
		</ul>
	</div>
</div>
