<div class="listHeader"><h3>Liste d'item</h3></div>

<%= display_classify_bar(ordering_fields, ajax_url, 'object-list') %>

<div class="contentList">
	<% if @paginated_objects.first %>
	  <script type="text/javascript" src="/videoplayer/swfobject.js"></script>

	  <input type="hidden" id="total_items" value="<%= @paginated_objects.length %>">
	  <%= display_item_in_list(@paginated_objects, in_list_partial) %>

	  <%= remote_pagination(@paginated_objects, ajax_url,  'object-list') %>

	<% else %>

	  <div class="item_in_list">
	    <%= I18n.t('item.common_word.list_empty') %>
	  </div>

	<% end %>
</div>