<% @paginated_objects.each do |object| %>
<div class="itemInList">
	<div class="itemInListDate">
		<%= I18n.l object.created_at, :format =>:verb %>
	</div>
	<div class="itemInListBody">
		<div class="itemInListTitle">
			<%= link_to object.title, item_path(object) %>
		</div>
		<div class="itemInListActions">
			<% if object.has_permission_for?('edit', @current_user)  -%>
				<%= link_to I18n.t('general.link.edit'), edit_item_path(object)%> |
			<% end -%>
			<% if object.has_permission_for?('destroy', @current_user) %>
				<%= link_to I18n.t('general.link.delete'), 
							"javascript:;", 
							:class => "deleteLink",
							:modal_id => "#modalDelete_#{object.id.to_s}"%>	
							
				<div style="display:none">
					<div id="modalDelete_<%=object.id.to_s%>" class="modalDelete">
						<p><%= I18n.t('item.destroy.delete_conform')%></p>
						<%= link_to I18n.t('general.common_word.yes1'), item_path(object), :method => :delete%> | 
						<%= link_to I18n.t('general.common_word.no1'), "javascript:;", :class => "deleteClose" %>
					</div>
				</div>
			<% end -%>
		</div>
		<div class="itemInListTags"><%= keywords_links_list_for(object) %></div>
	</div>
	<!-- div class="itemInListMore">
		<%# garder le + pour faire un tool tip avec des infos complémentaires%>
		<%#= link_to '+', item_path(object) %>
	</div-->
</div>
<% end %>

<%= remote_pagination(@paginated_objects, @ajax_url) %>