<fieldset>
  <legend><img src="/images/item_icons/<%= @current_object.class.to_s %>_add.png"/><%= title %></legend>
  <% form_for @current_object,
    :builder => BlankFormBuilder,
    :url => (@current_object.new_record? ? workspace_groups_path(current_workspace.id) : workspace_group_path(current_workspace.id, @current_object)),
    :html => {
    :method => (@current_object.new_record? ? :post : :put),
    :multipart => true
  } do |f| -%>

    <% is_copyright = (@current_object.state == 'copyright') ? true : false %>
    <% if is_copyright %>
      <%= f.hidden_field :state, :value => 'copyright' %>
      <%=I18n.t('general.copyright.copyright_restriction')%><br />
    <% end %>

    <%= f.text_field :title, :label => I18n.t('item.field.title_label') + " * :", :hint => I18n.t('item.field.title_hint'), :readonly => is_copyright %>

    <%= f.text_field :description, :label => I18n.t('item.field.description_label') + ' * :', :hint => I18n.t('item.field.description_hint') %>

    <% f.field :people, :label => I18n.t('group.field.people_label')+' :' do %>
      <input type="hidden" name="group_id" id="group_id" value="<%=@current_object.id%>">
        <div id="select_boxes">
         <input type="hidden" name="selected_Options" id="selected_Options" value="<%= @selected_members.map{ |e| e['id'] }.join(',') %>">
          <div id="left_select_box">
        	<div class="optionAssignmentLabel">
               <%= I18n.t('group.field.available_people_label') %>
              <select id="start_with" name="start_with" style="width: 60px;" onchange="show_people();" >
                <option value="all"><%= I18n.t('general.common_word.all') %></option>
                <% ('a'..'z').each do |alpha| %>
                  <option value="<%=alpha%>"><%= alpha.capitalize%></option>
                <% end %>
                <option value="0-9">0-9</option>
              </select>
              <script type='text/javascript'>
                function show_people(){
                  new Ajax.Request('/workspaces/<%= params[:workspace_id] %>/groups/filtering_contacts/?start_with='+$('start_with').value+'&group_id='+$('group_id').value, {method: "get" ,asynchronous:true, evalScripts:true})
                }
              </script>
            </div>
            <select name="assignedPeople" id="assignedOptions" size="5" multiple class="theatreSelection" >
              <% for mem in @remaining_members %>
                <%= content_tag(:option, mem['email'], :value => mem['id'].to_s) %>
              <% end %>
        	</select>
             <br />
            <div id="send_all_buttons">
              <input type="button" onclick="selectAll($('assignedOptions'),'assignedOptions')" value ="Tout sélectionner" style="width:180px;"/>
            </div>
            <script type="text/javascript" charset="utf-8">
              function selectAll(chkObj,id){
                var multi=document.getElementById(id);
                if(chkObj)
                  for(i=0;i<multi.options.length;i++)
                    multi.options[i].selected=true;
                else
                  for(i=0;i<multi.options.length;i++)
                    multi.options[i].selected=false;
              }
            </script>
          </div>
		  <div id="left_right_buttons">
            <input type="button" class="sendLeftButton" onclick="shiftRight('availableOptions','assignedOptions', true)" class="theatreAssignment"/>
			<br /><br />
			<input type="button" class="sendRightButton" onclick="shiftLeft('assignedOptions','availableOptions', false)" class="theatreAssignment"/>
          </div>
		  <div id="right_select_box" >
            <div class="optionAssignmentLabel"> <%= I18n.t('group.field.assigned_people_label') %></div>
            <select name="availableOptions" id="availableOptions" size="5" multiple >
                <% for mem in @selected_members %>
                  <%= content_tag(:option, mem['email'], :value => mem['id'].to_s) %>
                <% end %>
            </select>
            <div id="send_all_buttons">
              <input type="button" onclick="selectAll($('availableOptions'),'availableOptions')" value ="Tout sélectionner" style="width:180px;" />
            </div>
          </div>
     <% end %>
    <button id="submit_button" class="submit_button" type="submit">
      <%= @current_object.new_record? ? I18n.t('general.button.create') : I18n.t('general.button.update')%>
    </button>

  <% end -%>

</fieldset>
