<% form_for_item @current_object, title do |f| -%>

  <% f.field :people, :label => I18n.t('groups.field.people_label')+' :' do %>
      <input type="hidden" name="group_id" id="group_id" value="<%=@group.id%>">
        <div id="select_boxes">
          <%a =[]; @group.groupings.collect{|member| a << member.groupable_type.downcase+'_'+member.groupable_id.to_s} %>
         <input type="hidden" name="selected_Options" id="selected_Options" value="<%= a.join(',').to_s%>">
          <div id="left_select_box">
        	<div class="optionAssignmentLabel">
               <%= I18n.t('groups.field.available_people_label') %>
              <select id="start_with" name="start_with" style="width: 50px;" onchange="show_people();" >
                <% ('a'..'z').each do |alpha| %>
                  <option value="<%=alpha%>"><%= alpha.capitalize%></option>
                <% end %>
                <option value="0-9">0-9</option>
              </select>
              <script type='text/javascript'>
                function show_people(){
                  new Ajax.Request('/people/filter/?start_with='+$('start_with').value+'&group_id='+$('group_id').value, {asynchronous:true, evalScripts:true})
                }
              </script>
            </div>
            <select name="assignedPeople" id="assignedOptions" size="5" multiple class="theatreSelection" >
              <% for m in Group.members_to_subscribe('a') %>
                <%= content_tag(:option, m.email, :value => m.class.to_s.downcase+'_'+m.id.to_s) if !@group.members.include?(m)%>
              <% end %>
        	</select>
          </div>
		  <div id="left_right_buttons">
            <input type="button" class="sendLeftButton" onclick="shiftLeft('assignedOptions','availableOptions', false)" class="theatreAssignment"/>
			<br /><br />
			<input type="button" class="sendRightButton" onclick="shiftRight('availableOptions','assignedOptions', true)" class="theatreAssignment"/>
          </div>
		  <div id="right_select_box" >
            <div class="optionAssignmentLabel"> <%= I18n.t('groups.field.assigned_people_label') %></div>
            <select name="availableOptions" id="availableOptions" size="5" multiple >
                <% for group_member in @group.groupings %>
                  <%= content_tag(:option, group_member.member.email, :value => group_member.groupable_type.downcase+'_'+group_member.groupable_id.to_s) %>
                <% end %>
            </select>
          </div>
     <% end %>
<% end -%>
