
<table cellpadding="5">
  <tr>
    <th><%= I18n.t('groups.field.title_label') %> </th>
    <th><%= I18n.t('groups.field.description_label') %> </th>
    <th></th>
  </tr>
  <% @groups.each do |group| %>
     <tr>
        <td><%= group.title  %> </td>
        <td><%= group.description  %> </td>
        <td>| <%= link_to I18n.t('general.link.display'), group_path(group) %> | <%= link_to I18n.t('general.link.edit'), edit_group_path(group) %> | <%= link_to I18n.t('general.link.delete'), group_path(group), :method => :get, :confirm => I18n.t('groups.index.delete_confirm') %> |</td>
     </tr>
	<% end %>
  <tr>
    <td colspan="3" align="center" style="padding-top:20px;">
      <div id="pagination">
        <%= remote_pagination(@groups,ajax_index_groups_path+'/?page=') %>
      </div><!-- pagination -->
    </td>
  </tr>
 </table>



<%#= will_paginate @current_objects %>