<%= display_classify_bar(['created_at', 'comments_number', 'title'], workspace_groups_path(current_workspace.id), 'object-list') %>
<div id="content">
  <input type="hidden" id="total_items" value="<%= @paginated_objects.length %>">
  <% @i =0;  @paginated_objects.each do |object| %>
    <%# div_for(group_in_list, :class => "item_in_list") do %>
    <div class = "item_in_list" >
      <div class="<%= @i%2 == 0 ? 'sensor_in_list_alternate' : 'sensor_in_list' %>" onclick="toggleAccordion('itemInformations_<%=@i%>');">
        <div class="left_part_sensor">
          <a id="items_link" ><%= object.title%></a>
        </div>
        <div class="right_part_sensor"><%= I18n.l object.created_at, :format =>:verb %></div>
      </div>
      <div id="itemInformations_<%=@i%>" style="display:none;" name="itemInformations">
        <div class="lift_items">
          <%= render :partial => "groups/preview", :object => object %>
        </div>
      </div>
      <% @i += 1%>
    </div>
  <% end %>
  <%# end %>
</div>
<%#= will_paginate @paginated_objects %>
<%= remote_pagination(@paginated_objects, workspace_groups_path(current_workspace.id),  'object-list') %>

