<% if @paginated_objects.first %>
  <%= display_classify_bar(['created_at', 'comments_number', 'viewed_number', 'rates_average', 'title'], workspace_groups_path(current_workspace.id), 'object-list') %>
  <div id="content">
    <input type="hidden" id="total_items" value="<%= @paginated_objects.length %>">
    <% @i =0;  @paginated_objects.each do |object| %>
      <%# div_for(group_in_list, :class => "item_in_list") do %>
      <div class = "item_in_list" >
        <div class="<%= @i%2 == 0 ? 'sensor_in_list_alternate' : 'sensor_in_list' %>" onclick="toggleAccordion('itemInformations_<%=@i%>');">
          <div class="left_part_sensor">
            <a id="items_link" ><%= object.title%></a>
          </div>
          <div class="right_part_sensor"><%= I18n.l object.created_at, :format =>:verb %></div>
        </div>
        <div id="itemInformations_<%=@i%>" style="display:none;" name="itemInformations">
          <div class="lift_items">
            <%= render :partial => "groups/preview", :object => object %>
          </div>
        </div>
        <% @i += 1%>
      </div>
    <% end %>
    <%# end %>
  </div>
  <%#= will_paginate @paginated_objects %>
  <%= remote_pagination(@paginated_objects, workspace_groups_path(current_workspace.id),  'object-list') %>

  <div class="other_output_format">
    <%= I18n.t('item.show.get_in_another_format')%>:
    <%= link_to_function image_tag('/images/icons/xml.png'), "params('&format=xml')" %>
    <%= link_to_function image_tag('/images/icons/json.png'), "params('&format=json')" %>
    <%= link_to_function image_tag('/images/icons/atom.png'), "params('&format=atom')" %>
  </div>
<% else %>
  <br /><br /><%= I18n.t('item.common_word.list_empty') %><br /><br />
<% end %>
