<%= link_to image_tag("/images/icons/left.png"), workspace_path(current_workspace.id) %>
<div id="groups_list_header">
  <h2><%= image_tag('/images/item_icons/group.png')%> <%= I18n.t('group.index.title')  %> </h2>
</div>
<div id="object-list">
  <%= render :partial => "group_in_list" %>
</div>

<br />
<%= link_to I18n.t('group.index.add_new_group'), new_workspace_group_path(current_workspace.id) %>
<br /><br />
<%= link_to I18n.t('group.index.go_to_contacts'), list_workspace_workspace_contacts_path(current_workspace.id) %>