<% if @paginated_objects.first %>
  <script type="text/javascript" src="/videoplayer/swfobject.js"></script>
  <%= display_classify_bar(ordering_fields, ajax_url, 'object-list') %>
  <div id="content">
    <input type="hidden" id="total_items" value="<%= @paginated_objects.length %>">
    <%= display_item_in_list(@paginated_objects, in_list_partial) %>
  </div>

  <%#= will_paginate @paginated_objects %>
  <%= remote_pagination(@paginated_objects, ajax_url,  'object-list') %>

  <div class="other_output_format">
    <%= I18n.t('item.show.get_in_another_format')%>:
    <% output_formats.each do |of| %>
      <% format_url = !output_formats_url.nil? ? output_formats_url + "#{output_formats_url.include?('?') ? '&' : '?'}format=#{of}" : "  #{request.url}#{request.url.include?('?') ? '&' : '?'}format=#{of}" %>
      <%= link_to image_tag("/images/icons/#{of}.png"), "#{format_url}" %>
    <% end %>
  </div>

<% else %>

  <br /><br /><%= I18n.t('item.common_word.list_empty') %><br /><br />

<% end %>