<fieldset class="myform">
  <legend>Vos informations personnelles</legend>

  <% form_for @user, :builder => ArticFormBuilder, :html => {:multipart => true} do |f| -%>
    <%= f.text_field :login, :label => 'Login', :hint => "Votre nom d'utilisateur" if @user.new_record? %>
    <%= f.text_field :email, :label => 'Email' %>
    <%= f.password_field :password, :label => 'Mot de passe'%>
    <%= f.password_field :password_confirmation, :label => 'Confirmation'%>

    <%= f.text_field :lastname, :label => 'Nom'%>
    <%= f.text_field :firstname, :label => 'Prénom' %>
    <%= f.text_area :addr, :size => "40x6", :label => 'Addresse', :hint => 'Votre adresse complète' %>
    <%= f.text_field :phone, :label => 'Téléphone', :hint => 'Numéro professionnel' %>
    <%= f.text_field :mobile, :label => 'Portable', :hint => 'Numéro de téléphone portable' %>
    <%= f.text_field :laboratory, :label => 'Laboratoire', :hint => 'Pour qui travaillez-vous ?' %>
    <%= f.text_area :activity, :size => "40x6", :label => 'Activité' %>
    <%= f.text_area :edito, :size => "40x6", :label => 'Edito' %>

    <% f.field :image_path, :label => 'Photo' do %>
      <%= file_column_field 'user', 'image_path' %>
    <% end %>

    <%= image_tag(url_for_file_column(@user, 'image_path')) if @user.image_path %>

    <div class="buttons" id="area_BUTTONS" style="padding-top: 2em">
      <% button_text = current_object.new_record? ? 'Créer cet utilisateur' : 'Mettre à jour' %>
      <button type="submit" class="positive"><img src="/images/tick.png" alt=""/><%= button_text%></button>
      <button type="reset" class="negative"><img src="/images/cross.png" alt=""/>Annuler</button>
    </div>
  <% end %>

</fieldset>
