<fieldset>
  <legend><%= image_tag(@current_object.avatar.url(:thumb), :class => "avatar")%><%=I18n.t('user.new.title')%></legend>

  <% form_for @current_object,:builder => BlankFormBuilder, :html => {:multipart=> true} do |f| -%>
    <%= f.text_field :login, :label => I18n.t('user.field.login_label')+" * : ", :hint => I18n.t('user.field.login_hint') %>
    <%= f.text_field :email, :label => I18n.t('user.field.email_label')+" * : " %>
    <% if @current_object.new_record? %>
      <%= f.password_field :password, :label => I18n.t('user.field.password_label')+" * : " %>
      <%= f.password_field :password_confirmation, :label => I18n.t('user.field.confirm_password_label')+" * : " %>
    <% else %>
      <%= f.password_field :password, :label => I18n.t('user.field.password_label'), :hint => I18n.t('user.field.password_hint') %>
      <%= f.password_field :password_confirmation, :label => I18n.t('user.field.confirm_password_label'), :hint => I18n.t('user.field.confirm_password_hint') %>
    <% end %>

    <% if !@current_object.new_record? || (@current_user && @current_user.has_system_role("superadmin")) %>
      <%= f.select :system_role_id, @roles.map{ |e| [I18n.t('general.role.'+e.name), e.id] }, :label => I18n.t('user.field.system_role_id_label')+" * : " %>
    <% elsif !@current_object.new_record? || (@current_user && @current_user.has_system_role("admin")) %>
      <%= f.select :system_role_id, [[I18n.t('general.role.user'), Role.find(:first, :conditions => { :name => 'user' }).id]], :label => I18n.t('user.field.system_role_id_label')+" * : " %>
    <% end %>

    <%= f.text_field :firstname, :label => I18n.t('user.field.first_name_label')+" * : " %>
    <%= f.text_field :lastname, :label => I18n.t('user.field.last_name_label')+" * : " %>
    <%= f.country_select :nationality, nil, {}, { :label => I18n.t('user.field.nationality_label')+" : " } %>
    <%= f.text_area :address, :size => "40x6", :label => I18n.t('user.field.address_label')+" : ", :hint => I18n.t('user.field.address_hint')%>
    <%= f.text_field :phone, :label => I18n.t('user.field.phone_label')+" : ", :hint => I18n.t('user.field.phone_hint') %>
    <%= f.text_field :mobile, :label => I18n.t('user.field.mobile_label')+" : ", :hint => I18n.t('user.field.mobile_hint') %>
    <%= f.text_field :company, :label => I18n.t('user.field.location_label')+" : ", :hint => I18n.t('user.field.location_hint') %>
    <%= f.text_area :activity, :size => "40x6", :label => I18n.t('user.field.activity_label')+" : " %>
    <%= f.text_area :edito, :size => "40x6", :label => I18n.t('user.field.edito_label')+" : " %>
    <label><%= I18n.t('user.field.newsletter_label')+" : " %></label><div class="formElement"><%= check_box :user, :newsletter, { :checked => @current_object.newsletter, :class => "checkboxes" }, "true", "false" %></div>
    <% f.field :avatar, :label => I18n.t('user.field.photo_label')+" : " do %>
      <%= file_field 'user', 'avatar' %>
    <% end %>
    <% if !@current_object.new_record? && @current_object.accepts_configure_for?(@current_user) %>
    <%= f.select :u_layout, LAYOUTS_AVAILABLE, :label => "Layout : " %>
    <%= f.select :u_language, LANGUAGES, :label => "Select language : " %>
    <%= f.select :u_per_page, [10,30,50], :label => "Results per page : " %>
    <% end %>
    <% if is_allowed_free_user_creation? && @current_object.new_record? && !@current_user %>
      <%= yacaph_block %>
      <% if @captcha_valid == false %>
        <div id="errors_for_captcha">
          <div class="formError"><%= I18n.t("general.common_word.ajax_message_captcha_invalid") %></div>
        </div>
      <% end %>
    <% end %>
    <% button_text = current_object.new_record? ? I18n.t('general.button.create') : I18n.t('general.button.update') %>
    <button type="submit" class="submit_button"><%= button_text%></button>
  <% end %>

</fieldset>
