<div class="user_item">
  <% for object in @current_objects %>
  <br />
	<b><%= "#{object.login} (#{object.full_name}) " %></b>
	<%= link_to image_tag('/images/icons/play.png', :width => "20"), user_path(object.id) %>
	<% if @current_user.has_system_role('superadmin') %>
	  <%= link_to image_tag('/images/icons/pencil.png', :width => "20"), edit_user_path(object.id) %>
	  <% if object.activation_code.to_s.size > 10 %>
        <%= link_to image_tag('/images/icons/delete.png', :width => "20"), user_path(object.id), :method => :delete, :confirm => 'Really ?' %><br />
      <% else %>
        <%= link_to (object.activation_code=='locked' ? 'Unlock' : 'Lock'), locking_user_path(object.id) %><br />
      <% end %>
      <i><%=" - Last Connected: " + (object.last_connected_at ? time_ago_in_words(object.last_connected_at) : 'unknow but created at '+object.created_at.to_s) %></i><br />
      <i><%=" - State: " + object.activation_code.to_s %></i>
	<% end %>
   <% end %>
</div>
<%= remote_pagination(@current_objects, ajax_index_users_path,  'users_list') %>