<h1><%=I18n.t('user.reset_password.title')%></h1>

<%= flash[:notice_forgot] ? content_tag(:div, flash[:notice_forgot], :class => 'notice') : content_tag(:div, flash[:error_forgot], :class => 'error') %>

<% form_for :user, :url => {:action => 'forgot_password'} do |f| %>
	
	<%= f.error_messages %>

  <p><%=I18n.t('user.reset_password.password_label')%></p>
  
  <p><%= f.text_field :email, :size => 35, :class => 'text' %></p>
  
  <p><%= submit_tag I18n.t('general.button.send'), :class => "submit_button" %></p>

<% end %>

<%= link_to I18n.t('user.reset_password.back_to_login'), login_path %>