<h1>Demande de réinitialisation du mot de passe</h1>

<%= flash[:notice_forgot] ? content_tag(:div, flash[:notice_forgot], :class => 'notice') : content_tag(:div, flash[:error_forgot], :class => 'error') %>

<% form_for :user, :url => {:action => 'forgot_password'} do |f| %>
	
	<%= f.error_messages %>

  <p>Entrez votre adresse email sur ThinkDRY Blank et un lien vous permettant de réinitialiser votre mot de passe va vous être envoyé.</p>
  
  <p><%= f.text_field :email, :size => 35, :class => 'text' %></p>
  
  <p><%= submit_tag 'Envoyer' %></p>

<% end %>

<%= link_to 'Retour à la page de login', login_path %>