<h1> Nouveau mot de passe</h1>

<%= flash[:notice] ? content_tag(:div, flash[:notice], :class => 'notice') : content_tag(:div, flash[:error], :class => 'error') %>

<% form_for :user, :url => {:action => "reset_password"} do |f| %>
	
	<%= f.error_messages %>

  <p><%= f.label :password, "Nouveau mot de passe :" %><br />
  <%= f.password_field :password, :size => 45, :class => 'text' %></p>
      
  <p><%= f.label :password_confirmation, 'Confirmation du mot de passe :' %><br />
  <%= f.password_field :password_confirmation, :size => 45, :class => 'text' %></p>

  <p><%= submit_tag "Valider ce mot de passe" %>

<% end %>

<br /><br />

<%= link_to 'Retour au login', new_session_path %>
  