<h1> <%=I18n.t('user.new_password')%></h1>

<%= flash[:notice] ? content_tag(:div, flash[:notice], :class => 'notice') : content_tag(:div, flash[:error], :class => 'error') %>

<% form_for :user, :url => {:action => "reset_password"} do |f| %>
	
	<%= f.error_messages %>

  <p><%= f.label :password, I18n.t('user.new_password') + " :" %><br />
  <%= f.password_field :password, :size => 45, :class => 'text' %></p>
      
  <p><%= f.label :password_confirmation, I18n.t('user.confirm_new_password') + " :" %><br />
  <%= f.password_field :password_confirmation, :size => 45, :class => 'text' %></p>

  <p><%= submit_tag I18n.t('user.validate_this_password'), :class => "submit_button" %>

<% end %>

<br /><br />

<%= link_to I18n.t('user.back_to_login'), new_session_path %>
  