<div id="area_POST_bis">
	<div id="area_PROFIL">
		<span class="titre">Informations personnelles</span><br>
		<%= @current_object.firstname %> <%= @current_object.lastname %>
	  <%= image_tag(url_for_file_column(@user, 'image_path'), :class => "avatar") if @user.image_path %>
	  <p>
	  	<span class="txt_80_333">Laboratoire  :</span> <span class="txt_80_666"><%= @current_object.company %></span><br>
	    <span class="txt_80_333">Activité : </span><span class="txt_80_666"><%= @current_object.activity %></span>
	  </p>
	  <p>
	  	<span class="txt_80_333">Adresse postale :</span><br>
	    <span class="txt_80_666"><%= @current_object.address %></span><br>
	    <span class="txt_80_333">Email :</span> <span class="txt_80_666"><%= @current_object.email %></span><br>
	    <span class="txt_80_333">Téléphone :</span> <span class="txt_80_666"><%= @current_object.phone %>	- <%= @current_object.mobile %></span>
	  </p>
	  <p>
	  	<span class="txt_80_333">Présentation</span><br>
	    <span class="txt_80_666"><%= @current_object.edito %></span>
	  </p>
	  
		<%= link_to 'Mettre à jour les informations personnelles', edit_object_path, :class => "txt_80_666_bis" if permit? "edition of user" %>
	</div>
</div>
<div id="area_DROITS">
	<span class="titre">Droits d'accès</span><br>
	<br>
	<div class="item" id="item_-613527198">
		<span class="txt_80_333"><strong>
			Administrateur du système : <%= @is_admin ? 'Oui' : 'Non' %>
		</strong></span>
		<span class="txt_80_666"><br></span>
			<br/>
			<span class="txt_80_333"><strong>Modérateur : <%= @moderated_ws.empty? ? 'Non' : 'Oui' %> </strong></span><br>
			<span class="txt_80_333">Droits pour modérer : 
			<%= links_to_workspace_collection(@moderated_ws) || '- Aucun -' %>
			</span><span class="txt_80_666"><br></span>
			<br/>
			<span class="txt_80_333"><strong>Rédacteur : <%= @writter_role_on_ws.empty? ? 'Non' : 'Oui' %></strong></span><br>
			<span class="txt_80_333">Droits pour modérer les espaces : 
			<%= links_to_workspace_collection(@writter_role_on_ws) || '- Aucun -' %>
			</span><span class="txt_80_666"><br></span>
			<br/>
			<span class="txt_80_333"><strong>Lecteur : <%= @reader_role_on_ws.empty? ? 'Non' : 'Oui' %></strong></span><br>
			<span class="txt_80_333">Accès en lecture dans : 
			 <%= links_to_workspace_collection(@reader_role_on_ws) || '- Aucun -' %>
			</span><span class="txt_80_666"><br></span>
	</div>
</div>
<div class="clear"></div>

