<div id="area_POST_bis">
  <div id="area_PROFIL">
    <%= image_tag @current_object.avatar.url(:thumb), :class => "avatar", :align => "left"%>
    <h2>
      <%= @current_object.full_name %>
      <%= link_to image_tag('icons/pencil.png'), edit_user_path, :class => "pencil" if @current_object.has_permission_for?('edit', @current_user) %>
    </h2>
    <p>
      <label><%=I18n.t('user.field.system_role_id_label')%>  : </label><%= I18n.t('general.role.'+@current_object.system_role.name) %>
    </p>
    <p>
      <label><%=I18n.t('user.field.location_label')%>  : </label><%= @current_object.company %>
    </p>
    <p>
      <label><%=I18n.t('user.field.activity_label')%> : </label><%= @current_object.activity %>
    </p>
    <p>
      <label><%=I18n.t('user.field.address_label')%> : </label><%= @current_object.address %>
    </p>
    <p>
      <label><%=I18n.t('user.field.email_label')%> : </label> <%= @current_object.email %>
    </p>
    <p>
      <label><%=I18n.t('user.field.phone_label')%> : </label><%= @current_object.phone %>	- <%= @current_object.mobile %>
    </p>
    <p><%= @current_object.edito %></p>
  </div>
  <div class="clear"></div>
  <% if @current_object.activation_code.to_s.length > 15 and current_user.has_system_role('admin') %>
    <form action="<%= resend_activation_mail_or_activate_manually_user_path(@current_object.activation_code) %>" method="post" >
      <input type="submit" name="resend_activation_mail" value="Resend activation mail" />
      <input type="submit" name="activate_manually" value="Activate manually" />
    </form>
  <% end %>
</div>



<%= render :partial => 'workspaces', :object => @current_object %>

<div class="clear"></div>

