<div id="area_POST_bis">
	<div id="area_PROFIL">
		<span class="titre"><%=I18n.t('user.private_informations')%></span><br>
		<%= @current_object.firstname %> <%= @current_object.lastname %> 
	  <%if @current_object.image_path %>
  	    <%= image_tag(url_for_file_column(@current_object, 'image_path'), :class => "avatar", :align => "right", :onclick=>'popup(this);')%>
      <%else%>
         <%= image_tag(('/images/default/user.png'), :class=>"avatar", :align=>"right", :onclick=>'popup(this)') %>
      <% end %>
      
      <script type="text/javascript">
            function popup()
            {

              $('upload').appear();
              $('upload').appear({ duration: 3.0 });

            }

      </script>
	  <p>

	  	<span class="txt_80_333"><%=I18n.t('user.location')%>  :</span> <span class="txt_80_666"><%= @current_object.company %></span><br>
	    <span class="txt_80_333"><%=I18n.t('user.activity')%> : </span><span class="txt_80_666"><%= @current_object.activity %></span>
	  </p>
	  <p>
	  	<span class="txt_80_333"><%=I18n.t('user.address')%> :</span><br>
	    <span class="txt_80_666"><%= @current_object.address %></span><br>
	    <span class="txt_80_333"><%=I18n.t('user.email')%> :</span> <span class="txt_80_666"><%= @current_object.email %></span><br>
	    <span class="txt_80_333"><%=I18n.t('user.phone')%> :</span> <span class="txt_80_666"><%= @current_object.phone %>	- <%= @current_object.mobile %></span>
	  </p>
	  <p>
	  	<span class="txt_80_333"><%=I18n.t('user.edito')%></span><br>
	    <span class="txt_80_666"><%= @current_object.edito %></span>
	  </p>
	  
		<%= link_to I18n.t('user.update_private_informations'), edit_user_path, :class => "txt_80_666_bis" if permit? "edition of user" %>
	</div>
</div>
<div id="area_DROITS">
	<span class="titre"><%=I18n.t('user.access_rights')%></span><br>
	<br>
	<div class="item" id="item_-613527198">
		<span class="txt_80_333"><strong>
			<%=I18n.t('user.system_administrator')%> : <%= @is_admin ? I18n.t('general.yes') : I18n.t('general.no1') %>
		</strong></span>
		<span class="txt_80_666"><br></span>
			<br/>
			<span class="txt_80_333"><strong><%=I18n.t('user.moderator')%> : <%= @moderated_ws.empty? ? I18n.t('general.yes') : I18n.t('general.no1') %> </strong></span><br>
			<span class="txt_80_333"><%=I18n.t('user.rights_to_be_moderator')%> :
			<%= links_to_workspace_collection(@moderated_ws) || '- ' + I18n.t('general.void') + ' -' %>
			</span><span class="txt_80_666"><br></span>
			<br/>
			<span class="txt_80_333"><strong><%=I18n.t('user.writer')%> : <%= @writter_role_on_ws.empty? ? I18n.t('general.yes') : I18n.t('general.no1') %></strong></span><br>
			<span class="txt_80_333"<%=I18n.t('user.rights_to_manage')%> <%=I18n.t('general.workspace')%> :
			<%= links_to_workspace_collection(@writter_role_on_ws) || '-' + I18n.t('general.void') + ' -' %>
			</span><span class="txt_80_666"><br></span>
			<br/>
			<span class="txt_80_333"><strong><%=I18n.t('user.reader')%> : <%= @reader_role_on_ws.empty? ? I18n.t('general.yes') : I18n.t('general.no1') %></strong></span><br>
			<span class="txt_80_333"><%=I18n.t('user.readonly_access_to')%> :
			 <%= links_to_workspace_collection(@reader_role_on_ws) || '- ' + I18n.t('general.void')+ ' -' %>
			</span><span class="txt_80_666"><br></span>
	</div>
</div>
<div class="clear"></div>

