<h1><%= show_title %></h1>

<%= link_to 'Editer', edit_user_url(@current_object.id) %><br /><br />

<% if @user.image_path %>
	<%= image_tag(url_for_file_column(@user, 'image_path')) %>
<% end %>

<span class="label">Nom: 		 </label>  	<%= @current_object.lastname %>      	<br />
<span class="label">Prénom: 	 </label>  	<%= @current_object.firstname %>     	<br />
<span class="label">Adresse: 	 </label>  	<%= @current_object.addr %>          	<br />
<span class="label">Laboratoire: </label>  	<%= @current_object.laboratory %>    	<br />
<span class="label">Email: 		 </label>  	<%= @current_object.email %>         	<br />
<span class="label">Téléphone:	 </label>  	<%= @current_object.phone %>
								 </label>  	<%= @current_object.mobile %> 			<br />
						         </label> 
<span class="label">Activité:	 </label>  	<%= @current_object.activity %>      	<br />
<span class="label">Edito:		 </label>  	<%= @current_object.edito %>