<div id="area_POST_bis">
	<div id="area_PROFIL">
		<span class="titre">Mes informations personnelles</span><br>
		<%= @current_object.firstname %> <%= @current_object.lastname %>
	  <%= image_tag(url_for_file_column(@user, 'image_path'), :class => "avatar") if @user.image_path %>
	  <p>
	  	<span class="txt_80_333">Laboratoire  :</span> <span class="txt_80_666"><%= @current_object.laboratory %></span><br>
	    <span class="txt_80_333">Activité : </span><span class="txt_80_666"><%= @current_object.activity %></span>
	  </p>
	  <p>
	  	<span class="txt_80_333">Adresse postale :</span><br>
	    <span class="txt_80_666"><%= @current_object.addr %></span><br>
	    <span class="txt_80_333">Email :</span> <span class="txt_80_666"><%= @current_object.email %></span><br>
	    <span class="txt_80_333">Téléphone :</span> <span class="txt_80_666"><%= @current_object.phone %>	- <%= @current_object.mobile %></span>
	  </p>
	  <p>
	  	<span class="txt_80_333">Présentation</span><br>
	    <span class="txt_80_666"><%= @current_object.edito %></span>
	  </p>
	  
		<%= link_to 'Mettre à jour mes informations personnelles', edit_object_path, :class => "txt_80_666_bis" %>
	</div>
</div>
<div id="area_DROITS">
	<span class="titre">Mes droits d'accès</span><br>
	<br>
	<div class="item" id="item_-613527198">
		<span class="txt_80_333"><strong>Administrateur du système : NON</strong></span><br>
		<span class="txt_80_333">Pas de droit.</span><span class="txt_80_666"><br></span>
	</div>
</div>

