<div id="area_POST_bis">
	<div id="area_PROFIL">
		<span class="titre"><%=I18n.t('user.show.title')%></span><br>
		<%= @current_object.firstname %> <%= @current_object.lastname %> 
	  <%#if @current_object.avatar.file? %>
  	    <%= image_tag @current_object.avatar.url(:thumb), :class => "avatar", :align => "right"%>
      <%# end %>
	  <p>

	  	<span class="txt_80_333"><%=I18n.t('user.field.location_label')%>  :</span> <span class="txt_80_666"><%= @current_object.company %></span><br>
	    <span class="txt_80_333"><%=I18n.t('user.field.activity_label')%> : </span><span class="txt_80_666"><%= @current_object.activity %></span>
	  </p>
	  <p>
	  	<span class="txt_80_333"><%=I18n.t('user.field.address_label')%> :</span><br>
	    <span class="txt_80_666"><%= @current_object.address %></span><br>
	    <span class="txt_80_333"><%=I18n.t('user.field.email_label')%> :</span> <span class="txt_80_666"><%= @current_object.email %></span><br>
	    <span class="txt_80_333"><%=I18n.t('user.field.phone_label')%> :</span> <span class="txt_80_666"><%= @current_object.phone %>	- <%= @current_object.mobile %></span>
	  </p>
	  <p>
	  	<span class="txt_80_333"><%=I18n.t('user.field.edito_label')%></span><br>
	    <span class="txt_80_666"><%= @current_object.edito %></span>
	  </p>
	  
		<%= link_to I18n.t('user.show.update_user'), edit_user_path, :class => "txt_80_666_bis" if permit? "edition of user" %>
	</div>
</div>
<div id="area_DROITS">
	<span class="titre"><%=I18n.t('user.access_right.title')%></span><br>
	<br>
	<div class="item" id="item_-613527198">
		<span class="txt_80_333"><strong>
			<%=I18n.t('user.access_right.system_administrator')%> : <%= @is_admin ? I18n.t('general.common_word.yes1') : I18n.t('general.common_word.no1') %>
		</strong></span>
		<span class="txt_80_666"><br></span>
			<br/>
			<span class="txt_80_333"><strong><%=I18n.t('user.access_right.moderator')%> : <%= @moderated_ws.empty? ? I18n.t('general.common_word.yes1') : I18n.t('general.common_word.no1') %> </strong></span><br>
			<span class="txt_80_333"><%=I18n.t('user.access_right.rights_to_be_moderator')%> :
			<%= links_to_workspace_collection(@moderated_ws) || '- ' + I18n.t('general.common_word.none') + ' -' %>
			</span><span class="txt_80_666"><br></span>
			<br/>
			<span class="txt_80_333"><strong><%=I18n.t('user.access_right.writer')%> : <%= @writter_role_on_ws.empty? ? I18n.t('general.common_word.yes1') : I18n.t('general.common_word.no1') %></strong></span><br>
			<span class="txt_80_333"<%=I18n.t('user.access_right.rights_to_manage')%> <%=I18n.t('general.workspace')%> :
			<%= links_to_workspace_collection(@writter_role_on_ws) || '-' + I18n.t('general.common_word.none') + ' -' %>
			</span><span class="txt_80_666"><br></span>
			<br/>
			<span class="txt_80_333"><strong><%=I18n.t('user.access_right.reader')%> : <%= @reader_role_on_ws.empty? ? I18n.t('general.common_word.yes1') : I18n.t('general.common_word.no1') %></strong></span><br>
			<span class="txt_80_333"><%=I18n.t('user.access_right.readonly_access_to')%> :
			 <%= links_to_workspace_collection(@reader_role_on_ws) || '- ' + I18n.t('general.common_word.none')+ ' -' %>
			</span><span class="txt_80_666"><br></span>
	</div>
</div>
<div class="clear"></div>

