<h1><%= show_title %></h1>

<% if @current_object.image_path %>
	<%= image_tag(url_for_file_column(@current_object, 'image_path')) %><br />
<% end %>

Nom : <%= @current_object.lastname %><br />
Prénom: <%= @current_object.firstname %><br />
Adresse: <%= @current_object.addr %><br />
Laboratoire: <%= @current_object.laboratory %><br />
Email: <%= @current_object.email %><br />
Téléphone: <%= @current_object.phone %>	<%= @current_object.mobile %><br />
Activité:	<%= @current_object.activity %><br />
Workspace(s) :<br />
    - Administré(s) :
<%= @current_object.workspaces_administred.collect{|x| x.name }.join(' | ') %><br />
    - Consulté(s) :
<%= @current_object.workspaces_consulted.collect{|x| x.workspace.name }.join(' | ') %><br />
Edito: <%= @current_object.edito %><br />

<%= link_to 'Mettre à jour', edit_object_path %>

