<h1><%=I18n.t('layout.search.advance_search')%></h1>
  <% form_for @search, :url => admin_searches_path, :builder => BlankFormBuilder, :html => {:method => :get} do |f| %>
  
	<div class="itemShowLeft">
		<div class="itemShowLeftBody">
      <label><%= I18n.t('layout.search.title_label')  %></label>
      <div class="formElement">
        <%= text_field_tag :q %>
      </div>
      <!-- TODO Use some jquery plugin for calender select -->
       <!--
        <%= f.date_select :created_at_after, :label => I18n.t('general.common_word.from1'), :include_blank => true%> <br/>
        <%= f.date_select :created_at_before,:label => I18n.t('general.common_word.to1'), :include_blank => true %>
       -->   
      <br />
      <label>Filter By</label>
      <div class="formElement">
        <%= select "filter","field", [['CREATED','created_at'], ['UPDATED', 'updated_at'], ['TITLE','title'], ['COMMENTED','comments_number'], ['RATES','rates_average'], ['VIEWED','viewed_number']], :selected => 'created_at' %>
      </div>
      <br />
      <label>Order By</label>
      <div class="formElement">
        <%= select "filter","way", [['ASC', 'asc'], ['DESC','desc']], :selected => 'desc' %>
      </div>
      <label>Limit</label>
      <div class="formElement">
        <%= select "filter","limit", [['5','5'], ['10', '10'], ['15','15'], ['20','20']], :selected => '10' %>
      </div>
      <button type="submit" class="submitButton">
		    <span><%=I18n.t('general.button.search')%></span>
	    </button>
    </div>
  </div>
  <div class="rightBlocks">
    <% CONTAINERS.each do |container| %>
      <% containers = container.classify.constantize.allowed_user_with_permission(@current_user, "#{container}_show", container) %>
      <% unless containers.blank? %>
        <div class="itemShowRightBlock">
          <div class="blockCornerLeft"></div><div class="blockElementHeader twoH">
            <%= I18n.t("layout.application.#{container.pluralize}") %>
          </div>
          <div class="blockCornerRight"></div>
          <div class="blockElementBody">
            <% containers.each do |w| -%>
               <%= check_box_tag "containers[#{w.class.to_s.underscore}][]", w.id, false, :class => 'checkboxes' %>
               <%= w.title %><br />
            <% end -%>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="itemShowRightBlock">
      <div class="blockCornerLeft"></div><div class="blockElementHeader twoH">
        <%= "Available Items" %>
      </div>
      <div class="blockCornerRight"></div>
      <div class="blockElementBody">
        <% available_items_list.each do |i| %>  
          <%= check_box_tag "m[]", i %><%= I18n.t('general.item.'+i.to_s) %> <br />
        <% end %>
      </div>
    </div>
</div>
<% end %>
