<h1><%=I18n.t('layout.search.advance_search')%></h1>
  <% form_for @search, :url => admin_searches_path, :builder => BlankFormBuilder, :html => {:method => :get} do |f| %>
  
	<div class="itemShowLeft">
		<div class="itemShowLeftBody">
      <%= I18n.t('layout.search.title_label')  %>
      <%= text_field_tag :q %>
      <%= f.date_select :created_at_after, :label => I18n.t('general.common_word.from1'), :include_blank => true%> <br/>
      <%= f.date_select :created_at_before,:label => I18n.t('general.common_word.to1'), :include_blank => true %>
          
    <button type="submit" class="submitButton">
		<span><%=I18n.t('general.button.search')%></span>
	</button>
  </div>
  </div>
  <div class="rightBlocks">
    <div class="itemShowRightBlock">
      <div class="blockCornerLeft"></div><div class="blockElementHeader twoH">
        <%= "Available Items" %>
      </div>
      <div class="blockCornerRight"></div>
      <div class="blockElementBody">
        <% available_items_list.each do |i| %>  
          <%= check_box_tag "m[]", i, :class => "checkboxes" %><%= I18n.t('general.item.'+i.to_s) %> <br />
        <% end %>
      </div>
    </div>
</div>
<% end %>
