<div class="item-list">
  <div style="clear:left">
    <%= image_tag object.icon %>
    <%= link_to object.title, item_path(object) %>
    <%=I18n.t('general.common_word.in')%> <%= links_to_workspace_collection(object.workspaces) %>
    <%=I18n.t('general.common_word.by')%> <%= link_to_user(object.user) %>
  </div>
  <div style="float:left">
    <%=I18n.t('general.common_word.on1')%> <%= I18n.l object.created_at, :format => :long %>
    <%=I18n.t('item.common_word.tag').pluralize%> : <%= object.keywords_list %> -
  &nbsp;<%= object.comments_number %> <%=I18n.t('item.common_word.comment').pluralize%> -</div>
  <div style="float:left"><%= item_rate_locked(object) %></div>
</div>