 <h3>
        <%= I18n.t('layout.add_content') %>
 </h3>
      <form name="form1" method="post" action="" id="form1">
        <select name="slct_filtre" id="slct_filtre" onchange="document.location.href = this.value">
          <option selected="selected" value='#'>
            --------
          </option>
          <option value="<%= new_item_path(Article) %>">
            <%= I18n.t 'general.article' %>
          </option>
          <option value="<%= new_item_path(Image) %>">
            <%= I18n.t 'general.picture' %>
          </option>
          <option value="<%= new_item_path(Audio) %>">
            <%= I18n.t 'general.audio' %>
          </option>
          <option value="<%= new_item_path(Video) %>">
            <%= I18n.t 'general.video' %>
          </option>
          <option value="<%= new_item_path(CmsFile) %>">
            <%= I18n.t 'general.file' %>
          </option>
          <option value="<%= new_item_path(Publication) %>">
            <%= I18n.t 'general.publication' %>
          </option>
          <option value="/feed_sources/what_to_do">
            <%= I18n.t 'general.feed_source' %>
          </option>
          <option value="<%= new_item_path(Bookmark) %>">
            <%= I18n.t 'general.bookmark' %>
          </option>
        </select>
      </form>