<div class="area_LEFT">
  <div class="area_WS">
  	<h4>Mes espaces de travail</h4>
  	<span class="label-txt">Vous administrez :</span>
  	<%= links_to_workspace_collection(Workspace.administrated_by(@current_user)) || '- Aucun -' %>
  	<br /><br />
  	<span class="label-txt">Vous avez accès aux espaces :</span>
  	<%= links_to_workspace_collection(Workspace.consulted_by(@current_user)) || '- Aucun -' %>
  	<br />
  </div>
  <br />
  <div id="area_INFOS">
  	<h4>Mes informations personnelles</h4>
  	<%= image_tag(url_for_file_column(@current_user, 'image_path'), :class => "avatar", :align => "right") if @current_user.image_path %>
  	<p><span class="label-txt">Lieu  :</span> <span class="content-txt"><%= @current_user.laboratory %></span></p>
  	<p><span class="label-txt">Activité : </span><span class="content-txt"><%= @current_user.activity %></span></p>
	<br>
  	<p><span class="label-txt">Email :</span> <span class="content-txt"><%= @current_user.email %></span></p>
  	<p><span class="label-txt">Téléphone :</span> <span class="content-txt"><%= @current_user.phone %></span></p>
  </div>
</div>
<div class="area_RIGHT">
	<%= render :partial => "items/top_box" %>
</div>
<div class="clear"></div>
<br>
<div class="pubmed"><%= link_to image_tag("rss.png")+' Visualiser mes flux Pubmed', feed_sources_path %></div>
<br /><br>
<div class="area_BOTH">
  <%= render :partial => "latest" %>
</div>