<h1><%= image_tag 'icons/rate.png'%> <%= I18n.t('general.common_word.rating_list') %></h1>
<%#= ['all', 'posted', 'validated', 'rejected'].map{ |s| link_to(I18n.t('comment.state.'+s), comments_url(:on_state => s))}.join(' | ') %>
<div id="object-list" class="rating_list">
  <div id="classify_bar">
    <img width="20" src="/images/icons/filter.png"/>
    <%= link_to I18n.t('general.common_word.all').capitalize, '/ratings/?item_type=All' %> |
    <%= item_types_allowed_to(@current_user, 'show', current_workspace).map{ |s| link_to(I18n.t('general.item.' + s.underscore.downcase), '/ratings/?item_type='+s)}.join(' | ') %>
  </div>
  <div id="content">
    <%= render :partial => 'ratings/user_ratings' %>
  </div>
  <%= will_paginate @paginated_objects %>
</div>

