<fieldset>
  <legend> <%=  I18n.t('workspace.add_contacts.title')+" "+@current_object.title %> </legend>
  <br />
  <%= link_to image_tag("/images/icons/left.png"), list_workspace_workspace_contacts_path(@current_object.id) %><br /><br />
  <% form_for @current_object,
    :builder => BlankFormBuilder,
    :url => select_workspace_workspace_contacts_path(current_workspace.id),
    :html => {
    :method => :post,
  } do |f| -%>
    <div id="select_boxes2">
      <input type="hidden" name="selected_Options" id="selected_Options" value="<%= @assigned_contacts.map{ |e| e.class.to_s+'_'+e.id.to_s }.join(',') %>">
      <div id="left_select_box">
        <div class="optionAssignmentLabel">
          <%= I18n.t('workspace.add_contacts.available_contacts') %>
        </div>
        <select name="assignedPeople" id="assignedOptions" size="5" multiple class="theatreSelection" >
          <% for mem in @available_contacts %>
            <%= content_tag(:option, mem.email, :value => mem.class.to_s+'_'+mem.id.to_s) %>
          <% end %>
        </select>
        <div id="send_all_buttons">
          <input type="button" onclick="selectAll($('assignedOptions'),'assignedOptions')" value ="<%= I18n.t('general.common_word.select_all') %>" style="width:180px;"/>
        </div>
        <script type="text/javascript" charset="utf-8">
          function selectAll(chkObj,id){
            var multi=document.getElementById(id);
            if(chkObj)
              for(i=0;i<multi.options.length;i++)
                multi.options[i].selected=true;
            else
              for(i=0;i<multi.options.length;i++)
                multi.options[i].selected=false;
          }
        </script>
      </div>
      <div id="left_right_buttons">
        <input type="button" class="sendLeftButton" onclick="shiftRight('availableOptions','assignedOptions', true)" />
        <br /><br />
        <input type="button" class="sendRightButton" onclick="shiftLeft('assignedOptions','availableOptions', false)" />
      </div>
      <div id="right_select_box2">
        <div class="optionAssignmentLabel"> <%= I18n.t('workspace.add_contacts.current_contacts') %></div>
        <select name="availableOptions" id="availableOptions" size="5" multiple >
          <% for mem in @assigned_contacts %>
            <%= content_tag(:option, mem.email, :value => mem.class.to_s+'_'+mem.id.to_s) %>
          <% end %>
        </select>
        <div id="send_all_buttons">
          <input type="button" onclick="selectAll($('availableOptions'),'availableOptions')" value ="<%= I18n.t('general.common_word.select_all') %>" style="width:180px;" />
        </div>
      </div>
    </div>
    <button id="submit_button" class="submit_button" type="submit">
        <%= I18n.t('general.button.save') %>
    </button>
  <% end -%>

</fieldset>
