<h1>Listing Permissions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
  </tr>
<%# @permissions=Permission.find(:all)  %>
<% for permission in @permissions %>
  <tr>
      <td><%=h permission.name %></td>
      <td><%=h permission.description %></td>
      <td><%=h permission.type_permission %>
      <td><%#= link_to 'Show', permission_path(permission) %></td>
      <td><%= link_to_remote 'Edit', :update => "roles", :url => { :action => "edit", :id => permission.id}, :method => :get %></td>
      <td><%= link_to_remote 'Delete', :update => "roles", :url => { :action => "destroy", :id => permission.id}, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to_remote "New Permission",
    :update => "roles",
    :url => {:action => "new"}, :method => :get %>
