<% form_for @artic_file, :html => {:multipart => true}, :builder => LabelFormBuilder do |f| -%>
	
	<%= f.text_field :title, :label => "Titre :" %>
	
	<p>
		<label for="artic_file_file_path">Fichier : </label><br/>
		<%= image_tag(url_for_file_column(@artic_file, 'file_path')) + '<br />' if @artic_file.file_path %>
		<%= file_column_field 'artic_file', 'file_path' %>
	</p>
	
	<%= f.text_area :description, :label => 'Description :' %>
	<script type="text/javascript">
		bkLib.onDomLoaded(function() {
			new nicEditor({iconsPath : '/images/nicEditorIcons.gif'}).panelInstance('artic_file_description');
		});
	</script>

	<p>
		<%= f.label :state, "Etat :" %>
		<%= radio_button :artic_file, :state, "public" %> Public
		<%= radio_button :artic_file, :state, "private" %> Privé
	</p>

	<p>
		Diffusion :<br />
		<% self.current_user.workspaces.each do |w| %>
			<%= w.name %> <%= check_box_tag "artic_file[associated_workspaces][]", w.id, (@artic_file.workspaces.exists?(w.id) || (w.id == params[:workspace_id].to_i)) %> | 
		<% end %>
	</p>	

	<%= f.submit 'Créer ce fichier' %>

<% end -%>
