<h1>Fichiers</h1>

<% if params[:workspace_id] %>
	
<% end %>
	
<% @artic_files.each do |af| %>
	<p>
		Titre : <%= af.title %><br />
		Description : <%= af.description %>
		Nom du fichier : <%= af.file_path.split("/").last %><br />
		Workspace(s) associé(s) : <%= af.workspaces.collect { |e| e.name}.join(" | ") %><br />
		Etat : <%= af.private ? 'Privé' : 'Public' %><br />
		<%= link_to "Télécharger", url_for_file_column(af, :file_path) %><br />
		<%= link_to "Voir", object_path(af) %> | 
		<%= link_to "Mise à jour", object_path(af) %> | 
		<%= link_to "Supprimer", object_path(af), :method => :delete %>
	</p>
<% end %>

<br /><br />

<%= link_to "Ajouter un ficher", new_object_path %>