<h1>Fichier</h1>

<p>
	Titre : <%= @artic_file.title %><br />
	Description : <%= @artic_file.description %><br />
	Nom du fichier : <%= @artic_file.file_path %><br />
	Etat : <%= @artic_file.state.to_s %>
	<%= link_to "Télécharger", url_for_file_column(@artic_file, :file_path) %><br />
</p>

<%= link_to "Mise à jour", edit_object_path %>