<fieldset>
  <legend>General settings</legend>

  <% form_for :general, :url => general_changing_superadministration_path, :html => {:multipart => true} do |f| -%>

      Application name :<br />
      <%= text_field_tag 'conf[sa_application_name]', @conf['sa_application_name'] %><br />

      Favicon Management :<br />
      <%= image_tag(@logo.favicon.url(:medium)) %><br />
      <%= file_field 'picture', 'favicon' %><br />
      <br />
      Logo management :<br />
      <%= image_tag(@logo.picture.url(:medium)) %><br />
      <%= file_field 'picture', 'picture' %><br />
      <br />

      Application URL :<br />
      <%= text_field_tag 'conf[sa_application_url]', @conf['sa_application_url'] %><br />

      Contact email :<br />
      <%= text_field_tag 'conf[sa_contact_email]', @conf['sa_contact_email'] %><br />

      <br />

      Allowed free user creation ?
      <%= check_box :conf, :sa_allowed_free_user_creation, { :checked => (@conf['sa_allowed_free_user_creation']=='true') }, true, false %>
      <br /><br />
      Automatic private worskpace creation ?
      <%= check_box :conf, :sa_automatic_private_workspace, { :checked => (@conf['sa_automatic_private_workspace']=='true') }, true, false %>
      <br /><br />
      Available items :<br />
      <%= checkboxes_from_list(ITEMS, "items", @conf, "sa_") %>
      
      Available languages :<br />
      <%= checkboxes_from_list(LANGUAGES, "languages", @conf, "sa_") %>

      Workspaces types :<br />
      <%= checkboxes_from_list(WS_TYPES, "ws_types", @conf, "sa_") %>

      Item categories :<br />
      <%= checkboxes_from_list(ITEM_CATEGORIES, "item_categories", @conf, "sa_") %>

      Feed items imporation types :<br />
      <%= checkboxes_from_list(FEED_ITEMS_IMPORTATION_TYPES, "feed_items_importation_types", @conf, "sa_") %>
      
      <br />

      <button type="submit" class="submit_button">Mettre à jour</button>
<% end %>





</fieldset>
