  <% form_for :general, :url => general_changing_superadministration_path, :html => {:multipart => true, :class => "fieldsetSimulation"} do |f| -%>

      <label>Application name:</label>
      <div class="formElement"><%= text_field_tag 'conf[sa_application_name]', @conf['sa_application_name'] %></div>

      <label>Favicon Management :</label>
      <div class="formElement">
			<%= file_field 'pictures', 'favicon' %><br/>
			<%= image_tag(@conf['sa_favicon_url'].to_s) %>
	  </div>
      
      <label>Logo management :</label>
      <div class="formElement">
      		<%= file_field 'pictures', 'logo' %>
      		<%= image_tag(@conf['sa_logo_url'].to_s) %>
      </div>

      <label>Application URL :</label>
      <div class="formElement"><%= text_field_tag 'conf[sa_application_url]', @conf['sa_application_url'] %></div>

      <label>Contact email :</label>
      <div class="formElement"><%= text_field_tag 'conf[sa_contact_email]', @conf['sa_contact_email'] %></div>


      <label>Allowed free user creation</label>
      <div class="formElement">
      	<%= check_box :conf, :sa_allowed_free_user_creation, { :checked => (@conf['sa_allowed_free_user_creation']=='true') }, true, false %>
	  </div>
      
      <label>Automatic private worskpace creation</label>
      <div class="formElement">
      	<%= check_box :conf, :sa_automatic_private_workspace, { :checked => (@conf['sa_automatic_private_workspace']=='true') }, true, false %>
	  </div>

      <label>Mandatory user activation</label>
      <div class="formElement">
      	<%= check_box :conf, :sa_mandatory_user_activation, { :checked => (@conf['sa_mandatory_user_activation']=='true') }, true, false %>
	  </div>

      <label>Available items :</label>
      <div class="formElement">
      	<%= checkboxes_from_list(ITEMS, "sa_items", @conf, "conf") %>
	  </div>
      
      <label>Available languages :</label>
      <div class="formElement">
      	<%= checkboxes_from_list(LANGUAGES, "sa_languages", @conf, "conf") %>
	  </div>

      <label>Workspaces types :</label>
	  <div class="formElement">
	      <%= checkboxes_from_list(WS_TYPES, "sa_ws_types", @conf, "conf") %>
	  </div>	
		
      <label>Item categories :</label>
	  <div class="formElement">
	      <%= checkboxes_from_list(ITEM_CATEGORIES, "sa_item_categories", @conf, "conf") %>
	  </div>

	  
      <label>Feed items imporation types :</label>
      <div class="formElement">
    	  <%= checkboxes_from_list(FEED_ITEMS_IMPORTATION_TYPES, "sa_feed_items_importation_types", @conf, "conf") %>
      </div>

      <label>Per page default value :</label>
      <div class="formElement"><%= text_field_tag 'conf[sa_per_page_default]', @conf['sa_per_page_default'] %></div>

      <div class="centerButton"><button type="submit" class="submit_button">Mettre à jour</button></div>
<% end %>