<fieldset class="myform spaces">
  <legend>Roles and Permissions</legend>
  <%= link_to_remote 'New System Role', :update => 'roles', :url => '/roles/new?type_role=system', :method => :get %><br />
  <%= link_to_remote 'New Workspace Role', :update => 'roles', :url => '/roles/new?type_role=workspace', :method => :get %><br /><br />
  <%= link_to_remote 'Permissions List', :update => 'roles', :url => permissions_path, :method => :get %><br /><br />
  <b>Select a role</b>
<%= select_tag "element",
  options_for_select(
  %w(Select_a_system_role) + @system_roles.map{ |e| e.name }),
  :onchange=>"new Ajax.Updater('roles', '/roles/1/edit?role_name='+this.value, {method:'get', asynchronous:true, evalScripts:true})"
%>
<%= select_tag "element",
  options_for_select(
  %w(Select_a_workspace_role) + @workspace_roles.map{ |e| e.name}),
  :onchange=>"new Ajax.Updater('roles', '/roles/1/edit?role_name='+this.value, {method:'get', asynchronous:true, evalScripts:true})"
%>
</fieldset>
<fieldset class="myform">
  <div id="roles">
  </div>
</fieldset>
