<fieldset class="myform spaces">
  <legend>Roles and Permissions</legend>
  <%= link_to_remote 'New System Role', :update => 'permissions', :url => '/roles/new?type_role=system'%><br />
  <%= link_to_remote 'New Workspace Role', :update => 'permissions', :url => '/roles/new?type_role=workspace'%><br /><br />
  <%= link_to_remote 'Permissions list', :update => 'permissions', :url => '/permissions/index'%><br /><br />
  <b>Select a System Role</b>
<%= select_tag "element",
  options_for_select(
  %w(Select_a_system_role) + @system_roles.map{ |e| e.name }),
  :onchange=>"new Ajax.Updater('roles', '/roles/1/edit?role_name='+this.value, {method:'get', asynchronous:true, evalScripts:true})"
%>
<%= select_tag "element",
  options_for_select(
  %w(Select_a_workspace_role) + @workspace_roles.map{ |e| e.name}),
  :onchange=>"new Ajax.Updater('roles', '/roles/1/edit?role_name='+this.value, {method:'get', asynchronous:true, evalScripts:true})"
%>
</fieldset>
<fieldset class="myform">
  <div id="permissions">
    <div id="roles">
      
    </div>
  </div>
</fieldset>
