<fieldset>
  <legend><%= @language %></legend>
  
  <label>Select a Section</label>
  <%= select_tag "element", 
      options_for_select(
                         %w(select) + @options, 
                         "select"), 
     :onchange=>"changer(this.value, '#{@options.to_json}')"
  %>
  
  <% form_for :res, :url => translations_changing_superadministration_path do |f| %>
   <input id="language" name="language" type="hidden" value=<%= @language.to_s %>>
   
   <% @translation_names.each do |k,v| %>
     <div id="<%= k %>" style="display:none">
       <table>
         <% v.each do |type| %>
             <h1><%= type.capitalize %></h1>
             <%= render :partial => "elements", :locals => { :type => type } %>
         <% end %>
       </table>
     </div>
   <% end %>
   
   <br />
   
  <button type="submit" class="submit_button">Mettre à jour</button>
  
  <% end %>
  
</fieldset>
