<link rel="stylesheet" type="text/css" href="/colorpicker/css/colorPicker.css" />
<script type="text/javascript" src="/colorpicker/js/colorPicker.js"></script>

<h1>Super Administration</h1>

<ul id="tabs" class="subsection_tabs">  
	<li>
		<%= link_to_remote image_tag ('/images/icons/settings.png'), 
							:html => { :id => 'general_setting', :class => params[:part] == 'general' ? 'active' : '' },
							:before => "selectTab('general_setting')",
							:update => 'top_box', 
							:url => superadministration_path(:part => 'general') %>
							
		<div id="general_setting_tip" style="display:none;" class="tipTitle">General settings</div>
		<script type='text/javascript'>
                      //<![CDATA[
                        new Tip('general_setting',  $('general_setting_tip'),
                            { effect: 'appear',
                              duration: 1,
                              delay:0,
                              hook: { target: 'topMiddle', tip: 'bottomMiddle' },
                              hideOn: { element: 'tip', event: 'mouseout' },
                              stem: 'bottomMiddle',
                              hideOthers: 'true',
                              hideAfter: 1,
                              width: 'auto',
                              border: 1,
                              offset: { x: 0, y: 3 },
                              radius: 0
                            });
                      //]]>
                    </script>
	</li>
    <li>
    	<%= link_to_remote image_tag ('/images/icons/color.png'), 
							:html => { :id  => 'css', :class => params[:part] == 'css' ? 'active' : '' }, 
							:before => "selectTab('css')",
							:update => 'top_box', 
							:url => superadministration_path(:part => 'css') %>
		<div id="css_tip" style="display:none;" class="tipTitle">Color settings</div>
		<script type='text/javascript'>
                      //<![CDATA[
                        new Tip('css',  $('css_tip'),
                            { effect: 'appear',
                              duration: 1,
                              delay:0,
                              hook: { target: 'topMiddle', tip: 'bottomMiddle' },
                              hideOn: { element: 'tip', event: 'mouseout' },
                              stem: 'bottomMiddle',
                              hideOthers: 'true',
                              hideAfter: 1,
                              width: 'auto',
                              border: 1,
                              offset: { x: 0, y: 3 },
                              radius: 0
                            });
                      //]]>
                    </script>
	</li>
	<li>
		<%= link_to_remote image_tag ('/images/icons/french.png'),
							:html => { :id  => 'translations', :class => params[:part] == 'translations' ? 'active' : '' },
							:before => "selectTab('translations')",
							:update => 'top_box', 
							:url => superadministration_path(:part => 'translations') %>
		<div id="translations_tip" style="display:none;" class="tipTitle">Translation manager</div>
		<script type='text/javascript'>
                      //<![CDATA[
                        new Tip('translations',  $('translations_tip'),
                            { effect: 'appear',
                              duration: 1,
                              delay:0,
                              hook: { target: 'topMiddle', tip: 'bottomMiddle' },
                              hideOn: { element: 'tip', event: 'mouseout' },
                              stem: 'bottomMiddle',
                              hideOthers: 'true',
                              hideAfter: 1,
                              width: 'auto',
                              border: 1,
                              offset: { x: 0, y: 3 },
                              radius: 0
                            });
                      //]]>
                    </script>
	</li>
    <li>
    	<%= link_to_remote image_tag ('/images/icons/keychain.png'),
							:html => { :id => 'rights', :class => params[:part] == 'rights' ? 'active' : '' },
							:before => "selectTab('rights')",
							:update => 'top_box', 
							:url => superadministration_path(:part => 'rights') %>
		<div id="rights_tip" style="display:none;" class="tipTitle">Role manager</div>
		<script type='text/javascript'>
                      //<![CDATA[
                        new Tip('rights',  $('rights_tip'),
                            { effect: 'appear',
                              duration: 1,
                              delay:0,
                              hook: { target: 'topMiddle', tip: 'bottomMiddle' },
                              hideOn: { element: 'tip', event: 'mouseout' },
                              stem: 'bottomMiddle',
                              hideOthers: 'true',
                              hideAfter: 1,
                              width: 'auto',
                              border: 1,
                              offset: { x: 0, y: 3 },
                              radius: 0
                            });
                      //]]>
                    </script>
	</li>
    <li>
    	<%= link_to_remote image_tag ('/images/icons/cron.jpg'),
							:html => { :id => 'cron', :class => params[:part] == 'cron' ? 'active' : '' },
							:before => "selectTab('cron')",
							:update => 'top_box',
							:url => superadministration_path(:part => 'cron') %>
		<div id="cron_tip" style="display:none;" class="tipTitle">Cron Task Manager</div>
		<script type='text/javascript'>
                      //<![CDATA[
                        new Tip('cron',  $('cron_tip'),
                            { effect: 'appear',
                              duration: 1,
                              delay:0,
                              hook: { target: 'topMiddle', tip: 'bottomMiddle' },
                              hideOn: { element: 'tip', event: 'mouseout' },
                              stem: 'bottomMiddle',
                              hideOthers: 'true',
                              hideAfter: 1,
                              width: 'auto',
                              border: 1,
                              offset: { x: 0, y: 3 },
                              radius: 0
                            });
                      //]]>
                    </script>
	</li>
</ul>

<div id="top_content">
  <div id="one">
    <div class="top_box" id="top_box" >
      <%= render :partial => (params[:part] ? params[:part] : 'general'), :layout => false %>
    </div>
  </div>
</div>

