<link rel="stylesheet" type="text/css" href="/colorpicker/css/colorPicker.css" />
<script type="text/javascript" src="/colorpicker/js/colorPicker.js"></script>
<div id="area_TITLE">
  <h1>Super Administration</h1>
</div>
<ul id="top_elems" class="subsection_tabs without_img">  
	<li class="tab"><%= link_to_remote "General settings", :update => 'top_box', :url => superadministration_path(:part => 'general') %></li>
  <li class="tab"><%= link_to_remote "CSS manager", :update => 'top_box', :url => superadministration_path(:part => 'css') %></li>
	<li class="tab"><%= link_to_remote "Translations manager", :update => 'top_box', :url => superadministration_path(:part => 'translations') %></li>
  <li class="tab"><%= link_to_remote "Roles manager", :update => 'top_box', :url => superadministration_path(:part => 'roles') %></li>
</ul>

<div id="top_content">
  <div id="one">
    <ul class="top_box" id="top_box" >
      <%= render :partial => (params[:part] ? params[:part] : 'default'), :layout => false %>
    </ul>
  </div>
</div>


