<%= superadmin_tabs_generator() %>

<div class="objectListWithTab">
	<div class="blockCornerLeft"></div><div class="blockElementHeader sevH">
		<span id="item_count">User interface manager</span>
	</div><div class="blockCornerRight"></div>

	<div class="contentList superadmin">
		<% form_for :configuration, 
					@configuration, 
					:url => updating_superadmin_user_interfaces_path, 
					:html => {:method => :put, :multipart => true} do |f| -%>

  			<label>Logo management :</label>
  			<div class="formElement">
    			<%= f.file_field 'sa_logo_url', :class => 'file', :noHint => "yes" %>
    			<%= image_tag(@configuration['sa_logo_url'].to_s) %>
  			</div>

  			<label>Favicon Management :</label>
  			<div class="formElement">
    			<%= f.file_field 'sa_favicon_url', :class => 'file', :noHint => "yes" %><br/>
    			Upload image with .ico extension. 
    			<%= image_tag(@configuration['sa_favicon_url'].to_s) %>
  			</div>

  			<label>Per page default value :</label>
  			<div class="formElement"><%= f.text_field :sa_per_page_default, :noHint => "yes" %></div>

  			<label>Default layout :</label>
  			<div class="formElement">
				<%= select_tag 'configuration[sa_default_layout]', 	
								options_for_select(LAYOUTS_AVAILABLE.map{|la| 
									[I18n.t('general.layout.'+la), la]},
									@configuration['sa_default_layout']) %>
			</div>

  			<button type="submit" class="submitButton"><span><%=I18n.t('general.button.update')%></span></button>
		<% end -%>
	</div>
</div>