<fieldset class="myform">
  <legend>Recherche avancée</legend>
  <% form_for :search, :url => search_path, :html => {:method => :get} do |f| %>
    <p>Informations au sujet de l'élément recherché</p>
    <label>Titre<span class="hint">Entrer le titre de l'élément recherché</span></label>
    <%= f.text_field :title_contains %>
    <%# OPTIMIZE: Use lib with user friendly multiple select %>
    <label>Type<span class="hint">Sélectionner un type d'élément</span></label>
    <%= f.select :item_type_equals, %W(Article Image Video Audio Publication ArticFile), {}, :multiple => true %>
    <label>Auteur<span class="hint">Préciser l'auteur</span></label>
    <%= f.text_field :user_name_contains %>
    <label>Date<span class="hint">Sélectionner la période de recherche</span></label>
    <div class="input_container">
      Du <%= f.calendar_date_select :created_after %> au <%= f.calendar_date_select :created_before %>
    </div>
  	<%# TODO: Add tags and note (low priority) %>
    <%#	=> Que le gay d'integrateur ne s'en soucie pas, on l'ajoutera plus tard. %>
    <%# => Ok! La grande folle de developpeuse doit etre au courant que l'integrateur ne se soucie jamais de rien %>
  	<div class="buttons">
      <button type="submit" class="positive alone"><img src="/images/tick.png" alt=""/>Rechercher</button>
    </div>
	<% end %>
</fieldset>