<fieldset>
  <legend><%=I18n.t('layout.advance_search.title')%></legend>
  <% form_for :search, :url => search_path, :builder => BlankFormBuilder, :html => {:method => :get} do |f| %>
  
    <p><%=I18n.t('layout.advance_search.sub_title')%></p>
    
    <%= f.text_field :title_contains, :label => I18n.t('layout.advance_search.title_label') %>
    
    <%# OPTIMIZE: Use lib with user friendly multiple select %>
    <%= f.select  :item_type_equals,
                  %W(Article Image Video Audio Publication CmsFile),
                  :label => I18n.t('layout.advance_search.type_label') %>

    <%= f.text_field :user_name_contains, :label => I18n.t('layout.advance_search.author_label') %>
    <div id="autocomplete_choices" class="autocomplete"></div>
    <script type="text/javascript">
      new Ajax.Autocompleter("search_user_name_contains", "autocomplete_choices", "/users/index",{
        method: 'post', paramName: 'login'
      });
    </script>
    
    <% f.field :date, :label => I18n.t('layout.advance_search.search_period_label') do %>
      <%=I18n.t('general.common_word.from1')%><br/><%= f.calendar_date_select :created_after, :class => "input_with_calendar" %> <br/>
      <%=I18n.t('general.common_word.to1')%><br/><%= f.calendar_date_select :created_before, :class => "input_with_calendar" %>
    <% end %>
    
    <button type="submit" class="submit_button"><%=I18n.t('general.button.search')%></button>
    
	<% end %>
</fieldset>