<%# TODO: (integration) Remove style attribute %>
<div style="border: 1px dashed black; padding: 0.5em">
	<h1>Recherche avancée</h1><br>
	
	<% form_for :search, :url => search_path, :html => {:method => :get} do |f| %>
		<p>
			<strong>Titre.</strong>
			<%= f.text_field :title_contains %>
		</p>
		<%# OPTIMIZE: Use lib with user friendly multiple select %>
		<p>
			<strong>Type.</strong>
			<%= f.select :item_type_equals,
					%W(Article Image Video Audio Publication ArticFile),
					{}, :multiple => true %>
			</span>
		</p>
		<p>
			<strong>Auteur.</strong>
			<%= f.text_field :user_name_contains %>
		</p>
		<p>
			<strong>Date.</strong>
			Du <%= f.calendar_date_select :created_after %>
			au <%= f.calendar_date_select :created_before %>
		</p>
		<%# TODO: Add tags and note %>
		<%#	=> Que le gay d'integrateur ne s'en soucie pas, on l'ajoutera plus tard. %>
		<%= f.submit 'Rechercher' %>
	<% end %>
</div>