    <% if category == 'item' %>
		<div><%= render :partial => 'generic_for_items/advanced_search', :locals => { :category => category } %></div>
    <% end %>
	<div class="dateSelection">
	      <label><%=I18n.t('general.common_word.from1')%>: </label>
		  <div class="formElement">
		  	<%= calendar_date_select_tag 'cond[created_at_after]', @search.created_at_after, :class => "input_with_calendar", :popup => :force %>
            <%#= f.calendar_date_select :created_after, :class => "advanced" %>
		  </div>
	      <label><%=I18n.t('general.common_word.to1')%>: </label>
		  <div class="formElement">
		  	<%= calendar_date_select_tag 'cond[created_at_before]', @search.created_at_before, :class => "input_with_calendar", :popup => :force %>
            <%#= f.calendar_date_select :created_before, :class => "advanced" %>
		  </div>
	</div>
