<fieldset>
  <legend><%=I18n.t('layout.search.advance_search')%></legend>
  <% form_for @search, :url => searches_path, :builder => BlankFormBuilder, :html => {:method => :get} do |f| %>
  
    <p><%=I18n.t('layout.search.information_on_searched_item')%></p>

    <%= f.hidden_field :category, :value => params[:category].to_s %>
    
    <%= f.text_field :full_text_field, :label => I18n.t('layout.search.title_label') %>

    <% if params[:category]=='item' %>
      <br />Item categories<br />
      <% available_items_list.each do |i| %>
        <%= I18n.t('general.item.'+i.to_s) %> <%= check_box_tag "item_types[#{i}]", 1, true %>
      <% end %>
    <% end %>

    <% if params[:category]=='item' || params[:category]=='workspace' %>
    <%= f.text_field :creator, :label => I18n.t('layout.search.author_label') %>
    <div id="autocomplete_choices" class="autocomplete"></div>
    <script type="text/javascript">
      new Ajax.Autocompleter("search_creator", "autocomplete_choices", "/users/index",{
        method: 'post', paramName: 'login'
      });
    </script>
    <% end %>
    
    <% f.field :date, :label => I18n.t('layout.search.search_period_label') do %>
      <%=I18n.t('general.common_word.from1')%><br/><%= f.calendar_date_select :created_after, :class => "input_with_calendar" %> <br/>
      <%=I18n.t('general.common_word.to1')%><br/><%= f.calendar_date_select :created_before, :class => "input_with_calendar" %>
    <% end %>
    
    <button type="submit" class="submit_button"><%=I18n.t('general.button.search')%></button>
    
	<% end %>
</fieldset>