<div id="content">
    <%= I18n.t('layout.search.your_search_result')+' : ' %><br /><br />
	<div id="object-list">
        <%  if @paginated_objects.size > 0 %>
          <%= render :partial => 'items/classify_bar', :locals => { :url => searches_path } %>
          <% @i = 0%>
          <%= render :partial => 'items/item_in_list', :collection => @paginated_objects %>
        <% else %>
          <%= render :text => I18n.t('layout.search.no_result') %>
        <% end %>

		<div id="pagination">
          <%= will_paginate @paginated_objects %>
          <%#= remote_pagination(@paginated_objects, searches_url+'?page=') %>
  		</div><!-- pagination -->
	</div>
    
	<% if @paginated_objects && @paginated_objects.length > 0%>
		<div class="other_output_format">
          <% fn = (params[:filter_name].blank? ? '' : '&filter_name='+params[:filter_name]) %>
          <% fw = (params[:filter_way].blank? ? '' : '&filter_way='+params[:filter_way]) %>
            <%= I18n.t('item.show.get_in_another_format')%>:
	      	<%= link_to image_tag('/images/icons/xml.png'), "/searches?format=xml"+fn+fw %>
	      	<%= link_to image_tag('/images/icons/json.png'), "/searches?format=json"+fn+fw %>
	      	<%= link_to image_tag('/images/icons/atom.png'), "/searches?format=atom"+fn+fw %>
	    </div>
	<%end%>
</div>
