<% form_for :search, :url => search_path, :html => {:method => :get} do |f| %>
	<p>
		<%= f.select :item_type_equals,
				%W(Article Image Video Audio Publication ArticFile),
				{}, :multiple => true %>
	</p>
	<p>
		<%= f.text_field :title_contains %> Titre
	</p>
	<p>
		<%= f.text_field :description_contains %> Description
	</p>
	<p>
		<%= f.calendar_date_select :created_after %> Créé après le
	</p>
	<p>
		<%= f.calendar_date_select :created_before %> Créé avant
	</p>
	
	<%= f.submit 'Search'%>
<% end %>