<% unless @hide_full_text_search %>
  <div id="search-bar-container">
    <div id="search-bar-left"></div>
    <div id="search-bar-middle">
      <%# @search ||= Search.new %>
      <% form_for :search do |f| %>
        <%= f.text_field :full_text_field, :label => "#{I18n.t 'layout.search.search_label'}", :class => "style_text", :onfocus => '$(this).select()' %>
        <p><%= I18n.t 'general.common_word.in'%></p>
        <%= f.select :category, ['Items', 'Workspaces', 'Users'], { :onchange => "new Ajax.Request('/searches/advanced?category=changing')" } %>
        <%= link_to(image_tag("search_button.gif"), "javascript:void(1);", :onclick => "document.search.submit();", :class => "search_button") %>
        <br />
        <%= link_to_function I18n.t('layout.application.advanced_search'), "new Ajax.Request('/searches/advanced?category='+$('search_category').value)", :class => "advanced_search" %>&nbsp;&nbsp;
    </div>
    <div id="search-bar-right"></div>
    <div class="clear"></div>
  </div>
  <div id="advanced-search">
  </div>
  <% end -%>
<% end %>