<h1>Displaying Role</h1>

<p>
  <b>Name:</b>
  <%=h @role.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @role.description %>
</p>

<p>
  <b>Created at:</b>
  <%=h @role.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @role.updated_at %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
