<div id="classify_bar">
    <% ['created_at', 'comments_number', 'viewed_number', 'rates_average', 'title'].each do |filter| %>
      <%= I18n.t('layout.search.filter_'+filter) %>
	  <% if (params[:filter_name] == filter && params[:filter_way] == 'asc') -%>
	    <%= image_tag('/images/icons/asc_selected.png', :width => '10') %>
	  <% else -%>
      	<%= link_to_function image_tag('/images/icons/asc.png', :width => '10'),
			 "params_filter('filter_name=#{filter}&filter_way=asc')" %>
	  <% end -%>
	  <% if (params[:filter_name] == filter && params[:filter_way] == 'desc') -%>
	  	<%= image_tag('/images/icons/desc_selected.png', :width => '10')%>
	  <% else -%>
        <%= link_to_function image_tag('/images/icons/desc.png', :width => '10'),
              "params_filter('filter_name=#{filter}&filter_way=desc')" %>
	  <% end -%>
    <% end %>
</div>