<div id="classify_bar">
	<% if params[:controller] != 'searches' %>
		<%= image_tag "/images/icons/add.png", :width => "30"%><a href="<%=  new_item_path(params[:item_type].downcase.singularize)%>"><%= I18n.t('layout.application.add_content')%></a>
	<% end %>
	<img src="/images/icons/filter.png" width="20"/>
    <% ordering_fields_list.each do |filter| %>
      <%= I18n.t('layout.search.filter_'+filter) %>
	  <% if (params[:filter_name] == filter && params[:filter_way] == 'asc') -%>
	    <%= image_tag('/images/icons/asc_selected.png', :width => '10') %>
	  <% else -%>
      	<%= link_to_function image_tag('/images/icons/asc.png', :width => '10'),
			 "new Ajax.Updater('#{refreshed_div}', '#{safe_url(ajax_url, ["filter_name=#{filter}", "filter_way=asc"])}', {method:'get', asynchronous:true, evalScripts:true})" %>
	  <% end -%>
	  <% if (params[:filter_name] == filter && params[:filter_way] == 'desc') -%>
	  	<%= image_tag('/images/icons/desc_selected.png', :width => '10')%>
	  <% else -%>
        <%= link_to_function image_tag('/images/icons/desc.png', :width => '10'),
              "new Ajax.Updater('#{refreshed_div}', '#{safe_url(ajax_url, ["filter_name=#{filter}", "filter_way=desc"])}', {method:'get', asynchronous:true, evalScripts:true})" %>
	  <% end -%>
    <% end %>
</div>