<div id="classify_bar">
	<span style="font-size:120%; font-weight:bold;">Order by</span>
	
	<%= I18n.t('layout.search.filter_created_at') %>
	<%= link_to image_tag('/images/icons/asc.png', :width => '16'),"#"%>
	<%= link_to image_tag('/images/icons/desc.png', :width => '16'), "#"%>
	
	<%= I18n.t('layout.search.filter_comments_number') %>
	<%= link_to image_tag('/images/icons/asc.png', :width => '16'),"#"%>
	<%= link_to image_tag('/images/icons/desc.png', :width => '16'), "#"%>

	<%= I18n.t('layout.search.filer_viewed_number') %>
	<%= link_to image_tag('/images/icons/asc.png', :width => '16'),"#"%>
	<%= link_to image_tag('/images/icons/desc.png', :width => '16'), "#"%>

	<%= I18n.t('layout.search.filter_rates_average') %>
	<%= link_to image_tag('/images/icons/asc.png', :width => '16'),"#"%>
	<%= link_to image_tag('/images/icons/desc.png', :width => '16'), "#"%>

	<%= I18n.t('layout.search.filter_title') %>
	<%= link_to image_tag('/images/icons/asc.png', :width => '16'),"#"%>
	<%= link_to image_tag('/images/icons/desc.png', :width => '16'), "#"%>	
</div>