<fieldset>
  <legend><img src="/images/item_icons/<%= @current_object.type %>_add.png"/><%= title %></legend>
  <% form_for @current_object, :builder => BlankFormBuilder, :html => {:multipart => true} do |f| -%>

    <% is_copyright = (@current_object.state == 'copyright') ? true : false %>
    <% if is_copyright %>
      <%= f.hidden_field :state, :value => 'copyright' %>
      <%=I18n.t('copyright.copyright_restriction')%><br />
    <% end %>

    <%= f.text_field :title, :label => I18n.t('item.field.title_label') + " * :", :hint => I18n.t('item.field.title_hint'), :readonly => is_copyright %>

    <%= item_category_fields(f, @current_object) %>

    <%= item_keywords_fields(f, @current_object) %>
    
    <%= f.text_field :description, :label => I18n.t('item.field.description_label') + ' * :', :hint => I18n.t('item.field.description_hint') %>

    <%= capture(f, &block) %>
    
    <%= item_status_fields(f, @current_object) %>
    
    <%= error_message_on :current_object, :items %>

    <br />
    <div id="area_BUTTONS_single" class="buttons">
      <button class="submit_button" type="submit">
        <img alt="" src="/images/tick.png"/>
        <%= current_object.new_record? ? I18n.t('general.button.create') : I18n.t('general.button.update')%>
      </button>
    </div>
  <% end -%>
</fieldset>