<fieldset>
  <legend><%= title %></legend>
	<% form_for @current_object, :html => {:multipart => true}, :builder => LabelFormBuilder do |f| -%>
		<%= f.text_field :title, :label => "Titre :" %>
		<%= f.tags_field :string_tags, :label => "Tags :", :hint => "(séparés par des espaces)" %>
		<%= f.text_area :description, :label => 'Description :' %>
		<%= advanced_editor_on(@current_object, :description) %>
		<%= capture(f, &block) %>
		<label>Diffusion :</label>
	  <div class="input_container">
		  <%= item_status_fields(f, @current_object) %>
		</div>
		<%= f.submit current_object.new_record? ? 'Créer' : 'Mettre à jour' %>
	<% end -%>
</fieldset>