<script type="text/javascript" src="/videoplayer/swfobject.js"></script>
<%= display_classify_bar(['created_at', 'comments_number', 'viewed_number', 'rates_average', 'title'], ajax_url, 'object-list') %>
<% if params[:controller] != 'searches' %>
  <% @obj = params[:item_type].classify.constantize.new %>
  <% if @obj.accepts_new_for?(@current_user) %>
    <a href="<%=  new_item_path(params[:item_type].downcase.singularize)%>"><%= image_tag "/images/icons/add.png", :width => "20"%><%= I18n.t('layout.application.add_content')%></a>
  <% end %>
<% end %>
<div id="content">
  <input type="hidden" id="total_items" value="<%= @paginated_objects.length %>">
  <%= display_item_in_list(@paginated_objects) %>
</div>

<%#= will_paginate @paginated_objects %>
<%= remote_pagination(@paginated_objects, ajax_url,  'object-list') %>

<div class="other_output_format">
  <%= I18n.t('item.show.get_in_another_format')%>:
  <%= link_to_function image_tag('/images/icons/xml.png'), "params('#{items_path(params[:item_type])}','format=xml')" %>
  <%= link_to_function image_tag('/images/icons/json.png'), "params('#{items_path(params[:item_type])}','format=json')" %>
  <%= link_to_function image_tag('/images/icons/atom.png'), "params('#{items_path(params[:item_type])}','format=atom')" %>
</div>

