<li>
	<div id="right<%= object.id%>">
		<%= image_tag object.icon, :class => "test" %>
		&nbsp;<%= link_to_item object %><br>
	</div>
	<div id="tip_right_<%=object.id%>" style="display:none;">
		<div class="tooltip_infos">
			<p><%= link_to_user(object.user) %></p>
			<p><%=I18n.t('general.common_word.on1')%> <%= I18n.l object.created_at, :format => :long %> -</p>
			<p>
				<%= object.comments.count%>
			  	<%= object.comments.count > 1 ? I18n.t("item.common_word.comment").pluralize : I18n.t("item.common_word.comment")%>
			</p>
			<p><%= item_rate_locked(object) %></p>
		</div>
		<div class="tooltip_actions">
			<%= link_to image_tag('icons/comments.png'), item_path(object) + "#new_comment_form_box" %>
			<% if params[:workspace_id] != nil %>
			<%# if permit? 'edition of current_object'  %>
				<%= link_to image_tag('icons/pencil.png'), edit_item_path(object)%>
		    <%# end %>
            <% end %>
		</div>
	</div>
	<script type='text/javascript'>
		//<![CDATA[
			new Tip('right<%= object.id%>',  $('tip_right_<%=object.id%>'),
					{ effect: 'appear',
			 		  duration: 0,
					  delay:0,
					  hook: { target: 'topLeft', tip: 'topRight' },
					  hideOn: { element: 'tip', event: 'mouseout' },
					  stem: 'rightTop',
					  hideOthers: 'true',
					  hideAfter: 0,
					  width: 300
					});
		//]]>
	</script>
</li>