<% div_for (item_in_list, :class => "item_in_list") do %>
	<div class="sensor_in_list">
		<div class="left_part_sensor">
			<a id="items_link"  onclick="toggleAccordion('items<%=object.id %>');"><%= object.title%></a>
		</div>
		<div class="right_part_sensor"><%= I18n.l object.created_at, :format =>:short %></div>
	</div>
	<div id="items<%=object.id %>" style="display:none;" name="itemInformations">
  		<div class="lift_items">
			<%= render :partial => params[:item_type] + "/preview", :object => object %>
		</div>		
	</div> 
<% end %>