<% div_for(item_in_list, :class => "item_in_list") do %>
	<% if @i%2 == 0 -%>
	<div class="sensor_in_list_alternate" onclick="toggleAccordion('items_<%=object.type%>_<%=object.id %>');">
	<% else -%>
	<div class="sensor_in_list" onclick="toggleAccordion('items_<%=object.type%>_<%=object.id %>');">
	<% end -%>
		<div class="left_part_sensor">
			<a id="items_link" ><%= object.title%></a>
		</div>
		<div class="right_part_sensor"><%= I18n.l object.created_at, :format =>:verb %></div>
	</div>
	<div id="items_<%=object.type%>_<%=object.id %>" style="display:none;" name="itemInformations">
  		<div class="lift_items">
            <%= render :partial => "items/preview", :object => object %>
		</div>		
	</div>
	<% @i += 1%>
<% end %>