<% div_for item_in_list do %>
  <div class="item-list">
  	<div style="clear:both;">
		<%= image_tag object.icon %>
	    <%= link_to object.title, item_path(object), :class => 'object' %>
		<% if object.workspaces.size > 0 %>
			 <%=I18n.t('general.in')%>&nbsp;<%= links_to_workspace_collection object.workspaces %>
		<% end %>
		<%=I18n.t('general.by')%> <%= link_to_user item_in_list.user %>
	</div>
	<div style="float:left">
		<%=I18n.t('general.on1')%> <%= I18n.l object.created_at, :format => :long %>
	    <%= object.comments.count %> - <%=I18n.t('general.comment').pluralize%> - 
		<%=I18n.t('general.rate').pluralize%> :</div>
    <div style="float:left" id="rating_<%= item_in_list.class.to_s.underscore %>_<%= item_in_list.id %>"></div>
  </div>
	<script type="text/javascript" charset="utf-8">
		new Starbox("rating_<%= item_in_list.class.to_s.underscore %>_<%= item_in_list.id %>", <%= item_in_list.rating %>, { locked: true });	
	</script>	
<% end %>
