<script type="text/javascript" src="/videoplayer/swfobject.js"></script>
<%= display_classify_bar(['created_at', 'comments_number', 'viewed_number', 'rates_average', 'title'], ajax_url, 'object-list') %>
<div id="content">
  <%= display_item_in_list(@paginated_objects) %>
</div>

  <%#= will_paginate @paginated_objects %>
  <%= remote_pagination(@paginated_objects, ajax_url,  'object-list') %>

<div class="other_output_format">
  <%= I18n.t('item.show.get_in_another_format')%>:
  <%= link_to_function image_tag('/images/icons/xml.png'), "params('#{items_path(params[:item_type])}','format=xml')" %>
  <%= link_to_function image_tag('/images/icons/json.png'), "params('#{items_path(params[:item_type])}','format=json')" %>
  <%= link_to_function image_tag('/images/icons/atom.png'), "params('#{items_path(params[:item_type])}','format=atom')" %>
</div>

