<li>
	<%= image_tag object.icon, :class => "test" %>
	&nbsp;<%= link_to_item object %><br>
	<div style="float:left; font-size: 90%">le <%= I18n.l object.created_at, :format => :long %> - </div>
	<div style="float:left; font-size: 90%">&nbsp;<%= object.comments.size %> commentaires - </div>
	<div style="float:left;"><%= item_rate_locked(object) %></div>
</li class="clear">