<h2>Récemment ajoutés</h2>


	<% list.each do |object| %>
		<%= render :partial => "items/small_item_in_list", :object => object %>
	<% end %>

<h2>Derniers commentaires</h2>

(...)

<h2>Dernières mises en ligne</h2>

(...)

<h2 id="add_links">Ajouter</h2>
<ul>
	<li><%= link_to 'Article',		new_article_path 	%></li>
	<li><%= link_to 'Image',		new_image_path 		%></li>
	<li><%= link_to 'Fichier',		new_artic_file_path %></li>
	<li><%= link_to 'Video',		new_video_path 		%></li>
	<li><%= link_to 'Audio',		new_audio_path 		%></li>
	<li><%= link_to 'Publication',	new_article_path 	%></li>
</ul>