<div id="content_show">
	<h1>
		<%= image_tag object.icon %>
		<%= object.title %>
	</h1>
	par <%= link_to_user object.user %>
	le <%= object.created_at.l(:long) %> -
	<%= object.comments.size %> commentaires -
	Note : <%= item_rate_locked(object) %>
	<br>
	Tags : <%= tag_list(object.tags) %>
	<br><br>
	
	<%# FIXME: (integration) Its not an info box but an action box %>
	<div class="file_infos_box">
		Noter : <%= item_rate(object) %>
		<%= link_to 'Commenter', '#new_comment_form_box' %>
		<%= link_to 'Imprimer', 'javascript:window.print();' %>
		<% if permit? 'edition of current_object' %>
			<%= link_to 'Editer', edit_item_path(object)%>
		<% end %>
		<% if permit? 'deletion of current_object' %>
			<%= link_to 'Supprimer', item_path(object), :method => :delete,
			 		:confirm => "Êtes vous sûr de vouloir supprimer cet item ?\nL'action est irréversible." %>
		<% end %>
	</div>
	
	<h2>Résumé</h2>
	<%= object.description %>
	
	<%= capture(&block) %>
	
	<h2>Commentaires:</h2>
	<div id="comment_list">
		<%= render :partial => "items/comment", :collection => object.comments %>
	</div>
	
	<fieldset id="new_comment_form_box">
		<legend>Votre commentaire</legend>
		<% remote_form_for Comment.new, :url => comment_item_path(@current_object), :loading => "$('comment_box').writeAttribute('disabled')", :complete => "$('comment_box').writeAttribute('disabled', false);$('comment_box').value = ''" do |f| %>
			<%= f.text_area :text, :size => "90x8",:class => :comment_box, :id => :comment_box %>
			<br>
			<%= f.submit 'Publier mon commentaire' %>
		<% end %>
	</fieldset>

</div>
