<div id="content_show">
	<h1>
    	<%= image_tag object.icon %>
	    <%= object.title %>
	</h1>
	<div class="file_infos">
		<div class="file_infos_box">
	    	<p><%= link_to_user object.user %></p>
		    <p><%= I18n.l object.created_at, :format =>:long %></p>
		    <p><%= object.comments.size %> <%= object.comments.count > 1 ? I18n.t("item.common_word.comment").pluralize : I18n.t("item.common_word.comment")%></p>
			<p><%= item_rate_locked(object) %></p>
	   	</div>
		<div class="file_infos_box">
	   		<%= image_tag '/images/icons/tag_blue.png', :align => "left"%><%= @current_object.keywords_list %>
		</div>
		<div class="file_infos_box">
			<div align="right">
              <% if @current_object.accepts_rate_for?(@current_user) %>
		    	<%= link_to image_tag('icons/rate.png'), '#', :id => :rate_action %>
			    <div id="item_rate_modal_content" style="float:left;" align="center">
			        <%= item_rate(object) %>
				</div>
	    		<script type="text/javascript" charset="utf-8">
				      content = $('item_rate_modal_content').remove().innerHTML;
				      new Tip($('rate_action'), content, {
				        showOn: 'click',
				        hook: { target: 'rightMiddle', tip: 'topLeft' },
				        hideOn: { element: 'tip', event: 'mouseout' },
						 hideOn: { element: 'tip', event: 'click' },
				        width: 100
				      });
			    </script>
              <% end %>
              <% if @current_object.accepts_comment_for?(@current_user) %>
	    		<%= link_to image_tag('icons/comments.png'), '#new_comment_form_box' %>
              <% end %>
			  <%= link_to image_tag('icons/printer.png'), 'javascript:window.print();' %>
              <% if @current_object.accepts_edit_for?(@current_user)  %>
				<%= link_to image_tag('icons/pencil.png'), edit_item_path(object)%>
			  <% end %>
              <% if @current_object.accepts_destroy_for?(@current_user) %>
				<%= link_to image_tag('icons/delete.png'), item_path(object), :method => :delete, :confirm =>  I18n.t('item.destroy.delete_conform')%>
              <% end %>
			</div>
			<div class="output_format">
              <%=I18n.t('item.common_word.output_formate') %>: <%= link_to 'XML', item_path(object)+".xml", :class => 'output_format_link' %>,	<%= link_to 'JSON', item_path(object)+".json", :class => 'output_format_link' %>
			</div>
  		</div>
	</div>  
	 <h2> <%=I18n.t('item.common_word.summary')%></h2>
	<div class="item_description"><%= object.description %></div>

  <% if get_sa_config['sa_item_categories'] %>
    <h2>Categories :</h2>
    <div><%= object.category %></div>
  <% end %>

	<%= capture(&block) %>

	<div id="comments_list">
      <% if object.comments.size > 0 %>
    	<h2><%= image_tag 'icons/comments.png'%><%=I18n.t('item.common_word.comment').pluralize%></h2>
		<div class="comment_bloc">
	   		<%= render :partial => "items/comment", :collection => object.comments %>
		</div>
      <% end %>
  	</div>
    
    <% if @current_object.accepts_comment_for?(@current_user) %>
      <fieldset id="new_comment_form_box">
    	<p><%=I18n.t('item.common_word.your_comment')%> :</p>
		<form id="new_comment" class="new_comment" onsubmit="if($('comment_box').value != 0){new Ajax.Request('<%=add_comment_item_path(@current_object)%>', {asynchronous:true, evalScripts:true, onComplete:function(request){$('comment_box').writeAttribute('disabled', false);$('comment_box').value = ''}, onLoading:function(request){$('comment_box').writeAttribute('disabled')}, parameters:Form.serialize(this)}); return false;}else{return false;}" method="post" action="<%=add_comment_item_path(@current_object)%>">
        <textarea id="comment_box" class="comment_box" rows="8" name="comment[text]" cols="90"></textarea>

        <div id="captcha" style="width:30%">
        <%= render :partial => "/items/captcha" %>
        </div>
        <button type="submit" class="submit_button"><%=I18n.t('general.button.publish_my_comment')%></button>
        </form>
      </fieldset>
    <% end %>
</div>
