<h1><%= title %></h1>

<h2><%= object.title %></h2>

<div><%= object.description %></div>

<p id="note">
	<strong>Note:</strong>
	<span id="rating"></span>
	<script type="text/javascript" charset="utf-8">
		new Starbox('rating', <%= @current_object.rating %>, {
			rerate: false,
			indicator: '(#{total})',
			total: <%= @current_object.ratings.size %>,
			onRate: function(element, info) {
				new Ajax.Request('<%= rate_item_path(@current_object) %>', {
					parameters: info
				});
			}
		});
	</script>
</p>

<p id="tags">
	<% remote_form_for Tag.new, :url => add_tag_item_path(@current_object), :loading => "$('ajax_loader').show()", :complete => "$('ajax_loader').hide()" do |f| %>
		<strong>Tags:</strong>
		<%= image_tag 'ajax-loader.gif', :style => 'display:none', :id => 'ajax_loader' %>
		<span id="tag_list">
			<%= @current_object.tags.collect { |t| item_tag(t) }.join(' ')  %>
		</span>
		<%= f.text_field :name, :size => 10 %>
		<%= image_submit_tag 'icons/add.png' %>
	<% end %>
</p>

<% if object.workspaces.size > 1 %>
	<p id="workspaces">
		<strong>Diffusé dans les espaces de travail suivants:</strong>
		<%= object.workspaces.collect { |w| w.name }.join("&nbsp;") %>
	</p>
<% end %>
<p>
	<%= capture(&block) %>
</p>

<p>
	<h2>Commentaires:</h2>
	<%= render :partial => "items/comment", :collection => object.comments %>
	
	<h3>Ajouter votre commentaire:</h3>
	<%= text_area_tag :new_comment, nil, :class => :comment_box %>
	<br>
	<%= submit_tag 'Ajouter' %>
</p>
