<div id="content">
	<% @i = 0%>
    <% params[:item_type] ||= get_default_item_type %>
	<%= display_tabs(params[:item_type]) %>
	<div id="object-list">
		<%= render :partial => 'items/classify_bar'%>
		<%= display_item_list(params[:item_type])%>
		<div id="pagination">
  			<%= remote_pagination(@collection, get_ajax_item_path(params[:item_type]))%>
  		</div><!-- pagination -->
	</div>
	<% if @collection && params[:item_type] && @collection.length > 0%>
		<div class="other_output_format">
	      	<%= link_to image_tag('/images/icons/xml.png'), "#{current_workspace.nil? ? '/'+params[:item_type] : items_path(params[:item_type])}.xml" %>
	      	<%= link_to image_tag('/images/icons/json.png'), "#{current_workspace.nil? ? '/'+params[:item_type] : items_path(params[:item_type])}.json" %>
	      	<%= link_to image_tag('/images/icons/atom.png'), "#{current_workspace.nil? ? '/'+params[:item_type] : items_path(params[:item_type])}.atom" %>
	    </div>
	<%end%>
</div>