<div id="content">
    <% params[:item_type] ||= get_default_item_type %>
	<%= display_tabs(params[:item_type]) %>
	<div id="object-list">

      <%= link_to "alpha_asc", "#{items_path(params[:item_type])+'?filter_name=title&filter_way=asc'}" %>
      
		<%  if @current_objects %>
          <%= render :partial => 'items/item_in_list', :collection => @current_objects %>
        <% else %>
          <% render :text => "()" %>
        <% end %>
        <%#= display_item_list(params[:item_type])%>
		<div class="last_item_in_list">&nbsp;</div>
		<div id="pagination">
  			<%= remote_pagination(@current_objects, get_ajax_item_path(params[:item_type]))%>
  		</div><!-- pagination -->
	</div>
	<% if @current_objects && params[:item_type] && @current_objects.length > 0%>
		<div class="other_output_format">
          <% fn = (params[:filter_name].blank? ? '' : '&filter_name='+params[:filter_name]) %>
          <% fw = (params[:filter_way].blank? ? '' : '&filter_way='+params[:filter_way]) %>
			<%= I18n.t('item.show.get_in_another_format')%>:
	      	<%= link_to "XML", "#{items_path(params[:item_type])+'?format=xml'+fn+fw}" %>
	      	<%= link_to "JSON", "#{items_path(params[:item_type])+'?format=json'+fn+fw}" %>
	      	<%= link_to "ATOM 1.0", "#{items_path(params[:item_type])+'?format=atom'+fn+fw}" %>
	    </div>
	<%end%>
</div>
