<% f.field :tags, :label => I18n.t('item.field.keywords_label').pluralize + " :" do %>
    <div class="formElement" id="tags_list">
    <% @current_object.tags.each do |k| %>
      <div id="<%= k.name %>"><%= k.name+' '+link_to_function('(delete)', "this.parentNode.remove()") %><%= hidden_field_tag "#{@current_object.class.to_s.underscore}[tags_field][]", k.name %></div>
    <% end %>
    </div>
    <div class="formElement" id="add_tag">
    <%= text_field :tag, :value %>
    <div id="autocomplete_choices" class="autocomplete"></div>
      <script>
        new Ajax.Autocompleter("tag_value", "autocomplete_choices","/home/autocomplete_on?model_name=tag",{
          method: 'post', paramName: 'name'
        });
      </script>
    <%= button_to_function(I18n.t('item.field.add_keyword'), "dodo($('tag_value').value, '#{@current_object.class.to_s.underscore}', 'tags_list')") %>
    </div>
<% end %>

<script type="text/javascript">
function dodo(name, model_name, place_id) {
  var dadiv = new Element('div', { 'id': name }).insert(name)
  var dadelete = new Element('a', { 'onclick': 'this.parentNode.remove(); return false;' }).insert('(delete)')
  var dahidden = new Element('input', { 'id': model_name+'_tags_', 'type': 'hidden', 'value': name, 'name': model_name+'[tags_field][]' })
  dadiv.appendChild(dadelete)
  dadiv.appendChild(dahidden)
  $(place_id).insert(dadiv)
}
</script>