<h1><%= I18n.t 'general.txt.select_a_file' %></h1>

<% if params[:item_type]=="images" || params[:item_type] =="videos" %>
  <% @object.each do |object| %>
    <%= image_tag object.media_type.url(:thumb)  %>
    <%= link_to_function object.title,"javascript:SelectFile('" + object.media_type.url + "')"  %> <br> <br>
<% end %>
  
<% else %>
	<div id="item_type_link">
		<%= link_to 'Articles', '/display_content_list/articles'%> | 
		<%= link_to 'Bookmark', '/display_content_list/bookmarks'%> | 
		<%= link_to 'Audio', '/display_content_list/audios'%> | 
		<%= link_to 'Feed', '/display_content_list/feed_sources'%> | 
		<%= link_to 'Files', '/display_content_list/cms_files'%> | 
		<%= link_to 'Video', '/display_content_list/videos'%> | 
		<%= link_to 'Image', '/display_content_list/images'%> | 
	</div>
    <%if params[:item_type]=="all" %>
	   <% available_items_list.each do |item_type| %>
	   <h3><%= image_tag "/images/item_icons/"+item_type.downcase+".pgn"%><%= item_type.capitalize %></h3>
	   <% @object.send(item_type.pluralize).each do |object| %>
	      <p><%= link_to_function object.title,"javascript:SelectFile('" + item_path(object) + "')"  %></p>
	   <% end %>
	  <% end %>
	<%else%>
		<% @object.each do |object| %>
			<p><%= link_to_function object.title,"javascript:SelectFile('" + item_path(object) + "')"  %></p>
		<% end%>
	<%end%>
<% end %>

