<h1><%= I18n.t 'general.txt.select_a_file' %></h1>

<% if params[:item_type] == 'all' %>
| <% for ws in @current_user.workspaces %>
  <%= link_to ws.title , '/display_content_list/'+get_allowed_item_types(ws).first.pluralize+'?workspace_id='+ws.id.to_s+'&item_type=all' %> |
<% end %>
<%= link_to 'content','/display_content_list/'+get_allowed_item_types(nil).first.pluralize+'?content=all'+'&item_type=all' %>
|
<br />
<div id="item_type_link">
  |
  <%  for item in item_types_allowed_to(current_user, 'show',@workspace) %>
    <% if params[:content]=='all' %>
      <%= link_to item ,'/display_content_list/'+item.pluralize+'?item_type=all&content=all' %> |
    <% else %>
      <%= link_to item ,'/display_content_list/'+item.pluralize+'?workspace_id='+params[:workspace_id].to_s+'&item_type=all' %> |

    <% end %>
  <% end %>
    <br /><br />
  </div>

  <h3><%= I18n.t('general.item.'+params[:selected_item].singularize).capitalize.pluralize %> <%=  params[:content] != 'all' ? I18n.t('general.common_word.of') +' '+@workspace.title : '' %> </h3>
<% end %>

<% if params[:selected_item]=="images" || params[:selected_item] =="videos" %>
  <% @current_objects.each do |object| %>
    <%= image_tag params[:selected_item]=="images" ? object.media_type.url(:thumb) : ("/images/item_icons/"+params[:selected_item].downcase.singularize+".png") %>
    <%= link_to_function object.title,"javascript:SelectFile('" + object.media_type.url + "')"  %> <br> <br>
  <% end %>
<% elsif params[:selected_item] == "bookmark" %>
    <% @current_objects.each do |object| %>
      <%= image_tag "/images/item_icons/bookmark.png"%>
      <p><%= link_to_function object.title, "javascript:SelectFile('" + object.link + "')"  %> </p>
    <% end %>
  <%else%>
    <% @current_objects.each do |object| %>
      <%= image_tag "/images/item_icons/"+params[:selected_item].downcase.singularize+".png"%>
      <p><%= link_to_function object.title,"javascript:SelectFile('" + item_path(object) + "')" %></p>
    <% end%>
  <%end%>