<h1><%= I18n.t 'layout.select_a_file' %></h1>

<% if params[:item_type]=="images" || params[:item_type] =="videos" %>
  <% @object.each do |object| %>
    <%= image_tag object.media_type.url(:thumb)  %>
    <%= link_to_function object.title,"javascript:SelectFile('" + object.media_type.url + "')"  %> <br> <br>
  <% end %>

<% else %>
  <div id="item_type_link">
    <b>
      <%= link_to 'Articles', '/display_content_list/all'%> |
      <%= link_to 'Bookmarks', '/display_content_list/bookmark'%> |
      <%= link_to 'Audios', '/display_content_list/audio'%> |
      <%= link_to 'Feeds', '/display_content_list/feed_source'%> |
      <%= link_to 'Files', '/display_content_list/cms_file'%> |
      <%= link_to 'Videos', '/display_content_list/video'%> |
      <%= link_to 'Images', '/display_content_list/image'%> |
    </b><br /><br />
  </div>
  <%if params[:item_type]=="all" %>
    <h3>Articles</h3>
    <% @object.articles.each do |object| %>
      <%= image_tag "/images/item_icons/article.png"%>
      <p><%= link_to_function object.title,"javascript:SelectFile('" + item_path(object) + "')"  %></p>
    <% end %>
  <%else%>
    <h3><%= params[:item_type].capitalize %></h3>
    <% @object.each do |object| %>
        <%= image_tag "/images/item_icons/"+params[:item_type].downcase+".png"%>
        <p><%= link_to_function object.title,"javascript:SelectFile('" + item_path(object) + "')" %></p>
    <% end%>
  <%end%>
<% end %>

