<div id="content">
	<div id="object-list">
        <%  if @paginated_objects.size > 0 %>
          <%= render :partial => 'items/classify_bar', :locals => { :url => params[:controller]+'_path' } %>
          <% @i = 0%>
          <%= render :partial => 'items/item_in_list', :collection => @paginated_objects %>
        <% else %>
          <%= render :text => I18n.t('layout.search.no_result') %>
        <% end %>

		<div id="pagination">
          <%= will_paginate @paginated_objects %>
          <%#= remote_pagination(@paginated_objects, searches_url+'?page=') %>
  		</div><!-- pagination -->
	</div>

	<% if @paginated_objects && @paginated_objects.length > 0%>
		<div class="other_output_format">
          <%= I18n.t('item.show.get_in_another_format')%>:
          <%= link_to_function image_tag('/images/icons/xml.png'), "params('format=xml')" %>
	      <%= link_to_function image_tag('/images/icons/json.png'), "params('format=json')" %>
	      <%= link_to_function image_tag('/images/icons/atom.png'), "params('format=atom')" %>
	    </div>
	<%end%>
</div>