<div id="person_<%= object.id.to_s %>" class="item_in_list">
<% if @i%2 == 0 -%>
  <div class="sensor_in_list_alternate" onclick="toggleAccordion('itemInformations_<%=@i%>');">
  <% else -%>
    <div class="sensor_in_list" onclick="toggleAccordion('itemInformations_<%=@i%>');">

    <% end -%>
    <div class="left_part_sensor">
      <a id="items_link" ><%= object.email %>  </a>
    </div>
    <div class="right_part_sensor"><%= I18n.l object.created_at, :format =>:verb %></div>
  </div>
  <div id="itemInformations_<%=@i%>" style="display:none;" name="itemInformations">
    <div class="lift_items">
      <div class="file_infos_box_right">
        <%= link_to image_tag("/images/icons/play.png", :width => "20", :alt => I18n.t('general.link.display')), admin_person_path(object) %>
        <%= link_to image_tag("/images/icons/pencil.png", :width => "20", :alt => I18n.t('general.link.edit')), edit_admin_person_path(object) %>
        <%= link_to image_tag("/images/icons/delete.png", :width => "20", :alt => I18n.t('general.link.delete')), admin_person_path(object), :method => :delete, :confirm => I18n.t('people.index.delete_confirm') %>
      </div>
      <%= "<p>#{I18n.t('people.field.origin_label')} : #{object.origin}</p>" if !object.origin.to_s.blank? %>
      <%= "<p>#{I18n.t('people.index.name')} : #{object.first_name} #{object.last_name}</p>" if !object.first_name.to_s.blank? || !object.last_name.to_s.blank? %>
      <%= "<p>#{I18n.t('general.object.workspace').pluralize} : #{object.workspaces.map{|w| link_to w.title, admin_workspace_path(w.id) }.join(', ') }</p>" if !object.workspaces.empty? %>
    </div>
  </div>
  <% @i += 1%>
</div>