<% @paginated_objects.each do |object| -%>
<div class="itemInList">
	<div class="itemInListDate">
		<%= I18n.l object.created_at, :format =>:verb %>
	</div>
	<div class="itemInListBody">
		<div class="itemInListTitle">
			<%= link_to object.email, admin_person_path(object) %>
		</div>
		<div class="itemInListActions">
			<%= link_to I18n.t('general.link.edit'), edit_admin_person_path(object)%> |
			<%= link_to I18n.t('general.link.delete'), 
						admin_person_path(object), 
						:method => :delete, 
						:confirm =>  I18n.t('item.destroy.delete_conform')%>
		</div>		
	</div>
</div>
<% end -%>

<%= remote_pagination(@paginated_objects, admin_people_path) %>