    <%= link_to image_tag("/images/icons/left.png"), (current_workspace ? list_admin_workspace_workspace_contacts_path(current_workspace.id) : admin_people_path) %>
    <%= I18n.t('general.common_word.'+@current_object.salutation)  if !@current_object.salutation.to_s.blank? || !@current_object.salutation.nil?   %>
    <%= @current_object.first_name %> <%= @current_object.last_name %>
    <%= link_to image_tag('icons/pencil.png'), edit_admin_person_path, :class => "pencil"  %>

  	<p><%= I18n.t('people.field.email_label') %>  : <%= @current_object.email %></p>
  	<p><%= I18n.t('people.field.primary_phone_label') %>  : <%= @current_object.primary_phone %></p>
  	<p><%= I18n.t('people.field.notes_label') %>  : <%= @current_object.notes %></p>