<% form_for :contacts_workspaces, :url => list_admin_workspace_workspace_contacts_path(current_workspace.id), :html => { :method => :post } do |f| %>

<div class="itemShowLeft">
	<div class="itemShowLeftDate">
		<%= I18n.l Time.now, :format =>:verb %>
	</div>
	<div class="itemShowLeftBody">
		<h1><%= I18n.t('group.contacts.title') %></h1>
		  <table width="100%" cellpadding="5" cellspacing="0" style="margin-bottom:50px;">
		    <tr>
		      <td colspan="2" class="contact_classify">
		        <img src="/images/icons/filter.png" width="20"/>
		        <%= params[:order] 	== 'created_at' ? 
								   	I18n.t('workspace_contact.list.order_by_time') :
								 	link_to(I18n.t('workspace_contact.list.order_by_time'),
								    list_admin_workspace_workspace_contacts_path(current_workspace.id)+'?order=created_at') %>
				| 
		        <%= params[:order] 	== 'email' ? 
									I18n.t('workspace_contact.list.order_by_email') :
									link_to(I18n.t('workspace_contact.list.order_by_email'), list_admin_workspace_workspace_contacts_path(current_workspace.id)+'?order=email&way=ASC') %> |
									
		        <%= params[:restriction] 	== 'all' ? 
											I18n.t('workspace_contact.list.all_contacts') :
											link_to(I18n.t('workspace_contact.list.all_contacts'),
											 list_admin_workspace_workspace_contacts_path(current_workspace.id)+'?restriction=all') %> |
											
		        <%= params[:restriction] 	== 'non_linked' ? 
											I18n.t('workspace_contact.list.non_linked_to_a_group') : 
											link_to(I18n.t('workspace_contact.list.non_linked_to_a_group'),
											 list_admin_workspace_workspace_contacts_path(current_workspace.id)+'?restriction=non_linked') %>
		      </td>
		    </tr>
		    <% if !@current_objects.empty? %>
		      <% @i = 0%>
		      <% @current_objects.each do |member| %>
		        <% if @i%2 == 0 -%>
		          <tr class="contact_details">
		        <% else -%>
		          <tr bgcolor="#EEEEEE" class="contact_details">
		          <% end %>
		          <% @i += 1%>
		          <td>
		            <%= "#{member['email']} (#{member['first_name']} #{member['last_name']}) -- #{member['contact_type']} -- (#{member['state']})" %>
		          </td>
		          <td style="font-size:80%;text-align:right;">
		            <% if member['permission'] %>
		              <% if member['contact_type']=='Person' %>
		                <%#= link_to image_tag('/images/icons/play.png', :width => "20"), admin_workspace_person_path(current_workspace.id, member['contact_id']) %>
		                <%= link_to I18n.t('general.link.edit'), 
									edit_admin_workspace_person_path(current_workspace.id, member['contact_id']) %> |
		               
						<%= link_to I18n.t('general.link.delete'), "javascript:;",
									:class => "deleteLink", 
									:modal_id => "#modalDelete_#{member['contact_id']}"
						 %>

						<div style="display:none">
							<div id="modalDelete_<%=member['contact_id']%>" class="modalDelete">
								<p><%= I18n.t('item.destroy.delete_conform')%></p>
								<%= link_to I18n.t('general.common_word.yes1'), 
											admin_workspace_person_path(current_workspace.id, member['contact_id']),
											:method => :delete%> | 
								<%= link_to I18n.t('general.common_word.no1'), "javascript:;", :class => "deleteClose" %>
							</div>
						</div>		
		              <% end %>
		              <% if member['contact_type']=='WebsiteContact' %>
		                <%#= link_to image_tag('/images/icons/play.png', :width => "20"), workspace_website_contact_path(current_workspace.id, member['contact_id']) %>
		                <%= link_to I18n.t('general.link.edit'), 
									edit_workspace_website_contact_path(current_workspace.id, member['contact_id']) %> |
		                <%= link_to I18n.t('general.link.delete'), "javascript:;",
									:class => "deleteLink", 
									:modal_id => "#modalDelete_#{member['contact_id']}"
						 %>

						<div style="display:none">
							<div id="modalDelete_<%=member['contact_id']%>" class="modalDelete">
								<p><%= I18n.t('item.destroy.delete_conform')%></p>
								<%= link_to I18n.t('general.common_word.yes1'), 
											workspace_website_contact_path(current_workspace.id, member['contact_id']),
											:method => :delete%> | 
								<%= link_to I18n.t('general.common_word.no1'), "javascript:;", :class => "deleteClose" %>
							</div>
						</div>
		              <% end %>
		
						 <%= check_box_tag   'contacts_workspaces_ids[]', 
												member['id'], false,
												:class => 'checkboxes' %>
												
		            <% end %>
		          </td>
		        </tr>
		      <% end %>
		    <% else %>
		      <tr><td> <%= I18n.t('workspace_contact.list.no_contacts') %>  </td></tr>
		    <% end %>
		  </table>
		
	
		<h1>Collectives <%= I18n.t('workspace_contact.list.action').pluralize %></h1>
		
		<table style="font-size:90%">
			<tr>
				<td><%= radio_button_tag 'to_do', 'remove', false, :class => "checkboxes" %></td>
				<td><%= I18n.t('workspace_contact.list.remove_these_contacts_from_this_worksapce') %></td>
			</tr>
			<tr>
				<td><%= radio_button_tag 'to_do', 'link', false, :class => "checkboxes"  %></td>
				<td><%= I18n.t('workspace_contact.list.link_these_contacts_to_group') %> : 
					<%= select_tag  'group_id', 
									options_for_select(current_workspace.groups.all(:order => 'title ASC').map{ |e| [e.title, e.id] }) %>
					</td>
			</tr>
			<tr>
				<td><%= radio_button_tag 'to_do', 'change_state', false, :class => "checkboxes" %></td>
				<td><%= I18n.t('workspace_contact.list.change_state_to') %> : 
				<%= select_tag  'state', 
								options_for_select({I18n.t('general.common_word.subscribed').capitalize => 'subscribed',
									 				I18n.t('general.common_word.unsubscribed').capitalize => 'unsubscribed'},
									 				'subscribed' ) %>
				</td>
			</tr>
		</table>
				
		<button id="submit_button" class="submitButton" type="submit">
			<span><%= I18n.t('workspace_contact.list.do_the_action')%></span>
		</button>
	</div>
</div>
<div class="rightBlocks">
	<div class="itemShowRightBlock">
		<div class="blockCornerLeft"></div><div class="blockElementHeader twoH">
			<%= I18n.t('workspace_contact.list.action').pluralize %>
		</div><div class="blockCornerRight"></div>
		<div class="blockElementBody">
			<%= link_to "Go back to Workspace", admin_workspace_path(current_workspace.id) %>
			<%= link_to I18n.t('group.contacts.select_contacts'),
			 			select_admin_workspace_workspace_contacts_path(current_workspace.id) %>
			<%= link_to I18n.t('group.contacts.add_people'), 
						new_admin_workspace_person_path(current_workspace.id) %>
			<%= link_to I18n.t('people.index.import_people_from_csv'), 
						import_people_admin_workspace_people_path %>
		</div>
	</div>
</div>
<% end %>