<% item_show( :title => 'Newsletter',  :object => @current_object ) do %>

  <%= @current_object.body %>

  <form id="" method="post" action="<%= send_to_a_group_admin_workspace_newsletter_path(current_container, @current_object) %>">
      <h1><%= I18n.t('newsletter.send_newsletter.send_newsletter_to_user_list') %></h1>
      <input type="hidden" name="newsletter_id" value="<%= @current_object.id %>">
	  
	      <select name="group_id" id="group_id">
	        <option value="0">--------------</option>
	        <%for group in @groups %>
	          <option value="<%=group.id%>"> <%=group.title%> </option>
	        <% end %>
	      </select>
      <button type="submit" class="submitButton" onclick="if($('group_id').value == 0){return false;}" >
		<span><%= I18n.t('newsletter.send_newsletter.send_newsletter') %></span>
	  </button>
    </form>


	<h1><%= I18n.t('newsletter.send_newsletter.sent_to') %></h1>
	<% if @current_object.groups_newsletters.size > 0 -%>
	    <% for g_n in @current_object.groups_newsletters.find(:all, :include => [:group]) %>
          <% if g_n.group %>
            <%= link_to g_n.group.title, admin_workspace_group_path(g_n.group.workspaces.first.id, g_n.group_id) %> <%= I18n.t('general.common_word.on1') %> <%= I18n.l g_n.sent_on, :format => :long %> <br />
          <% end %>
	    <% end %>
	<% else -%>
		<%= I18n.t('newsletter.show.not_already_sent') %>
    <% end-%>
<% end %>
