<% @paginated_objects.each do |object| %>
<div class="itemInList">
	<div class="itemInListDate">
		<%= I18n.l object.created_at, :format =>:verb %>
	</div>
	<div class="itemInListBody">
		<div class="itemInListTitle">
			<%= link_to object.login + ' (' + object.full_name + ')', admin_user_path(object) %>
		</div>
		<div class="itemInListActions">
			<%= link_to I18n.t('general.link.edit'), edit_admin_user_path(object)%> |
			
			<% if object.activation_code.to_s.size > 10 %>
				<%= link_to I18n.t('general.link.delete'), "javascript:;",
							:class => "deleteLink", 
							:modal_id => "#modalDelete_#{object.id.to_s}"
				%>

				<div style="display:none">
					<div id="modalDelete_<%=object.id.to_s%>" class="modalDelete">
						<p>I18n.t('general.common_word.confirmation')</p>
						<%= link_to I18n.t('general.common_word.yes1'), admin_user_path(object.id), :method => :delete%> | 
						<%= link_to I18n.t('general.common_word.no1'), "javascript:;", :class => "deleteClose" %>
					</div>
				</div>
	        <% else %>
	            <%= link_to (object.activation_code=='locked' ? 'Unlock' : 'Lock'), locking_admin_user_path(object.id) %>
	        <% end %>
		</div>
	</div>
</div>
<% end %>

<%= remote_pagination(@paginated_objects, admin_users_path) %>