<%h content_for :title, "#{@current_object.class.to_s}: "+current_object.full_name %>
<div class="itemShowLeft">
    <div class="itemShowLeftDate">
        <%= I18n.l current_object.created_at, :format =>:verb %>
    </div>
    <div class="itemShowLeftBody">
        <h1><%= @current_object.full_name %></h1>

		<%= image_tag @current_object.avatar.url(:thumb), :class => "avatar", :align => "left"%>
        <p><%=I18n.t('user.field.address_label')%> : <%= @current_object.address %></p>
		<p><%=I18n.t('user.field.email_label')%> : <%= @current_object.email %></p>
		<p><%=I18n.t('user.field.phone_label')%> : <%= @current_object.phone %>	- <%= @current_object.mobile %></p>
		<p><%= @current_object.edito %></p>
		
		<% if @current_object.activation_code.to_s.length > 15 and current_user.has_system_role('admin') %>
		    <form action="<%= resend_activation_mail_or_activate_manually_user_path(@current_object.activation_code) %>" method="post" >
		      <input type="submit" name="resend_activation_mail" value="Resend activation mail" />
		      <input type="submit" name="activate_manually" value="Activate manually" />
		    </form>
		<% end %>
    </div>
</div>
<div class="rightBlocks">
    <div class="itemShowRightBlock">
		<div class="blockCornerLeft"></div><div class="blockElementHeader twoH">Actions</div><div class="blockCornerRight"></div>
        <div class="blockElementBody">
			<% if @current_object.has_permission_for?('edit', @current_user) -%>	
				<%= link_to "EDIT", edit_admin_user_path %>
			<% end-%>		
			<%= link_to I18n.t('general.object.comment').pluralize.capitalize, admin_comments_path %>
    		<%= link_to I18n.t('rating.index.link').pluralize, admin_ratings_path %>
				<%= link_to I18n.t('general.notification.link'), admin_user_notification_path(@current_user) %>
        </div>
    </div>
    <div class="itemShowRightBlock">
        <div class="blockCornerLeft"></div><div class="blockElementHeader twoH">
        	Role - <%= I18n.t('general.role.'+@current_object.system_role.name) %>
        </div><div class="blockCornerRight"></div>
        <div class="blockElementBody">
           	<%= render :partial => 'workspaces', :object => @current_object %>
        </div>
    </div>
</div>
