<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Created by: Reality Software | www.realitysoftware.ca
Released by: Free Web Design Community | www.designity.org
Note: This is a free template released under the Creative Commons Attribution 3.0 license, 
which means you can use it in any way you want provided you keep links to authors intact.
Don't want our links in template? You can pay a link removal fee: www.realitysoftware.ca/templates/
You can also purchase a PSD-file for this template.
-->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><%= page_title %></title>
        <meta name='description' content="<%= page_description %>"/>
        <meta name='keywords' content="<%= page_keywords %>"/>
        <meta name='description' content=''/>
        <meta name='keywords' content=''/>
        <link rel="stylesheet" href="/website_templates/carbonizer/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
        <link rel="stylesheet" href="/stylesheets/colorbox.css" type="text/css" />
        <script type="text/javascript" src="javascripts/application.js"></script>
        <script src="/javascripts/jquery.js" type="text/javascript"></script>
        <script src="/javascripts/jquery.colorbox-min.js" type="text/javascript"></script>
    </head>

    <body>
        <div id="container">
            <!-- header -->
            <div id="header">

                <div id="logo"><a href=""><%= site_title %></a></div>

            </div>

            <div id="menu">
                <%= menu_generator %>
            </div>
            <!--end header -->
            <!-- main -->
            <div id="main">

                <div id="sidebar">
                    <h3>Latest Articles</h3>
                    <ul>
                        <%= articles(:field => 'created_at', :order => 'desc', :limit => 5) %>
                    </ul>
                    <h3>Other</h3>
                    <ul>
                        <%= items(:items => ['image','audio', 'video','cms_file']) %>
                    </ul>
                    <h3>Sidebar</h3>
                    <ul>
                        <li><a href="#">Sidebar item</a></li>
                        <li><a href="#">Sidebar item</a></li>
                        <li><a href="#">Sidebar item</a></li>
                        <li><a href="#">Sidebar item</a></li>
                    </ul>
                </div>

                <div id="text">
                    <%=yield%>
                </div>

            </div>
            <!-- end main -->
            <!-- footer -->
            <div id="footer">

                <div id="footer_left">&copy; Copyright 2010 <%= site_title %></div>

                <div id="footer_right">
                    <!-- Please do not change or delete these links. Read the license! Thanks. :-) -->
                    Design by <a href="http://www.designity.org/">Free Web Design Community</a>
                    Powered by <a href="http://www.blankapplication.org/">ThinkDRY:Blank Application</a>
                </div>

            </div>
            <!-- end footer -->
        </div>
    </body>
</html>
