<fieldset>
  <legend>Add a key in the translations files</legend>

  <% form_for :res, :url => translation_new_admin_translations_path do |f| %>

    <label>SECTION</label>
	<div class="formElement"><%= f.select :section, translation_sections %></div>
	<label>SUBSECTION</label>
	<div class="formElement"><%= f.text_field :subsection %></div>
	<label>KEY</label>
    <div class="formElement"><%= f.text_field :key %></div>
    <% LANGUAGES.each do |l| %>
      <label>Translations for <%= l %> : </label>
	  <div class="formElement"><%= text_field_tag "translations[#{l}]" %></div>
    <% end %>  

    <div class="centerButton"><button type="submit" class="submit_button"><%=I18n.t('general.button.add')%></button></div>
  <% end %>
</fieldset>