<% if menu.children %>
  <ul id="submenu_<%=menu.id%>">
    <% for child in menu.children -%>
      <li><%=h(child.name) %>&nbsp;
        <%= link_to_remote "<b> Add Child </b>", :url => new_admin_website_menu_path(@website.id, :parent_id => child.id ), :method => :get %> |
        <%= link_to_remote "<b> Edit </b>", :url => edit_admin_website_menu_path(@website.id, child.id ), :method => :get %> |
        <%= link_to_remote "<b> Remove </b>", :url => admin_website_menu_path(@website.id, child.id ), :method => :delete %>
      </li>
      <%= render :partial => 'child', :locals => {:menu => child} %>
    <% end -%>
  </ul>
  <%#= sortable_element("submenu_#{menu.id}") %>
<% end %>

