<div class="addingMenuSection">
		<% remote_form_for  @menu,
		   					:url => (@menu.new_record? ? (admin_website_menus_path(@website.id, :parent_id => @menu.parent_id)) : (admin_website_menu_path(@website.id, @menu.id))),
		   					:method => (@menu.new_record? ? :post : :put) do |f|%>

			<p>
				This form helps you to create a menu node for the current website, create a name and select a page you want to display and let's rock.
			</p>
			
			<label>Name :*</label>
			<div class="formElement">
				<%= f.text_field :name %>	
			</div>

      <label>SEO Page Title :*</label>
			<div class="formElement">
				<%= f.text_field :seo_title %>	
			</div>

			<label>Page :</label>
			<div class="formElement">
			  	<%= f.select :page_id, @pages.collect {|p| [ p.title, p.id ] }, :include_blank => true %>
			</div>				

      <label>Result Set :</label>
			<div class="formElement">
			  	<%= f.select :result_set_id, @result_sets.collect {|r| [ r.title, r.id ] }, :include_blank => true %>
			</div>
      <%= f.hidden_field :link_on, :value => @menu.link_on %>				
			<button type="submit" class="submitButton"><span>Submit</span></button>
		<% end %>
</div>
