<style>
 #menu_generator {
  font-size:150%;
  line-height:200%;
 }

 #menu_generator a {
   font-size:50%
 }
 
 #menu_generator ul{
  margin-left:25px;
 }
</style>
<%= image_tag("/images/icons/left.png")%>&nbsp;<%= link_to "Back to Website", admin_website_path(@website)%>
<h1>Menu Generator</h1>
<p>
  Menu Generator is used to create dynamic menus for the websites. <br />
  Click on the Main Menu to start <br />
</p><br />
<div id="message" style="color:green"></div>
<div id='menu_form'></div>
<br />
<br />
<%= link_to_remote "Add Main Menu", :url => new_admin_website_menu_path(@website.id), :method => :get %>
<div id='menu_generator'>
  <%= render :partial => 'menu', :locals => {:menus => @menus} %>
</div><br />
<%= button_to_function 'Done', :onclick => "window.location.href ='#{admin_website_path(@website.id)}'" %>
