<fieldset>
<legend>Vue du flux RSS</legend>

<br />

<h1 class="pub"><%= image_tag "rss.png"%>  Détail de la requête RSS : <small class="grey"><%= @current_object.title %> (<%= @current_object.feed_items.count %>)</small></h1>

Name : <%= @current_object.title %><br />
URL : <%= @current_object.url %><br />

Here are the feeds on this url :<br /><br />

<%= render :partial => "item", :collection => @feed_items %>

<%= will_paginate @feed_items %>
</fieldset>