<fieldset>
<legend><img src="/images/item_icons/feed_source_add.png"/><%=I18n.t('layout.new_rss_feed')%></legend>
	<h1><%=I18n.t('layout.new_rss_feed_option_one')%></h1>
    <% form_for :daurl, :url => '/feed_sources/check_feed' do |f| %>
      <%= f.text_field :value %>
      <%= f.submit I18n.t("layout.new_rss_feed_check"), :class => "submit_button" %>
	  <br/><br/>
	  <p></p>
    <% end %>
	
    <h1><%=I18n.t('layout.new_rss_feed_option_two')%></h1>
    <p>(under construction, modal windows possibility or ajax div show)</p>
	<h1><%=I18n.t('layout.new_rss_feed_option_three')%></h1>
	<%= button_to I18n.t("layout.new_rss_feed_create"), '/feed_sources/new', :class => 'submit_button' %>
</fieldset>