<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <link rel="shortcut icon" href="<%= @configuration['sa_favicon_url'] %>"/>
  <%= stylesheet_link_tag "application_bis.css" %>
  <%= stylesheet_link_tag "form.css" %>
  <%= stylesheet_link_tag "starbox.css" %>
  <%= stylesheet_link_tag "middle_bis.css" %>
  <link rel="stylesheet" type="text/css" href="/prototip2.0.4/css/prototip.css" />
  <%= javascript_include_tag :all, :cache => true %>
  <script type='text/javascript' src='/prototip2.0.4/js/prototip.js'></script>
  <%= calendar_date_select_includes %>
  <title>
    <%= I18n.t 'layout.application.title' %> -
    <%= params[:action].capitalize if params[:action] != 'index' %>
    <%= params[:controller].capitalize %>
  </title>
</head>

<body>
<div id="page_container">
  <div id="header">
  	<%= render :partial => "layouts/header"%>
  </div>	
  <div id="container">
    <div id="middle-middle">
      <%= content_tag(:div, flash[:notice], :class => 'notice') if flash[:notice] %>
      <%= content_tag(:div, flash[:error], :class => 'error') if flash[:error] %>
      <%= yield %>
    </div>
  </div>
  <div id="footer">
      <div id="footerSearch">
      	<div id="search_middle">
      	<% unless @hide_full_text_search %>
            <% form_for :search, @search, :url => searches_path, :html => { :method => :get, :name => 'search' } do -%>				
				<p>Search </p>
	            <%= text_field_tag "search[full_text_field]", (params[:search] ? params[:search][:full_text_field] : I18n.t('layout.search.search_label')), :class => "style_text", :onfocus => '$(this).select()' %>
				<p><%= I18n.t 'general.common_word.in'%></p>
	            <%= select_search_models %>
              	<%= link_to(image_tag("search_button.gif"), "javascript:void(1);", :onclick => "document.search.submit();", :class => "search_button") %>			              
            <% end -%>
      	  <% end %>
		 	</div>
      </div>
	  <div id="footerBody">
	  	<div class="footerCol">
	  		<h3>Last Content</h3>
			<% GenericItem.consultable_by(current_user.id).latest.each do |l|%>
				<p><%= link_to l.title, item_path(l) %></p>
    		<%end%>
	  	</div>
		<div class="footerCol">
	  		<h3>configuration</h3>
			<p><img src="/images/icons/lang.png"/>language : <%= select_languages %></p>
			<p><img src="/images/item_icons/rss_feed.png" width="20"/>rss subscription</p>
			<p><a href="mailtp:contact@thinkdry.com">contact</a></p>
			<p><%= link_to "My account", user_path(current_user) %></p>
			<p><%= link_to I18n.t('layout.application.logout'), '/logout' %></p>
	  	</div>
		<div class="footerCol">
	  		<h3>Tag Wall</h3>
	  	</div>
	  </div>
	  <p id="footerP">©thinkDRY 2007 - 2009 Trademarks belong to their respective owners. All rights reserved.</p>
  </div>
</div>
</body>
</html>
	