<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <link rel="shortcut icon" href="<%= get_sa_config['sa_favicon_url'] %>"/>
  <%= stylesheet_link_tag "application.css" %>
  <%= stylesheet_link_tag "form.css" %>
  <%= stylesheet_link_tag "starbox.css" %>
  <%= stylesheet_link_tag "middle.css" %>
  <link rel="stylesheet" type="text/css" href="/prototip2.0.4/css/prototip.css" />
  <%= javascript_include_tag :all, :cache => true %>
  <script type='text/javascript' src='/prototip2.0.4/js/prototip.js'></script>
  <%= calendar_date_select_includes %>
  <title>
    <%= I18n.t 'layout.application.title' %> -
    <%= params[:action].capitalize if params[:action] != 'index' %>
    <%= params[:controller].capitalize %>
  </title>
</head>

<body>
<div id="page_container">
  <div id="header">

    <div id="logo">
      <%if current_workspace.nil? %>
      <%= link_to image_tag(get_sa_config['sa_logo_url'].to_s), "/" %>
      <%else%>
      <%= link_to image_tag(current_workspace.logo.url(:medium)), workspace_path(current_workspace) %>
      <%end%>
    </div>
    <div id="header_right">
      <div id="main_links">
        <%= I18n.t('layout.application.welcome_message') %>
        <b><%= link_to @current_user.firstname.capitalize, user_path(current_user) %></b> |
        <%= link_to I18n.t('layout.application.administration'), administration_user_path(current_user) %> |
		<% if current_user.has_system_role('superadmin') %>
          <%= link_to I18n.t('layout.application.superadministration'), superadministration_path("general") %> |
        <% end %>
        <%= link_to I18n.t('layout.application.logout'), '/logout' %>
        <%= select_languages %>
        <%# available_languages_list.each do |l| %>
        <%#= link_to_remote image_tag("countries/#{l.split('-').first}.jpg"), :url => change_language_session_path(:locale => l) %>
        <%# end %>
      </div>
    </div>
  </div>
  <div id="container">
    <div id="middle-right">
      <h3><%= I18n.t('layout.application.workspaces_selection') %></h3>
      <select name="slct_WS" onchange="document.location.href = this.value">
        <option selected="selected" value='#'>
          <%= I18n.t('layout.application.workspaces') %>
        </option>
        <option selected="selected" value='#'>
          ----------
        </option>
        <% Workspace.allowed_user_with_permission(@current_user.id, 'workspace_show').each do |w| %>
          <%= content_tag(:option, w.title, :value => workspace_path(w)) %>
        <% end %>
        <% if @current_user.has_system_permission('workspace', 'new') %>
          <option selected="selected" value='#'>
            ----------
          </option>
          <option value="<%= new_workspace_path %>">
            <%= I18n.t('layout.application.new_workspace') %>
          </option>
        <% end %>
      </select>
      <% if @current_user.users_workspaces.blank? %>
        <p><%= I18n.t('layout.application.no_add_content') %><p>
      <% else %>
      <h3><%= I18n.t('layout.application.add_content') %></h3>
      <form name="form1" method="post" action="" id="form1">
        <select name="slct_filtre" id="slct_filtre" onchange="document.location.href = this.value">
          <option selected="selected" value='#'>
            --------
          </option>
          <% item_types_allowed_to(@current_user, 'new').each do |type| %>
            <% if type=='feed_source' %>
              <option value="/feed_sources/what_to_do">
                <%= I18n.t "general.item.#{type}" %>
              </option>
            <% else %>
              <option value="<%= new_item_path(type.camelize) %>">
                <%= I18n.t "general.item.#{type}" %>
              </option>
            <% end %>
          <% end %>
        </select>
      </form>
      <% end %>
      <h3>Menu</h3>
      <div id="midle-right-menu">
        <p><%= image_tag "/images/icons/home.png"%><%= link_to I18n.t('layout.application.home'), '/' %></p>
        <p><%= image_tag "/images/icons/content.png" %><%= link_to I18n.t('layout.application.content'), content_path(get_default_item_type) %></p>
      </div>
    </div>
    <div id="middle-middle">
      <% unless @hide_full_text_search %>
        <div id="search-bar-container">
          <div id="search_top"></div>
          <div id="search_middle">
            <% form_for :search, @search, :url => searches_path, :html => { :method => :get, :name => 'search' } do -%>
              <%= text_field_tag "search[full_text_field]", (params[:search] ? params[:search][:full_text_field] : I18n.t('layout.search.search_label')), :class => "style_text", :onfocus => '$(this).select()' %>
              <p><%= I18n.t 'general.common_word.in'%></p>
              <%= select_search_models %>
              <%= link_to(image_tag("search_button.gif"), "javascript:void(1);", :onclick => "document.search.submit();", :class => "search_button") %>
              <br />
              <a class="advanced_search" onclick="new Ajax.Updater('advanced_search', '/searches/print_advanced?search[category]='+$('search_category').value);"><%= I18n.t('layout.application.advanced_search') %></a>&nbsp;&nbsp;
              <div id="advanced_search">
                <% if @search.new_record? %>
                  <%= render :partial => 'searches/advanced_search', :locals => { :category => @search.category } %>
                <% end %>
              </div>
            <% end -%>
          </div>
          <div id="search_bottom"></div>
        </div>
      <% end %>
      <%= content_tag(:div, flash[:notice], :class => 'notice') if flash[:notice] %>
      <%= content_tag(:div, flash[:error], :class => 'error') if flash[:error] %>
      <%= yield %>
    </div>
  </div>
  <div id="footer">
      <div class="name">
        <%=  I18n.t 'layout.footer.title' %>
      </div>
      <div class="menu">
        <%= link_to I18n.t('layout.footer.contact'), "#" %>&nbsp;|&nbsp;
        <%= link_to I18n.t('layout.footer.site_map'), "#" %>&nbsp;|&nbsp;
        <%= link_to I18n.t('layout.footer.faq'), "#" %>
      </div>
    </div>
</div>
</body>
</html>
	