<html>
	<head>
		<%= stylesheet_link_tag "application.css" %>
		<%= javascript_include_tag :all %>
	</head>

<body onload="initialize()">
<div id="page">
	<div id="menu_up">
		<div id="site_title">Artic</div>
		<div id="site_subtitle">Outil de publication scientiques</div>
		<div id="navigation">
			<%= link_to 'Mon compte', '#' %>
			<%= link_to 'Tout le contenu', '' %>
			<%
				current_user.workspaces.each do |w|
					concat link_to(w.name, '#') + ' ', binding
				end
			%>
			<%= link_to 'Nouvel espace de travail' %>
			<%= link_to 'Recherche' %>
		</div>
		<div id="site_links">
			<%= link_to 'Se déconnecter', '#' %> |
			<%= link_to 'Administration' %>
		</div>
	</div>

	<% if session && session[:menu] %>
		<div id="menu_right">
			<%= render :partial => "#{session[:menu]}/menu" %>
		</div>
	<% end %>

	<%= content_tag(:div, flash[:notice], :class => 'notice') if flash[:notice] %>

	<%= yield %>
</div>
</body>
</html>