<html>
	<head>
		<%= stylesheet_link_tag "application.css" %>
		<%= stylesheet_link_tag "form.css" %>
		<%= stylesheet_link_tag "starbox.css" %>
		<%= javascript_include_tag :all %>
		<%= calendar_date_select_includes nil %>
	</head>

<body onload="initialize()">
<div id="page">
	
	<div id="header">
		<div id="logo">
			<%= image_tag 'logo.gif', :width => '400', :height => '80' %>
		</div>
		<div id="header_right">
			<div id="main_links">
				Bienvenue <%= @current_user.firstname.capitalize %> | <%= link_to 'Mon compte', user_path(current_user) %> </a> | <%= link_to 'Administration', '/admin' %>  | <%= link_to 'Se déconnecter', '/logout' %>
			</div>
			<div id="MenuHR">
				<ul>
					<li>
						<%= link_to 'Accueil', '/' %>
					</li>
					<li>
						<%= link_to 'Contenu', '/items' %>
					</li>
					<li>
						<%= link_to 'Rechercher' %>
					</li>
				</ul>
				<div id="slct_WS">
					<select name="slct_WS">
						<option>
							Espace de travail
						</option>
						<option>
							----------
						</option>
						<% @current_user.all_workspaces.each do |w|
							concat\
								content_tag(:option, w.name, :onclick => "document.location.href = '#{workspace_path(w)}'"),
								binding
						end %>
						<option>
							----------
						</option>
						<option onclick="document.location.href='/items'">
							Tout le contenu
						</option>
						<option>
							----------
						</option>
						<option onclick="document.location.href='<%= new_workspace_path %>'">
							Nouvel espace de travail
						</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	
	<div id="container">
		<%= content_tag(:div, flash[:notice], :class => 'notice') if flash[:notice] %>
		<%= yield %>
	</div>

</div>
</body>
</html>