<html>
	<head>
		<%= stylesheet_link_tag "application.css" %>
		<%= javascript_include_tag :all %>
	</head>

<body onload="initialize()">
<div id="page">
	
	<div id="menu_up">
		<div id="site_title">Artic</div>
		<div id="site_subtitle">Publications scientifiques</div>
		<div id="site_links">
			<%= link_to 'Se déconnecter', '/logout' %> |
			<%= link_to 'Administration', :controller => :admin %>
		</div>
		<div id="navigation">
			<ul>
				<li>
					<%= link_to 'Acceuil - Mon compte', '/' %>
				</li>
				<li>
					<%= link_to 'Contenu', workspaces_path %>
				</li>
				<li>
					<%= link_to 'Recherche', '' %>
				</li>
			</ul>
		</div>
		<div id="page_title">

		</div>
	</div>
	
	<div id="container">
		<%= content_tag(:div, flash[:notice], :class => 'notice') if flash[:notice] %>
		<%= right_menu %>
		<%= yield %>
	</div>

</div>
</body>
</html>