<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <% @logo = Picture.find_by_name('logo') %>
  <link rel="shortcut icon" href="<%= @logo.favicon.url(:thumb) %>"/>
  <%= stylesheet_link_tag "application.css" %>
  <%= stylesheet_link_tag "form.css" %>
  <%= stylesheet_link_tag "starbox.css" %>
  <%= stylesheet_link_tag "middle.css" %>
  <link rel="stylesheet" type="text/css" href="/prototip2.0.4/css/prototip.css" />
  <%= javascript_include_tag :all, :cache => true %>
  <script type='text/javascript' src='/prototip2.0.4/js/prototip.js'></script>
  <%= calendar_date_select_includes %>
  <title>
    <%= I18n.t 'layout.application.title' %> -
    <%= params[:action].capitalize if params[:action] != 'index' %>
    <%= params[:controller].capitalize %>
  </title>
</head>

<body>
<div id="page">
  <div id="header">
    <div id="logo">
			<%= link_to image_tag(@logo.picture.url(:large)), "/" %>
		</div>
    <div id="header_right">
      <div id="main_links">
        <%= I18n.t('layout.application.welcome_message') %>
        <b><%= link_to @current_user.firstname.capitalize, user_path(current_user) %></b> |
        <%= link_to I18n.t('layout.application.administration'), administration_user_path(current_user) %> |
		<% if current_user.is_superadmin? %>
          <%= link_to I18n.t('layout.application.superadministration'), superadministration_path("default") %> |
		<% end %>
        <%= link_to I18n.t('layout.application.logout'), '/logout' %>
        <%= select_languages %>
        <%# available_languages_list.each do |l| %>
          <%#= link_to_remote image_tag("countries/#{l.split('-').first}.jpg"), :url => change_language_session_path(:locale => l) %>
        <%# end %>
      </div>
    </div>
  </div>
  <div id="container">
    <div id="middle-right">
    	<h3><%= I18n.t('layout.application.workspaces_selection') %></h3>
	    <select name="slct_WS" onchange="document.location.href = this.value">
            <option selected="selected" value='#'>
              <%= I18n.t('layout.application.workspaces') %>
            </option>
            <option selected="selected" value='#'>
              ----------
            </option>
            <% (Workspace.administrated_by(@current_user) + Workspace.consulted_by(@current_user)).each do |w| %>
              <%= content_tag(:option, w.title, :value => workspace_path(w)) %>
            <% end %>
            <option selected="selected" value='#'>
              ----------
            </option>
            <option value="<%= administration_user_path(current_user) %>#new_workspace">
              <%= I18n.t('layout.application.new_workspace') %>
            </option>
         </select>
      <h3><%= I18n.t('layout.application.add_content') %></h3>
      <form name="form1" method="post" action="" id="form1">
        <select name="slct_filtre" id="slct_filtre" onchange="document.location.href = this.value">
          <option selected="selected" value='#'>
            --------
          </option>
          <% get_current_config["ws_items"].split(',').each do |type| %>
            <% if type=='feed_source' %>
              <option value="/feed_sources/what_to_do">
                <%= I18n.t "general.item.#{type}" %>
              </option>
            <% else %>
              <option value="<%= new_item_path(type.camelize) %>">
                <%= I18n.t "general.item.#{type}" %>
              </option>
            <% end %>
          <% end %>
        </select>
      </form>
	  </br>
	  <h3>Menu</h3>
	  <div id="midle-right-menu">
	  	<p><%= link_to I18n.t('layout.application.content'), content_path("articles") %></p>
	  	<p><%= link_to I18n.t('layout.application.home'), '/' %></p>
	  </div>
    </div>
    <div id="middle-middle">
      <% unless @hide_full_text_search %>
        <div id="search-bar-container">
          <div id="search-bar-left"></div>
          <div id="search-bar-middle">
            <% form_tag search_path, :method => :get, :name => "search" do -%>
              <%= text_field_tag :search, params[:search] || "#{I18n.t 'layout.search.search_label'}", :class => "style_text", :onfocus => '$(this).select()' %>
              <p><%= I18n.t 'general.common_word.in'%></p>
              <%= select_tag "model", options_for_select([[I18n.t('layout.application.all_elements'), nil], [I18n.t('general.item.image'), 'Image'], [I18n.t('general.item.video'), 'Video'], [I18n.t('general.item.cms_file'), 'CmsFile'], [I18n.t('general.item.article'), 'Article'], [I18n.t('general.item.publication'), 'Publication'], [I18n.t('general.item.audio'), 'Audio']], params['model']) %>
              <%= link_to(image_tag("search_button.gif"), "javascript:void(1);", :onclick => "document.search.submit();", :class => "search_button") %>
              <br />
              <%= link_to I18n.t('layout.application.advanced_search'), new_search_path, :class => "advanced_search" %>&nbsp;&nbsp;
            <% end -%>
          </div>
          <div id="search-bar-right"></div>
          <div class="clear"></div>
        </div>
      <% end %>
      <%= content_tag(:div, flash[:notice], :class => 'notice') if flash[:notice] %>
      <%= content_tag(:div, flash[:error], :class => 'error') if flash[:error] %>
      <%= yield %>
 
    </div>
    <div id="footer">
      <div class="name">
        <%=  I18n.t 'layout.footer.title' %>
      </div>
      <div class="menu">
        <%= link_to I18n.t('layout.footer.contact'), "#" %>&nbsp;|&nbsp;
        <%= link_to I18n.t('layout.footer.site_map'), "#" %>&nbsp;|&nbsp;
        <%= link_to I18n.t('layout.footer.faq'), "#" %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
