<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <link rel="shortcut icon" href="<%= @logo.favicon.url(:thumb) %>"/>
  <%= stylesheet_link_tag "application.css" %>
  <%= stylesheet_link_tag "form.css" %>
  <%= stylesheet_link_tag "starbox.css" %>
  <%= stylesheet_link_tag "middle.css" %>
  <link rel="stylesheet" type="text/css" href="/prototip2.0.4/css/prototip.css" />
  <%= javascript_include_tag :all, :cache => true %>
  <script type='text/javascript' src='/prototip2.0.4/js/prototip.js'></script>
  <%= calendar_date_select_includes %>
  <title>
    <%= I18n.t 'layout.application.title' %> -
    <%= params[:action].capitalize if params[:action] != 'index' %>
    <%= params[:controller].capitalize %>
  </title>
</head>

<body>
<div id="page">
  <div id="header">
    <div id="header_right">
      <div id="main_links">
        <%= select_languages %>
      </div>
    </div>
  </div>
  <div id="container">
    <div id="middle-right">
     
    </div>
    <div id="middle-middle">
      
      <%= content_tag(:div, flash[:notice], :class => 'notice') if flash[:notice] %>
      <%= content_tag(:div, flash[:error], :class => 'error') if flash[:error] %>
      <%= yield %>

    </div>
    <div id="footer">
      <div class="name">
        <%=  I18n.t 'layout.footer.title' %>
      </div>
      <div class="menu">
        <%= link_to I18n.t('layout.footer.contact'), "#" %>&nbsp;|&nbsp;
        <%= link_to I18n.t('layout.footer.site_map'), "#" %>&nbsp;|&nbsp;
        <%= link_to I18n.t('layout.footer.faq'), "#" %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
</body>
