<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<%# @logo = Picture.find_by_name('logo') %>
		<link rel="shortcut icon" href="<%= @configuration['sa_favicon_url'] %>"/>
		
		<%= stylesheet_link_tag "middle.css" %>
		<%= stylesheet_link_tag "pop_up.css" %>
		<%#= javascript_include_tag :all %>
		  
		<%#= calendar_date_select_includes %>
		<title>
			<%= I18n.t 'layout.select_a_file' %>
		</title>
		
		<script language="JavaScript1.2">
			function SelectFile( fileUrl ){
				window.opener.SetUrl( fileUrl ) ;
				window.close() ;
			}
		</script>
	</head>
	<body>
		<div id="page">
			<%= yield %>
		</div>
	</body>
</html>
